<%= render layout: 'layouts/guide', locals: {current_tab: :exercises} do %>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t :exercise_number %></th>
        <th><%= t :exercise %></th>
        <th><%= t :points %></th>
        <th><%= t :submissions_count %></th>
        <th><%= t :last_submission_date %></th>
      </tr>
      </thead>
      <tbody>
      <%= render collection: @exercises,
                 partial: 'layouts/contextualized_exercise/exercise',
                 locals: {user: current_user} %>
      </tbody>
    </table>
    <%= paginate @exercises %>
  </div>
<% end %>
