<h1><%= @path.name %></h1>
<%= @path.category.long_description_html %>

<% if @path.language.description.present? %>
  <div>
    <h2><%= "Sobre el lenguaje" %></h2>
    <%= @path.language.description_html %>
  </div>
<% end %>

<div>
  <% if current_user? %>
    <h2><%= t(:progress) %>
      <small> <%= @path.stats_for(current_user).passed_ratio %>%</small></h2>
  <% else %>
    <h2><%= t(:progress) %>
      <small> <%= @path.stats_for(current_user).passed_ratio %>%</small></h2>
  <% end %>

  <% @path.guides.each do |guide| %>
    <h3><%= guide.position %> <%= link_to_guide guide %></h3>
    <%= render partial: 'layouts/progress_bar', locals: {guide: guide, stats: guide.stats_for(current_user)} if current_user? %>
  <% end %>
</div>

<% if @path.category.links.present? %>
  <div>
    <h2><%= "Más información" %></h2>
    <%= @path.category.links_html %>
  </div>
<% end %>
