<div class="row">
  <div class="navbar">
    <div class="col-md-12">
      <%= link_to t('search'), search_path, class: 'btn btn-default' %>
      <%= link_to t('new_exercise'), new_exercise_path, class: 'btn btn-default' %>
      <%= link_to t('new_guide'), new_guide_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/submissions_panel/panel',
               heading: t('my_submissions'),
               submissions: @submissions,
               more_link: submissions_path %>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <%= render 'layouts/exercise_panel/panel',
               heading: t('my_exercises'),
               exercises: @exercises,
               more_link: user_exercises_path(current_user) %>
  </div>

  <div class="col-md-6">
    <%= render 'layouts/guides_panel/panel',
               heading: t('my_guides'),
               guides: @guides,
               more_link: user_exercises_path(current_user) %>
  </div>

</div>
