<% if current_user? %>
  <% if exercise.console? %>
    <%= hidden_field_tag(:stateful_console, exercise.stateful_console?) %>
    <%= hidden_field_tag(:prompt, exercise.prompt) %>
  <% end %>
  <%= render_exercise_input_form exercise %>

<% else %>
  <p><%= t :you_must_sign_in_before_submitting %></p>

  <div class="actions">
    <%= login_button class: 'btn btn-complementary w-100' %>
  </div>
<% end %>
