<% if current_user? %>
  <%= hidden_field_tag(:stateful_console, @exercise.stateful_console?) %>
  <%= hidden_field_tag(:exercise_language, @exercise.highlight_mode) %>
  <%= hidden_field_tag(:prompt, @exercise.prompt) %>
  <div>
    <%= render_exercise_input_form @exercise %>
  </div>
<% else %>
  <p><%= t :you_must_sign_in_before_submitting %></p>

  <div class="actions">
    <%= login_button class: 'btn btn-success btn-block' %>
  </div>
<% end %>
