<%= hidden_field_tag :console_endpoint, exercise_tries_path(exercise) %>
<%= hidden_field_tag :historical_queries, @assignment.queries_with_results.to_json %>

<% if exercise.extra_visible? %>
  <ul class="nav nav-tabs" role="tablist">
    <%= console_tab %>
    <% if exercise.extra_visible? %>
      <%= extra_code_tab %>
    <% end %>
  </ul>
<% end %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane mu-input-panel fade show active <%= pending_messages_filter(@assignment) %>" id="console">
    <% if @assignment.pending_messages? %>
        <span class="pending-messages-text"> <%= t :pending_messages_explanation %>
          <a href="javascript:{}"
             onclick="mumuki.Chat.readMessages('<%= read_messages_path(exercise) %>')"
             class="<%= hidden_pending(@assignment) %>"
             data-waiting="<%= t(:sending_solution) %>">
            <%= t :get_messages %>
          </a>
        </span>
    <% end %>
    <div class="console">
    </div>
    <div class="mu-overlapped">
      <%= restart_icon %>
    </div>
   </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade mu-elipsis" id="visible-extra">
    <%= @assignment.extra_preview_html %>
  </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade" id="messages">
    <%= render partial: 'layouts/messages', locals: {messages: @assignment.messages} unless @assignment.pending? %>
  </div>
</div>
<%# FIXME Duplicated view in problem_form %>
<% content_for :submission_results do %>
  <% if current_user? %>
    <div class="row">
      <div class="col-md-12 submission-results">
        <% if @assignment.solved?  %>
          <%= render partial: 'exercise_solutions/results',
                     locals: {assignment: @assignment, guide_finished_by_solution: false} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
