<%= hidden_field_tag :console_endpoint, exercise_queries_path(exercise) %>

<% if exercise.extra_visible? %>
  <ul class="nav nav-tabs" role="tablist">
    <%= console_tab active: true %>
    <% if exercise.extra_visible? %>
      <%= extra_code_tab %>
    <% end %>
  </ul>
<% end %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane mu-input-panel show active fade" id="console">
    <div class="console">
    </div>
    <div class="mu-overlapped">
      <%= restart_icon %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade mu-elipsis" id="visible-extra">
    <%= @assignment.extra_preview_html %>
  </div>
</div>
<div class="actions">
  <%= next_exercise_button exercise %>
</div>
