<%= hidden_field_tag(:exercise_language, exercise.highlight_mode) %>
<%= hidden_field_tag :console_endpoint, exercise_queries_path(exercise) %>

<% if should_render_problem_tabs? exercise, current_user %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
      <a class="editor-tab nav-link active" data-bs-target="#editor" aria-controls="editor" tabindex="0" role="tab" data-bs-toggle="tab">
        <%= fa_icon 'pen-square', text: (t :solution) %>
      </a>
    </li>
    <% if exercise.extra_visible? %>
      <%= extra_code_tab %>
    <% end %>
    <% if exercise.queriable? %>
      <%= console_tab %>
    <% end %>
    <%= messages_tab exercise %>
  </ul>
<% end %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane mu-input-panel fade show active" id="editor">
    <% if @assignment.pending_messages? %>
        <span class="pending-messages-text"> <%= t :pending_messages_explanation %>
          <a href="javascript:{}"
             onclick="mumuki.Chat.readMessages('<%= read_messages_path(exercise) %>')"
             class="<%= hidden_pending(@assignment) %>"
             data-waiting="<%= t(:sending_solution) %>">
            <%= t :get_messages %>
          </a>
        </span>
    <% end %>
    <%= form_for([exercise, @solution],
                 remote: true,
                 html: {role: 'form', class: "new_solution mu-editor mu-editor-overlap mu-form #{pending_messages_filter(@assignment)}"}) do |f| %>
      <div class="mb-3">
        <% if current_access_mode.submit_solutions_here? %>
          <%= render_exercise_input_editor f, exercise %>
        <% else %>
          <%= render_exercise_read_only_editor exercise, @assignment.solution %>
        <% end %>
      </div>

      <div class="actions mu-submit-button">
        <%= render_submit_button(@assignment) if current_access_mode.submit_solutions_here? %>
      </div>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade" id="console">
    <div class="mu-overlapped-container">
      <div class="console">
      </div>
      <div class="mu-overlapped">
        <%= restart_icon %>
      </div>
    </div>
    <div class="form-check">
      <input checked="checked" data-index="1" id="include_solution" type="checkbox" class="form-check-input">
      <label class="form-check-label" for="include_solution"><p><%= t(:load_solution_into_console) %></p></label>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade mu-elipsis" id="visible-extra">
    <%= @assignment.extra_preview_html %>
  </div>
  <div role="tabpanel" class="tab-pane mu-input-panel fade" id="messages">
    <%= render partial: 'layouts/messages', locals: {messages: @assignment.messages} unless @assignment.pending? %>
  </div>
</div>

<% content_for :submission_results do %>
  <% if current_user? %>
    <div class="row">
      <div class="col-md-12 submission-results">
        <% unless @assignment.pending? %>
          <%= render partial: 'exercise_solutions/results',
                     locals: {assignment: @assignment} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
