<%= render layout: 'discussions/message_container', locals: {user: user} do %>
  <div class="discussion-message-bubble">
    <div class="discussion-message-bubble-header">
      <div class="discussion-message-bubble-title">
        <%= linked_discussion_user_name user %>
        <% if message.from_moderator? %>
          <span class="moderator-badge"><%= t(:moderation) %></span>
        <% end %>
        <span class="message-date">
          <%= friendly_time(message.created_at, :time_since) %>
        </span>
        <span class="actions">
          <% if message.authorized?(current_user) && !message.deleted? %>
            <% if current_user&.moderator_here? %>
              <a class="discussion-message-approved <%= 'selected' if message.approved? %>"
                 <% if message.approved? && current_user&.forum_supervisor_here? %>
                   data-bs-toggle="tooltip" data-bs-placement="left"
                   title="<%= t :approved_by, validator: message.approved_by.name, date: local_time(message.approved_at) %>"
                 <% end %>
                 onclick="mumuki.Forum.discussionMessageToggleApprove('<%= approve_discussion_message_url(@discussion, message) %>', $(this))">
                <%= fa_icon(:check, class: 'fa-lg') %>
              </a>
              <% if message.from_initiator? %>
                <a class="discussion-message-not-actually-a-question <%= 'selected' if message.not_actually_a_question? %>"
                   onclick="mumuki.Forum.discussionMessageToggleNotActuallyAQuestion('<%= question_discussion_message_url(@discussion, message) %>', $(this))">
                  <%= fa_icon('question-circle', type: 'regular', class: 'fa-lg') %>
                </a>
              <% end %>
            <% end %>
            <% if message.from_user? current_user %>
              <%= discussion_delete_message_link @discussion, message %>
            <% else %>
              <%= discussion_delete_message_dropdown @discussion, message %>
            <% end %>
          <% end %>
          <% if should_show_approved_for?(current_user, message) %>
            <span class="discussion-message-approved selected">
              <%= fa_icon(:check, class: 'fa-lg', 'data-bs-toggle': 'tooltip', title: (t :approved_message)) %>
            </span>
          <% end %>
        </span>
      </div>
    </div>
    <div class="discussion-message-bubble-content">
      <div class="discussion-message-content">
        <% if message.deleted? %>
          <em><%= message_deleted_text message %></em>
          <% if message.from_user? current_user %>
            <p><%= t :deleted_message_warning %></p>
          <% end %>
          <% if current_user&.moderator_here? %>
            <hr>
            <%= t :deleted_by, deleter: message.deleted_by.name %>
            <%= friendly_time(message.deleted_at, :time_since) %>
            <a href='<%= "#deletedMessage#{message.id}" %>' data-bs-toggle="collapse">
              <%= t :show_message %>
            </a>
            <div id='<%= "deletedMessage#{message.id}" %>' class="collapse">
              <hr>
              <%= message.content_html %>
            </div>
          <% end %>
        <% else %>
          <%= message.content_html %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
