<%= form_for [@discussion, Message.new] do |f| %>
  <%= render layout: 'discussions/message_container', locals: {user: user} do %>
    <div class="discussion-message-bubble">
      <div class="discussion-message-bubble-header">
        <div class="discussion-message-bubble-title">
          <%= user.name %>
        </div>
      </div>
      <div class="discussion-message-bubble-content">
        <div class="container-fluid">
          <div class="row">
            <div class="discussion-new-message-content">
              <%= f.editor :content, '', { id: 'new-discussion-message', class: 'form-control', placeholder: t(:message) } %>
            </div>
            <div id="mu-message-preview"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="discussion-new-message-buttons">
      <button class="btn btn-default discussion-new-message-preview-button" type="button" onclick="mumuki.Forum.discussionMessagePreview('<%= discussion_preview_message_url(@discussion) %>')"> <%= t :preview %> </button>
      <%= f.submit t(:comment), class: 'btn btn-success discussion-new-message-button' %>
    </div>
  <% end %>
<% end %>
