<%= form_for [@discussion, Message.new] do |f| %>
  <%= render layout: 'discussions/message_container', locals: { user: user } do %>
    <div class="discussion-message-bubble">
      <div class="discussion-message-bubble-header">
        <div class="discussion-message-bubble-title">
          <%= discussion_user_name user %>
        </div>
      </div>
      <div class="discussion-message-bubble-content">
        <div class="container-fluid">
          <div class="row">
            <div class="discussion-new-message-content">
              <%= f.editor :content, '', { id: 'discussion-new-message', class: 'form-control', placeholder: t(:message) } %>
            </div>
            <div class="discussion-message-content d-none" id="discussion-new-message-preview"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="discussion-new-message-buttons">
      <% if user.moderator_here? %>
        <button class="btn btn-secondary discussion-new-message-preview-button preview" type="button" error-text="<%= t :preview_error %>"
                onclick="mumuki.Forum.discussionMessagePreview('<%= preview_discussion_message_url %>')"> <%= fa_icon('eye', text: t(:preview)) %> </button>
        <button class="btn btn-secondary discussion-new-message-preview-button edit d-none" type="button"
                onclick="mumuki.Forum.hidePreviewAndShowEditor()"> <%= fa_icon('pencil-alt', text: t(:edit_message)) %> </button>
      <% end %>
      <%= button_tag type: 'submit', class: 'btn btn-complementary discussion-new-message-button', data: { disable: true } do %>
        <%= fa_icon('comment', text: t(:comment)) %>
      <% end %>
    </div>
  <% end %>
<% end %>
