<%= content_for :breadcrumbs do %>
  <%= breadcrumbs(@debatable, t(:discussions)) %>
<% end %>

<div class="row">
  <div class="mu-inline-block-left">
    <h1><%= t :forum %></h1>
  </div>
</div>
<div class="row">
  <% if @debatable.respond_to? :language %>
    <div class="mu-inline-block-right d-none d-sm-block">
      <h3><%= language_icon @debatable.language %></h3>
    </div>
  <% end %>
  <div class="mu-inline-block-left">
    <h3>
      <span class="d-none d-sm-block"><%= t("#{@debatable_class.downcase}_number", number: @debatable.number) %>:&nbsp;</span>
      <span><%= @debatable.name %></span>
    </h3>
  </div>
</div>

<% if @discussions.empty? %>
  <%= new_discussion_link(:no_questions, :ask_the_first_question) %>
<% else %>
  <%= render partial: 'layouts/discussions' %>
  <%= new_discussion_link(:no_useful_result, :ask_a_question) %>
<% end %>

<%= content_for :no_container do %>
<% end if current_user? %>

<%= forum_terms_link %>


