<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_discussion @discussion, @debatable %>
<% end %>

<div>
  <div class="row">
    <% if current_user %>
      <div class="mu-inline-block-right hidden-xs discussion-user-menu">
        <h3>
          <% if @discussion.subscribable? %>
            <a class="discussion-subscription" onclick="mumuki.Forum.discussionSubscription('<%= subscription_discussion_url(@discussion) %>')">
              <%= fa_icon(:eye, class: 'fa-xs') %>
              <%= span_toggle t(:subscribe), t(:unsubscribe), current_user.subscribed_to?(@discussion) %>
            </a>
          <% end %>
          <% if @discussion.solved? %>
            <a class="discussion-upvote" onclick="mumuki.Forum.discussionUpvote('<%= upvote_discussion_url(@discussion) %>')">
              <%= fa_icon(:star, class: 'fa-xs') %>
              <%= span_toggle t(:upvote), t(:undo_upvote), current_user.upvoted?(@discussion) %>
            </a>
          <% end %>
        </h3>
      </div>
    <% end %>
    <div class="mu-inline-block-left">
      <div class="discussion-header">
        <h3 class="discussion-title">
          <%= @discussion.title %>
        </h3>
      </div>
      <div class="discussion-description">
        <%= label_for_status(@discussion.status) %> ·
        <span class="discussion-info">
          <span class="discussion-initiator-name">
            <%= @discussion.initiator.name %>
          </span>
          <%= discussion_info(@discussion) %>
        </span>
      </div>
    </div>
  </div>

  <div class="discussion-context">
    <%= render partial: 'exercises/read_only', locals: {exercise: @debatable} %>
  </div>

</div>

<% if @discussion.has_messages? || @discussion.commentable_by?(current_user) %>
  <hr class="message-divider">

  <h3>
    <%= t :messages %>
  </h3>

  <% if @discussion.has_messages? %>
    <div class="discussion-messages">
      <% if @discussion.description.present? %>
        <%= render partial: 'discussions/description_message', locals: {discussion: @discussion} %>
      <% end %>
      <% @discussion.messages.each do |message| %>
        <%= render partial: 'discussions/message', locals: {user: message.sender_user, message: message} %>
      <% end %>
      <% if @discussion.commentable_by?(current_user) %>
        <hr class="message-divider">
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'discussions/new_message', locals: {user: current_user} if @discussion.commentable_by?(current_user) %>

<% end %>

<div class="discussion-actions">
  <% @discussion.reachable_statuses_for(current_user).each do |status| %>
    <%= discussion_update_status_button(status) %>
  <% end if current_user %>
</div>
