<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_discussion @discussion, @debatable %>
<% end %>

<div>
  <div class="discussion-context">
    <%= render partial: 'exercises/read_only', locals: {exercise: @debatable} %>
  </div>
</div>

<% if @discussion.has_messages? || @discussion.commentable_by?(current_user) %>
  <hr class="message-divider">

  <div>
    <h3>
      <%= t :messages %>
      <% if @discussion.last_moderator_access_visible_for?(current_user) %>
        <small class="pull-right">
          <span><%= t :last_seen, name: @discussion.last_moderator_access_by.full_name %></span>
          <span><%= t :time_since, time: time_ago_in_words(@discussion.last_moderator_access_at) %></span>
        </small>
      <% end %>
    </h3>
  </div>

  <% if @discussion.has_messages? %>
    <div class="discussion-messages">
      <% if @discussion.description.present? %>
        <%= render partial: 'discussions/description_message', locals: {discussion: @discussion} %>
      <% end %>
      <% @discussion.messages.each do |message| %>
        <%= render partial: 'discussions/message', locals: {user: message.sender_user, message: message} %>
      <% end %>
      <% if @discussion.commentable_by?(current_user) %>
        <hr class="message-divider">
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'discussions/new_message', locals: {user: current_user} if @discussion.commentable_by?(current_user) %>

<% end %>

<% if current_user&.moderator_here? %>
  <div class="discussion-actions">
    <% @discussion.reachable_statuses_for(current_user).each do |status| %>
      <%= discussion_update_status_button(status) %>
    <% end %>
  </div>
<% end %>
