<%= content_for :breadcrumbs do %>
  <%= breadcrumbs0 @debatable, link_to(t(:discussions), polymorphic_path([@debatable, Discussion])) %>
<% end %>

<div>
  <div class="row">
    <% if current_user %>
      <div class="mu-inline-block-right hidden-xs">
        <h2>
          <%= fa_icon(:bell, class: 'fa-fw') %>
        </h2>
      </div>
    <% end %>
    <div class="mu-inline-block-left">
      <div class="discussion-header">
        <h2>
          <%= user_avatar(@discussion.initiator, 'discussion-user-avatar') %>
          <%= @discussion.title %>
        </h2>
      </div>
      <h4 class="discussion-description">
        <%= discussion_status_fa_icon(@discussion) %>
        <%= @discussion.description %>
      </h4>
    </div>
  </div>

  <%= render partial: 'exercises/read_only', locals: {exercise: @debatable} %>

  </div>

  <hr class="message-divider">

  <h3>
    <%= t :messages %>
  </h3>

  <% if @discussion.has_messages? %>
    <div class="discussion-messages">
      <% @discussion.messages.each do |message| %>
        <%= render partial: 'discussions/message', locals: {user: current_user, message: message} %>
      <% end %>
      <% if @discussion.commentable?(current_user) %>
        <hr class="message-divider">
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'discussions/new_message', locals: {user: current_user} if @discussion.commentable?(current_user) %>

  <div class="discussion-actions">
    <% @discussion.reachable_statuses_for(current_user).each do |status| %>
      <%= discussion_update_status_button(status) %>
    <% end if current_user %>
  </div>
</div>
