<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_discussion @discussion, @debatable %>
<% end %>

<div>
  <div class="discussion-context">
    <%= render partial: 'exercises/read_only', locals: { exercise: @debatable } %>
  </div>
</div>

<% if @discussion.has_messages? || @discussion.commentable_by?(current_user) %>
  <hr class="message-divider">

  <div class="d-flex flex-wrap">
    <h3 class="flex-grow-1 me-3"><%= t :messages %></h3>
    <% if current_user && @discussion.persisted? && current_access_mode.show_discussion_element? %>
      <span class="d-flex">
        <% if @discussion.can_toggle_responsible?(current_user) %>
          <div class="discussion-responsible me-1">
            <%= btn_toggle responsible_icon, not_responsible_icon, @discussion.any_responsible?, class: 'btn-sm',
                           onclick: "mumuki.Forum.discussionResponsible('#{responsible_discussion_url(@discussion)}')" %>
          </div>
        <% end %>
        <% if @discussion.subscribable? %>
          <div class="discussion-subscription me-1">
            <%= btn_toggle subscription_icon, unsubscription_icon, current_user.subscribed_to?(@discussion), class: 'btn-sm',
                           onclick: "mumuki.Forum.discussionSubscription('#{subscription_discussion_url(@discussion)}')" %>
          </div>
        <% end %>
        <% if @discussion.solved? %>
          <div class="discussion-upvote">
            <%= btn_toggle upvote_icon, undo_upvote_icon, current_user.upvoted?(@discussion), class: 'btn-sm',
                           onclick: "mumuki.Forum.discussionUpvote('#{upvote_discussion_url(@discussion)}')" %>
          </div>
        <% end %>
      </span>
    <% end %>
  </div>

  <% if @discussion.has_messages? %>
    <div class="discussion-messages">
      <% if @discussion.description.present? %>
        <%= render partial: 'discussions/description_message', locals: { discussion: @discussion } %>
      <% end %>
      <% @discussion.visible_messages.each do |message| %>
        <%= render partial: 'discussions/message', locals: { user: message.sender_user, message: message } %>
      <% end %>
      <% if @discussion.commentable_by?(current_user) %>
        <hr class="message-divider">
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'discussions/new_message', locals: { user: current_user } if @discussion.commentable_by?(current_user) && current_access_mode.show_discussion_element? %>

<% end %>

<% if current_user&.moderator_here? %>
  <div class="discussion-actions">
    <% @discussion.reachable_statuses_for(current_user).each do |status| %>
      <%= discussion_update_status_button(status) %>
    <% end %>
  </div>
<% end %>
