<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @registration %>
<% end %>

<div class="row">
  <div class="mu-inline-block-left">
    <h1>
      <%= t :exam_registration_to, description: @registration.description %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="bs-callout bs-callout-info">
      <h4 class="text-info">
        <strong><%= fa_icon :info_circle %> <%= t :important_info %></strong>
      </h4>
      <p>
        <%= t :exam_registration_explanation_html, date: l(@registration.end_time.in_time_zone(-3), format: :long) %>
      </p>
    </div>
    <%= form_for @authorization_request, html: {class: 'mu-form'} do |f| %>
      <%= f.hidden_field :exam_registration_id, value: @registration.id %>
      <%= f.label :exam_id, t(:exam_registration_choose_exam) %>
      <% @registration.exams.each do |exam| %>
        <div class="form-check">
          <%= f.radio_button(:exam_id, exam.id, id: exam.id, required: true, class: 'form-check-input mu-read-only-input',
                             checked: @authorization_request.exam_id == exam.id) %>
          <%= label_tag exam.id, l(exam.start_time.in_time_zone(-3), format: :long), class: 'form-check-label' %>
        </div>
      <% end %>
      <button class="btn btn-complementary"> <%= t :save %> </button>
    <% end %>
  </div>
</div>

