<div class="row">
  <div class="navbar">
    <form role="search" action="<%= search_path %>">
      <div class="form-group">
        <div class="col-md-11">
          <input name="q" type="text" class="form-control" placeholder="<%= t(:search_exercises_by_tag) %>">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-default"><%= t('search') %></button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th><%= t :language %></th>
      <th><%= t :submissions_count %></th>
      <th><%= t :title %></th>
      <th></th>
      <th><%= t :tag %></th>
      <th><%= t :created %></th>
      <th colspan="4"><%= t :actions %></th>
    </tr>
    </thead>

    <tbody>
    <% @results.each do |exercise| %>
        <tr>
          <td><%= language_image_tag exercise.language %> <%= exercise.language %> </td>
          <td>
            <%= exercise.submissions_count %>
          </td>
          <td>
            <%= exercise_status_icon(exercise) %>
            <%= link_to exercise.title, exercise %>
          </td>
          <td><%= flag(exercise.locale) %></td>
          <td><%= exercise.tag_list %></td>
          <td>
            <%= time_ago_in_words(exercise.created_at) %>
          </td>
          <td><%= link_to t('my_submissions'), exercise_submissions_path(exercise) %></td>
          <td><%= link_to t('new_submission'), new_exercise_submission_path(exercise) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @results %>
  <br>
</div>

