<%= render layout: 'layouts/user', locals: {current_tab: :exercises} do %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t :language %></th>
      <th><%= t :submissions_count %></th>
      <th><%= t :title %></th>
      <th></th>
      <th><%= t :tag %></th>
      <th><%= t :created %></th>
      <% restricted_to_current_user @user do %>
        <th colspan="4"><%= t :actions %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= language_icon exercise.language %> <%= exercise.language %> </td>
        <td>
          <%= exercise.submissions_count %>
        </td>
        <td>
          <%= exercise_status_icon(exercise) %>
          <%= link_to exercise.title, exercise %>
        </td>
        <td><%= exercise.tag_list %></td>
        <td>
          <%= time_ago_in_words(exercise.created_at) %>
        </td>
        <% restricted_to_author exercise do %>
          <td><%= link_to fa_icon(:pencil), edit_exercise_path(exercise) %></td>
          <td><%= link_to fa_icon(:trash), exercise, method: :delete, data: {confirm: t('are_you_sure')} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="actions row">
    <div class="col-md-8">
      <%= paginate @exercises %>
    </div>
    <div class="col-md-4 pagination-inline">
      <% restricted_to_current_user @user do %>
        <%= link_to t(:new_exercise), new_exercise_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
