<div class="modal fade guide-corollary <%= 'mu-kids-modal-border' if Organization.current.kids? %>" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% if Organization.current.kids? %>
        <button type="button" class="mu-kids-modal-button mu-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-fw fa-times fa-3x"></i>
          </span>
        </button>
      <% end %>
      <div class="modal-header">
        <% if Organization.current.grown_ups? %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
        <div class="guide-corollary-title">
          <h3 class="text-left" id="gridSystemModalLabel"><%= t :guide_finished, guide: guide.name %> </h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= corollary_box guide %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mu-last-box">
              <hr>
              <% if should_display_medal? @guide, Organization.current %>
                <p><%= t :unlocked_medal_as_avatar %></p>
                <%= corollary_medal_for guide %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= next_lesson_button guide %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
