<div class="modal fade mu-kids-context" id="kids-context" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">
          <strong><%= "#{exercise.number}. #{exercise.name}" %></strong>
          <%= teacher_info_button @exercise %>
          <%= link_to_bibliotheca_exercise @exercise %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-box">
              <img class="capital-animation mu-kids-character-context"/>
              <%= exercise.description_context %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" data-waiting="<%= t :loading %>" data-dismiss="modal" aria-label="<%= t :continue_exercise %>"> <%= t :continue_exercise %> </button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#kids-context').modal({
    backdrop: 'static',
    keyboard: false
  });
</script>
