<div class="modal fade kids-results" id="kids-results" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <% if assignment %>
            <h4 class="text-<%= class_for_status(assignment.status) %>">
              <strong><%= fa_icon icon_type_for_status(assignment.status) %> <%= t_assignment_status assignment %></strong>
            </h4>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 submission-results">
                  <% if @assignment&.passed? %>
                      <%= render partial: 'exercise_solutions/results',
                                 locals: {assignment: @assignment, guide_finished_by_solution: false} %>
                  <% end %>
                </div>
              </div>
              <%= render partial: 'layouts/submission_result_error' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
