<div class="modal new-message-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:block">
  <div class="modal-dialog">
    <%= form_for(Message.new, html: {role: 'form'}) do |f| %>
        <div class="modal-content">
          <div class="mu-modal-header" onclick="MessagesService.collapseNewMessageModal()">
            <div>
              <%= fa_icon :'envelope-open-o', class: 'mu-modal-close-button' %>
            </div>
            <div class="mu-modal-header-text">
              <small>
                <%= t :new_message %>
              </small>
            </div>
            <div>
              <small>
                <button type="button" class="mu-modal-close-button">
                  <%= fa_icon :'minus', class: 'fa-fw' %>
                </button>
              </small>
            </div>
          </div>
          <div class="modal-body hidden mu-view-messages">
            <div class="container-fluid">
              <div class="row">
                <%= f.text_area :content, class: 'form-control mu-message-textarea', placeholder: t(:new_message_placeholder) %>
                <%= f.text_field :exercise_id, value: exercise.id, class: 'hidden' %>
              </div>
            </div>
          </div>
          <div class="modal-footer hidden">
            <button class="btn btn-success btn-block"> <%= t :send %> </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
