<% if assignment.results_visible? %>
  <div>
    <% if assignment.expectation_results_visible? %>
      <div class="results-item">
        <strong><%= t :unmeet_expectations %>:</strong>
        <ul class="results-list">
          <% assignment.visible_expectation_results.each do |it| %>
            <li><%= status_icon(it[:result]) %> <%= t_expectation it %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if render_feedback?(assignment) %>
      <div class="results-item">
        <strong><%= t :feedback %>:</strong>
        <div>
          <%= assignment.feedback_html %>
        </div>
        <a data-toggle="collapse" href="#results-section" class="text-danger">
          <%= fa_icon 'question-circle' %> <%= t :details %>
        </a>
      </div>
    <% end %>
    <div id="results-section" class="<%= 'collapse' if render_feedback?(assignment) %> results-item">
      <%= render_test_results assignment %>
    </div>
  </div>
<% else %>
  <div></div>
<% end %>
