<%
   @guide = @exercise.guide
   @stats = @guide.stats_for(current_user) if @guide
%>


<div class="bs-callout bs-callout-<%= class_for_status solution.status %>">
  <h4>
    <strong><%= fa_icon icon_type_for_status(solution.status) %> <%= t(solution.status) %></strong>
  </h4>

  <% if solution.results_visible? %>
    <div>
      <% if solution.expectation_results_visible? %>
        <div class="results-item">
          <strong><%= t :unmeet_expectations %>:</strong>
          <ul class="results-list">
            <% solution.visible_expectation_results.each do |it| %>
              <li><%= status_icon(it[:result]) %> <%= t_expectation_result it[:binding], it[:inspection] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if render_feedback?(solution) %>
        <div class="results-item">
          <strong><%= t :feedback %>:</strong>

          <div>
            <%= solution.feedback_html %>
          </div>
          <a data-toggle="collapse" href="#results-section" class="text-danger">
            <%= fa_icon 'question-circle' %> <%= t :details %>
          </a>
        </div>
      <% end %>
      <div id="results-section" class="<%= 'collapse' if render_feedback?(solution) %> results-item">
        <strong><%= t :test_results %>:</strong>

        <%= render_test_results solution %>
      </div>
    </div>
  <% else %>
    <div>
      <h4><%= t(:exercise_done) %></h4>
    </div>
  <% end %>

  <%= corollary_box @exercise unless solution.should_retry? %>

</div>

<div class="actions">
  <%= mail_to solution.exercise.author.email,
              fa_icon(:bug, text: t(:notify_problem_to_author)),
              subject: t(:problem_with_exercise, title: solution.exercise.name),
              class: 'text-warning warning pull-left' %>

  <%= next_button(@exercise) || next_button(@guide) if @guide %>
</div>

<script>
  $('#exercise-status-icon').html("<%= escape_javascript exercise_status_icon(@exercise) %>");
  <% if @stats %>

  $('#failed-progress-bar').css("width", "<%= @stats.failed_ratio %>%");
  $('#passed-progress-bar').css("width", "<%= @stats.passed_ratio %>%");
  $('#passed-with-warnings-progress-bar').css("width", "<%= @stats.passed_with_warnings_ratio %>%");

  <% if @stats.done? %>
  $('#guide-done').modal()
  <% end %>

  <% end %>
</script>


