<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>


<div class="bs-callout bs-callout-<%= class_for_status assignment.status %>">
  <h4>
    <strong><%= fa_icon icon_type_for_status(assignment.status) %> <%= t(assignment.status) %></strong>
  </h4>

  <% if assignment.results_visible? %>
      <div>
        <% if assignment.expectation_results_visible? %>
            <div class="results-item">
              <strong><%= t :unmeet_expectations %>:</strong>
              <ul class="results-list">
                <% assignment.visible_expectation_results.each do |it| %>
                    <li><%= status_icon(it[:result]) %> <%= t_expectation it %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% if render_feedback?(assignment) %>
            <div class="results-item">
              <strong><%= t :feedback %>:</strong>

              <div>
                <%= assignment.feedback_html %>
              </div>
              <a data-toggle="collapse" href="#results-section" class="text-danger">
                <%= fa_icon 'question-circle' %> <%= t :details %>
              </a>
            </div>
        <% end %>
        <div id="results-section" class="<%= 'collapse' if render_feedback?(assignment) %> results-item">
          <strong><%= t :test_results %>:</strong>

          <%= render_test_results assignment %>
        </div>
      </div>
  <% elsif assignment.passed? %>
      <div>
        <h4><%= t(:exercise_done) %></h4>
      </div>
  <% else %>
      <div></div>
  <% end %>

  <%= corollary_box @exercise unless assignment.should_retry? %>

</div>

<div class="notify-problem-box">
  <%= mail_to contact_email,
              fa_icon(:bug, text: t(:notify_problem_with_exercise)),
              subject: t(:problem_with_exercise, title: @exercise.name),
              class: 'warning' %>
  <span>
    <%= solution_download_link assignment %>
  </span>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= next_exercise_button(@exercise) %>
      </div>
    </div>
  </div>
</div>

<script>
    $('.progress-list-item.active').attr('class', "<%= class_for_progress_list_item(@exercise, true) %>");

    <% if guide_finished_by_solution %>
    $('#guide-done').modal();
    <% end %>

</script>


