<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>

<div class="<%= (@exercise.input_kids? ? 'mu-kids-callout-' : 'bs-callout bs-callout-') + (class_for_status assignment.status) %>">

  <% if !@exercise.input_kids? %>
      <h4>
        <strong><%= fa_icon icon_type_for_status(assignment.status) %> <%= t_assignment_status assignment %></strong>
      </h4>
  <% end %>

  <% if assignment.manual_evaluation_comment? %>
      <%= Mumukit::ContentType::Markdown.to_html assignment.manual_evaluation_comment %>
  <% else %>
      <% if assignment.results_visible? %>
          <div>
            <% if assignment.expectation_results_visible? %>
                <div class="results-item">
                  <strong><%= t :unmeet_expectations %>:</strong>
                  <ul class="results-list">
                    <% assignment.visible_expectation_results.each do |it| %>
                        <li><%= status_icon(it[:result]) %> <%= t_expectation it %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <% if render_feedback?(assignment) %>
                <div class="results-item">
                  <strong><%= t :feedback %>:</strong>

                  <div>
                    <%= assignment.feedback_html %>
                  </div>
                  <a data-toggle="collapse" href="#results-section" class="text-danger">
                    <%= fa_icon 'question-circle' %> <%= t :details %>
                  </a>
                </div>
            <% end %>
            <div id="results-section" class="<%= 'collapse' if render_feedback?(assignment) %> results-item">
              <%= render_test_results assignment %>
            </div>
          </div>
      <% else %>
          <div></div>
      <% end %>
      <% unless assignment.passed? %>
          <div class="notify-problem-box">
            <div class="dropdown">
              <%= link_to fa_icon(:'question-circle', text: t(:need_help)), "", {'data-toggle': 'dropdown'} %>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                <li>
                  <%= mail_to contact_email,
                              fa_icon(:bug, text: t(:notify_problem_with_exercise), class: 'fa-fw'),
                              subject: t(:problem_with_exercise, title: @exercise.name),
                              class: 'warning' %>
                </li>
                <li>
                  <%= render_community_link %>
                </li>
              </ul>
            </div>
          </div>
      <% end %>
  <% end %>
  <%= solution_download_link assignment %>
</div>

<%= corollary_box @exercise unless assignment.should_retry? %>

<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <%= next_exercise_button(@exercise) %>
    </div>
  </div>
</div>
