<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>

<div class="<%= "bs-callout bs-callout-#{class_for_status assignment.status}" %>">

  <%= render partial: 'exercise_solutions/results_title', locals: {assignment: assignment} %>


  <%= manual_evaluation_comment assignment %>
  <% unless assignment.manual_evaluation_comment? %>
      <% if assignment.results_visible? %>
          <div>
            <% if assignment.expectation_results_visible? %>
                <div class="results-item">
                  <strong><%= t :unmeet_expectations %>:</strong>
                  <ul class="results-list">
                    <% assignment.visible_expectation_results.each do |it| %>
                        <li><%= status_icon(it[:result]) %> <%= t_expectation it %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <% if render_feedback?(assignment) %>
                <div class="results-item">
                  <strong><%= t :feedback %>:</strong>
                  <div>
                    <%= assignment.feedback_html %>
                  </div>
                  <a data-toggle="collapse" href="#results-section" class="text-danger">
                    <%= fa_icon 'question-circle' %> <%= t :details %>
                  </a>
                </div>
            <% end %>
            <div id="results-section" class="<%= 'collapse' if render_feedback?(assignment) %> results-item">
              <%= render_test_results assignment %>
            </div>
          </div>
      <% else %>
          <div></div>
      <% end %>
      <% unless assignment.passed? %>
          <div class="notify-problem-box">
            <div class="dropdown">
              <%= link_to fa_icon(:'question-circle', text: t(:need_help)), "", {'data-toggle': 'dropdown'} %>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                <li>
                  <%= mail_to contact_email,
                              fa_icon(:bug, text: t(:notify_problem_with_exercise), class: 'fa-fw'),
                              subject: t(:problem_with_exercise, title: @exercise.name),
                              body: assignment_help_email_body(assignment),
                              class: 'warning' %>
                </li>
                <li>
                  <%= render_community_link %>
                </li>
              </ul>
            </div>
          </div>
      <% end %>
  <% end %>
  <%= solution_download_link assignment %>
</div>

<% if assignment.should_retry? %>
  <%= assistance_box assignment %>
<% else %>
  <%= corollary_box @exercise %>
<% end %>
<%= render partial: 'exercise_solutions/results_button', locals: {assignment: assignment} %>
