<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>

<%= render layout: 'exercise_solutions/assignment_results_container', locals: {assignment: assignment} do %>
  <%= manual_evaluation_comment assignment %>
  <% unless assignment.manual_evaluation_comment? %>
    <%= render partial: 'exercise_solutions/assignment_results', locals: {assignment: assignment} %>
    <% unless assignment.passed? %>
      <div class="notify-problem-box">
        <div class="dropdown">
          <%= link_to fa_icon(:'question-circle', text: t(:need_help)), "", {'data-toggle': 'dropdown'} %>
          <ul class="dropdown-menu" aria-labelledby="helpDropdown">
            <li>
              <%= report_bug_link(assignment) %>
            </li>
            <li>
              <%= read_discussions_link(@exercise) %>
            </li>
            <li>
              <%= render_community_link %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= solution_download_link assignment %>
<% end %>

<% if assignment.should_retry? %>
  <%= assistance_box assignment %>
<% else %>
  <%= corollary_box @exercise %>
<% end %>
<%= render partial: 'exercise_solutions/results_button', locals: {assignment: assignment} %>
