<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>

<% if assignment.results_hidden? %>
  <%= render partial: 'exercise_solutions/results_hidden', locals: {assignment: assignment} %>
<% elsif !assignment.attempts_left? %>
  <%= render partial: 'exercise_solutions/out_of_attempts', locals: {assignment: assignment} %>
<% else %>
  <%= render layout: 'exercise_solutions/contextualization_results_container', locals: {contextualization: assignment} do %>
    <%= manual_evaluation_comment assignment %>
    <% unless assignment.manual_evaluation_comment? %>
      <%= render layout: 'exercise_solutions/assistant_rules_box', locals: {assignment: assignment } do %>
        <%= render partial: 'exercise_solutions/contextualization_results_body', locals: {contextualization: assignment} %>
        <% if should_render_need_help_dropdown?(assignment) && current_access_mode.show_discussion_element? %>
          <div class="notify-problem-box">
            <div class="dropdown">
              <%= link_to fa_icon(:'question-circle', text: t(:need_help)), "", {'data-bs-toggle': 'dropdown'} %>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                <li>
                  <%= read_discussions_link(@exercise) %>
                </li>
                <li>
                  <%= render_community_link %>
                </li>
                <li>
                  <%= report_bug_link(assignment) %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= solution_download_link assignment %>
  <% end %>

  <% if assignment.passed? %>
    <%= corollary_box @exercise %>
  <% end %>
<% end %>

<%= render partial: 'exercise_solutions/results_button', locals: {assignment: assignment} %>
