<%= form_for(@language, html: {role: 'form'}) do |f| %>
  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :extension %><br>
    <%= f.text_field :extension, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :test_runner_url %><br>
    <%= f.text_field :test_runner_url, class: 'form-control' %>
  </div>
  
  <div class="actions form-group" >
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'),  :back,  class: 'btn btn-default' %>
  </div>
<% end %>
