<div class="row mu-tab-body">
  <div class="col-md-6">
    <%= render partial: 'activity_indicator',
               locals: {
                 title: t(:exercises),
                 stats: [{name: t(:solved_exercises_count, count: @activity[:exercises][:solved_count]), value: @activity[:exercises][:solved_count]},
                         {name: t(:solved_exercises_percentage), value: "#{@activity[:exercises][:solved_count] / @activity[:exercises][:count] * 100}%"}]
               } %>

    <%= render partial: 'activity_indicator',
               locals: {
                 title: t(:forum),
                 stats: [{name: t(:messages_pluralized, count: @activity[:messages][:count]), value: @activity[:messages][:count]},
                         {name: t(:approved_messages, count: @activity[:messages][:approved]), value: @activity[:messages][:approved]}]
               } %>
  </div>

  <div class="col-md-3 col-md-offset-3">
    <ul class="nav nav-pills nav-stacked">
      <li <%= mark_period_if_active nil %>>
        <%= link_to t(:total), activity_user_path %>
      </li>
      <% activity_selector_week_range_for.each do |(week_start, week_end)| %>
        <li <%= mark_period_if_active week_start %>>
          <%= link_to t(:week_of, date: l(week_start)), activity_user_path(date_from: week_start, date_to: week_end) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
