<%= form_for :user, url: update_user_path, :html => { id: 'mu-user-form' }, method: :put do |f| %>
  <div class="mu-user-header">
    <h1><%= t(:edit_profile) %></h1>
    <div class="mu-profile-actions hidden-xs">
      <%= cancel_edit_profile_button %>
      <%= save_edit_profile_button f %>
    </div>
  </div>
  <div class="row mu-tab-body">
    <div class="col-md-4 text-center">
      <%= profile_picture_for(@user, id: 'mu-user-avatar', class: 'mu-user-avatar') %>
      <i class="fa fa-pencil fa-2x pointer mu-edit-avatar" id="mu-edit-avatar-icon" tabindex="0"></i>
    </div>
    <div class="col-md-8">
      <%= render partial: 'profile_fields', locals: {form: f} %>
      <%= render partial: 'layouts/terms_acceptance_disclaimer', locals: {user: @user} %>
    </div>
  </div>
  <div class="mu-profile-actions mobile visible-xs">
    <%= cancel_edit_profile_button %>
    <%= save_edit_profile_button f %>
  </div>
<% end %>

<%= content_for :no_container do %>
  <%= render partial: 'layouts/modals/avatar_picker' %>
<% end %>
