<fieldset class="form-group">
  <div><%= form.label(t :first_name) %></div>
  <div><%= form.text_field :first_name, class: 'form-control' %></div>
</fieldset>
<fieldset class="form-group">
  <div><%= form.label(t :last_name) %></div>
  <div><%= form.text_field :last_name, class: 'form-control' %></div>
</fieldset>
<fieldset class="form-group">
  <div><%= form.label(t :email) %></div>
  <div><%= form.text_field :email, readonly: true, class: 'form-control' %></div>
</fieldset>
