<div class="mu-user-header">
  <h1><%= @user.name %></h1>
  <%= edit_profile_button %>
</div>
<div class="row mu-tab-body">
  <div class="col-md-4 text-center">
    <%= image_tag @user.profile_picture, class: 'mu-user-avatar', id: 'mu-user-avatar' %>
  </div>
</div>

<%= content_for :no_container do %>
    <%= render partial: 'layouts/modals/avatar_picker' %>
<% end %>
