<%= form_for :user, url: update_user_path, :html => { id: 'mu-user-form' }, method: :put do |f| %>
  <div class="row mu-tab-body">
    <div class="col-md-4 text-center">
      <%= image_tag @user.profile_picture, class: 'mu-user-avatar', id: 'mu-user-avatar' %>
      <div class="experience" ><!-- style="position:relative!important"> -->
<!--        <svg viewBox="0 0 32 32">-->
<!--          <circle r="16" cx="16" cy="16" />-->

<!--          <linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse"-->
<!--                          x1="0%" y1="0%" x2="100%" y2="0%" gradientTransform="rotate(65)">-->
<!--            <stop offset="0%" stop-color="#4afaff" stop-opacity="0"/>-->
<!--            <stop offset="100%" stop-color="#ff0000" stop-opacity="1"/>-->
<!--          </linearGradient>-->
<!--          <rect x="0" y="0" width="1" height="1" fill="url(#grad-ucgg-generated)" />-->

<!--          <style>-->
<!--            circle {-->
<!--              fill: white;-->
<!--              stroke: url(#grad-ucgg-generated);-->
<!--              stroke-width: 1;-->
<!--              stroke-dasharray: 60 90; /* 2π × 25 ≈ 158 */-->
<!--            }-->

<!--            svg {-->
<!--              transform: rotate(-90deg);-->
<!--              border-radius: 50%;-->
<!--            }-->
<!--          </style>-->
<!--        </svg>-->
      </div>
    </div>
    <a class="mu-level" id="mu-level">
        12
    </a>

    <div class="col-md-8">
      <%= render partial: 'profile_fields', locals: {form: f} %>
      <div><%= f.submit t(:save), class: 'btn btn-success btn-block' %></div>
    </div>
  </div>
<% end %>

<%= content_for :no_container do %>
    <%= render partial: 'layouts/modals/avatar_picker' %>
<% end %>
