<div class="mu-user-header">
  <h1><%= @user.name %></h1>
  <div class="mu-profile-actions hidden-xs">
    <%= edit_profile_button %>
  </div>
</div>
<div class="row mu-tab-body">
  <div class="col-md-4 mu-profile-info-left">
    <%= profile_picture_for(@user, id: 'mu-user-avatar', class: 'mu-user-avatar') %>
    <% if in_gamified_context? @user %>
      <svg class="mu-level-progress" width="300" height="300" viewBox="0 0 100 100">
        <path id="mu-level-progress" stroke-linecap="round" stroke="#24b8aa" stroke-width="4" stroke-dasharray="0, 999" fill="none" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"></path>
      </svg>
      <div class="mu-level">
        <i class="fa fa-star fa-fw fa-4x"></i>
        <span class="mu-level-number"></span>
        <p><%= t :level %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-8 mu-profile-info-right">
    <% if @user.age.present? %>
      <div>
        <span> <strong><%= t :age %>:</strong> <%= "#{@user.age} #{t :years}" %> </span>
      </div>
    <% end %>
    <div>
      <span> <strong><%= t :email %>:</strong> <%= @user.email %> </span>
    </div>
    <div>
      <span> <strong><%= t :programming_since %>:</strong> <%= t(:time_since, time: time_ago_in_words(@user.created_at)) %> </span>
    </div>
  </div>

  <div class="mu-profile-actions mobile visible-xs">
    <%= edit_profile_button %>
  </div>
</div>
