<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<%= render partial: 'layouts/user_menu' %>

<div class="mu-user-header">
  <h1><%= t(:certificates) %></h1>
</div>
<% if @certificates.empty? %>
  <div class="mu-tab-body">
    <%= t :certificates_will_be_here %>
  </div>
<% else %>
  <div class="col-md-9 mu-tab-body">
    <div class="col-md-12">
      <div class="mu-list-group">
        <% @certificates.each do |certificate| %>
            <span class="mu-list-group-item">
              <a href="<%= download_certificate_path certificate.code %>" target="_blank"><i class="fas fa-fw fa-download"></i></a>
              <span class="mu-divider-vertical"></span>
              <a href="<%= linkedin_post_url certificate %>" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
              <span class="mu-divider-vertical"></span>
              <a href="<%= verify_certificate_path certificate.code %>" target="_blank">
                <span class="mu-text-capitalize"><%= certificate.title %> - <%= certificate.description %></span>
              </a>
            </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
