<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <div class="col-md-9 mu-tab-body">
    <div class="mu-user-header">
      <h1><%= t(:discussions) %></h1>
    </div>
    <% if @watched_discussions.empty? %>
      <div class="mu-tab-body">
        <%= t :discussions_will_be_here %>
      </div>
    <% else %>
      <div class="table-responsive mb-3">
        <table class="table table-striped">
          <tr>
            <td></td>
            <td><strong><%= t(:exercise) %></strong></td>
            <td><strong><%= t(:discussion_created_by) %></strong></td>
            <td><strong><%= t(:last_message) %></strong></td>
          </tr>
          <% @watched_discussions.each do |discussion| %>
            <tr>
              <td>
                <%= icon_for_read(discussion.read_by?(@user)) %>
              </td>
              <td><%= link_to discussion.item.name, item_discussion_path(discussion) %></td>
              <td><%= discussion_user_name discussion.initiator %></td>
              <td><%= time_ago_in_words discussion.last_message_date %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="discussion-pagination">
        <%= paginate @watched_discussions, nav_class: 'pagination' %>
      </div>

    <% end %>
  </div>
</div>
