<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <div class="col-md-9 mu-tab-body">
    <div class="mu-user-header">
      <h1><%= t(:exam_registrations) %></h1>
    </div>
    <% if @exam_authorization_requests.empty? %>
      <div class="mu-tab-body">
        <%= t :exams_will_be_here %>
      </div>
    <% else %>
      <div class="col-md-12">
        <div class="accordion" id="exam_authorization_accordion">
          <% @exam_authorization_requests.each_with_index do |it, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="<%= "exam_authorization_accordion_item_#{index}" %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "exam_authorization_collapse_item_#{index}" %>" aria-expanded="true" aria-controls="<%= "exam_authorization_collapse_item_#{index}" %>">
                  <span class="fa fa-fw fa-<%= it.icon[:class] %> text-<%= it.icon[:type] %>" data-bs-toggle="tooltip" title="<%= t(it.status).humanize %>"></span>
                  <span class="divider-vertical"></span>
                  <span><strong><%= it.exam_registration.description %></strong> - <small><%= l(it.exam.start_time, format: :long) %></small></span>
                </button>
              </h2>
              <div id="<%= "exam_authorization_collapse_item_#{index}" %>" class="accordion-collapse collapse show" aria-labelledby="<%= "exam_authorization_accordion_item_#{index}" %>" data-bs-parent="#exam_authorization_accordion">
                <div class="accordion-body p-0">
                  <div class="m-0 border-bottom-0 border-top-0 border-right-0 bs-callout bs-callout-<%= it.icon[:type] %>">
                    <p><%= render partial: "exam_authorization_requests/#{it.status}", locals: { authorization_request: it } %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
