<h1>Users</h1>
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t :username %></th>
        <th><%= t :submissions_success_rate %></th>
        <th><%= t :exercise_success_rate %></th>
        <th><%= t :last_submission_date %></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.submissions_success_rate %></td>
          <td><%= user.exercises_success_rate %></td>
          <td><%= time_ago_in_words_or_never user.last_submission_date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @users %>
  </div>
</div>
