<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <div class="col-md-9 mu-tab-body">
    <div class="mu-user-header">
      <h1><%= t(:messages) %></h1>
    </div>
    <% if @messages.empty? %>
      <div class="mu-tab-body">
        <%= t :no_messages %>
      </div>
    <% else %>
      <table class="table table-striped">
        <% @messages.each do |message| %>
          <tr class="<%= staleness_class(message) %>" >
            <td><%= icon_for_read(message.read?) %></td>
            <td><%= link_to message.exercise.name, exercise_path(message.exercise.id) %></td>
            <td><%= mail_to message.sender %></td>
            <td>
              <time title="<%= message.created_at %>">
                <%= time_ago_in_words message.created_at %>
              </time>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
