<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <div class="col-md-9 mu-tab-body">
    <div class="mu-user-header">
      <h1><%= t(:notifications) %></h1>
    </div>
    <% if @notifications.empty? %>
      <div class="mu-tab-body">
        <%= t :notifications_will_be_here %>
      </div>
    <% else %>
      <div class="table-responsive mb-3">
        <table class="table">
          <% @notifications.each do |notification| %>
            <% if notification.read? != @last_read %>
              <%= user_notifications_table_title notification, @last_read %>
              <% @last_read = notification.read? %>

              <%= user_notifications_table_header %>
            <% end %>

            <%= user_notifications_table_item notification %>
          <% end %>
        </table>
      </div>

      <div class="discussion-pagination">
        <%= paginate @notifications, nav_class: 'pagination' %>
      </div>

    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  mumuki.resize(() => {
    $('.mu-notifications-content').each((_i, el) => {
      const $el = $(el);
      const container = $el.find('.mu-notifications-body')[0];
      const content = $el.find('.mu-notifications-body-content')[0];

      if (container.offsetHeight > content.offsetHeight) {
        $el.find('.mu-notifications-arrow').hide();
      } else {
        $el.find('.mu-notifications-arrow').show();
      }
    });
  });
</script>
