<%= render layout: 'layouts/user', locals: {current_tab: :overview} do %>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.image_url, size: '250x250', class: 'img-circle' %>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th><%= t :submissions_success_rate %></th>
          <td><%= @user.submissions_success_rate %></td>
        </tr>
        <tr>
          <th><%= t :exercise_success_rate %></th>
          <td><%= @user.exercises_success_rate %></td>
        </tr>
        <tr>
          <th><%= t :last_submission_date %></th>
          <td><%= time_ago_in_words_or_never @user.last_submission_date %></td>
        </tr>
        <tr>
          <th><%= t :sign_up_date %></th>
          <td><%= time_ago_in_words @user.created_at %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1><%= t :profile_of, username: @user.name %></h1>
    </div>
    <div class="col-md-6">
      <% unless @user.id == current_user.id %>
        <% unless current_user.following?(@user) %>
          <%= render 'users/follow', user: @user %>
        <% else %>
          <%= render 'users/unfollow', user: @user %>
        <% end %>
      <% end %>
    </div>
  </div>

  <h1><%= t("failed_statistics") %></h1>
  <%= line_chart @user.failed_submissions_count_per_week, colors: ["red"] %>
  <h1><%= t("passed_statistics") %></h1>
  <%= line_chart @user.passed_submissions_count_per_week, colors: ["green"] %>
<% end %>
