<%= render layout: 'layouts/user', locals: {current_tab: :overview} do %>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.image_url, size: '250x250', class: 'img-circle' %>
    </div>

    <div class="col-md-8">
      <td><%= @user.submissions_success_rate %></td>
      <td><%= @user.exercises_success_rate %></td>
      <td><%= time_ago_in_words_or_never @user.last_submission_date %></td>
      <td><%= time_ago_in_words @user.created_at %></td>
    </div>
  </div>
<% end %>
