<%= content_for :breadcrumbs do %>
    <%= breadcrumbs @user %>
<% end %>

<div>
  <h1><%= @user.name %></h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a data-target="#info" aria-controls="info" role="tab" data-toggle="tab"><%= t :profile %></a>
  </li>
  <li role="presentation">
    <a data-target="#organizations" aria-controls="organizations" role="tab" data-toggle="tab"><%= t :organizations %></a>
  </li>
  <li role="presentation">
    <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%= t :messages %></a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
    <div class="row mu-tab-body">
      <div class="col-md-4">
        <%= image_tag @user.image_url, size: '250x250', class: 'img-circle' %>
      </div>
      <div class="col-md-8">
        <table class="table table-striped">
          <tbody>
          <tr>
            <th><%= t :submissions_success_rate %></th>
            <td><%= @user.submissions_success_rate %></td>
          </tr>
          <tr>
            <th><%= t :exercise_success_rate %></th>
            <td><%= @user.exercises_success_rate %></td>
          </tr>
          <tr>
            <th><%= t :last_submission_date %></th>
            <td><%= time_ago_in_words_or_never @user.last_submission_date %></td>
          </tr>
          <tr>
            <th><%= t :sign_up_date %></th>
            <td><%= time_ago_in_words @user.created_at %></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="organizations">
    <div class="row mu-tab-body">
      <div class="col-md-12">
        <%= render partial: 'layouts/organizations_listing' %>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="messages">
    <table class="table table-striped">
      <% @messages.each do |message| %>
          <tr>
            <td><%= icon_for_read(message.read?) %></td>
            <td><%= link_to message.exercise.name, exercise_path(message.exercise.id) %></td>
            <td><%= mail_to message.sender %></td>
            <td><%= time_ago_in_words message.created_at %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
