<div class="row">
  <div class="col-md-6">
    <h1><%= t :profile_of, username: @user.name %></h1>
  </div>
  <div class="col-md-6">
    <% unless @user.id == current_user.id  %>
      <% unless current_user.following?(@user) %>
        <%= render 'users/follow', user: @user %>
      <% else %>
        <%= render 'users/unfollow', user: @user %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'layouts/exercise_panel/panel',
               heading: t(:latest_exercises).titleize.pluralize,
               exercises: @user.exercises,
               more_link: nil %>
  </div>
  <div class="col-md-6">
    <%= render 'layouts/guides_panel/panel',
               heading: t(:latest_guides).titleize.pluralize,
               guides: @user.guides,
               more_link: nil %>
  </div>
</div>
<h1><%= t("failed_statistics") %></h1>
<%= line_chart @user.failed_submissions_count_per_week, colors: ["red"] %>
<h1><%= t("passed_statistics") %></h1>
<%= line_chart @user.passed_submissions_count_per_week, colors: ["green"] %>
