<%= content_for :breadcrumbs do %>
  <% if current_logged_user? %>
    <%= breadcrumbs_for_my_account %>
  <% else %>
    <%= header_breadcrumbs %>
  <% end %>
<% end %>

<div class="mu-user-header">
  <h1><%= t(:terms_and_conditions) %></h1>
</div>

<div>
  <% @profile_terms.each do |term| %>
    <%= render partial: 'term', locals: {term: term, collapsed: current_user&.has_accepted?(term)} %>
  <% end %>
</div>

<% if @user&.has_role_terms_to_accept? %>
  <div class="terms-acceptance">
    <%= form_for :user, url: terms_user_path, method: :post  do |f| %>
      <span class="terms-acceptance-checkbox">
        <%= f.check_box :terms_of_service, required: true, onInvalid: "this.setCustomValidity('#{t(:terms_and_conditions_must_be_accepted)}')", onChange: "this.setCustomValidity(validity.valueMissing ? '#{t(:terms_and_conditions_must_be_accepted)}' : '')" %>
        <%= t(:accept_terms) %>
      </span>
      <%= f.submit t(:accept), class: 'btn btn-complementary terms-acceptance-btn' %>
    <% end %>
  </div>
<% end %>

