<div class="book-header <%= current_user? ? '' : 'logged' %>">
  <h1>ム mumuki<%= Organization.current.title_suffix %></h1>

  <img src="<%= Organization.current.banner_url %>" alt="<%= Organization.current.display_name %>">
  <h2><%= @book.name %></h2>

  <h3><small><%= Organization.current.description %></small></h3>
</div>

<div class="text-box">
  <%= @book.description_html %>
</div>
