<% @organization = Organization.current %>
<div class="book-header <%= current_user? ? '' : 'logged' %>">
  <%#
    H1 is not actually displayed.
    This weird title structure is kept for backward compatibility only
  %>
  <h1><%= @organization.page_name %></h1>

  <img src="<%= @organization.banner_url %>" alt="<%= @organization.display_name %>">
  <h2><%= @organization.page_name %></h2>

  <h3><small><%= @organization.description %></small></h3>
</div>

<div class="text-box">
  <%= @organization.page_description_html %>
</div>
