<div class="col-md-offset-2 col-md-8">
  <div class="book-header <%= current_user?? '' : 'logged'%>">
    <h1>ム mumuki</h1>

    <img src="<%= Organization.current.logo_url %>" alt="<%= Organization.current.name %> - Mumuki">
    <h2><%= @book.name %></h2>

    <% unless Organization.central? %>
      <h3>
        <small>por <span class="ahahamojimoji">ム</span> mumuki</small>
      </h3>
    <% end %>
  </div>

  <div class="text-box">
    <%= @book.description_html %>
  </div>

  <div class="actions">
    <a href="<%= lesson_path(@book.first_chapter.first_lesson) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>

  <h2><%= t(:content) %></h2>

  <% @book.chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_html %>
      </div>
    </div>
  <% end %>
</div>
