<%= content_for :breadcrumbs do %>
  <%= header_breadcrumbs(link_for_organization: false) %>
<% end %>

<div class="col-lg-8 offset-lg-2">
  <%= render partial: 'book/header' %>

  <% @book.next_lesson_for(current_user).try do |lesson| %>
    <% if show_content_element? %>
      <div class="actions">
        <a href="<%=   lesson_path(lesson)   %>" class="btn btn-complementary">
          <%=   t book_practice_key_for(current_user)   %>
        </a>
      </div>
    <%  else  %>
      <br>
    <%   end %>
  <% end %>

  <h2><%= t(:chapters) %></h2>

  <% @book.chapter_visibilities_in(current_workspace).each do |it, enabled| %>

    <% next unless show_content?(it.topic) %>

    <div class="chapter-container">
      <div class="chapter <%= enabled ? '' : 'mu-locked' %>">
        <h3><%= it.number %>. <%= link_to_path_element it, mode: :plain %></h3>
        <div class="text-box" <%= 'aria-label=""' unless enabled %>>
          <%= it.description_teaser_html %>
        </div>
      </div>

      <% unless enabled  %>
        <div class="text-center mu-lock">
          <i class="fas fa-lock fa-5x"></i>
          <p><%= t :locked_content %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if current_user? && @exams.present? %>
    <h2><%= t(:exams) %></h2>
    <% @exams.each_with_index do |it, index| %>
      <div class="chapter">
        <h3> <%= index + 1 %>. <%= link_to_path_element it, mode: :plain %></h3>

        <div class="text-box">
          <%= it.guide.description_teaser_html %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render partial: 'layouts/progress', locals: { content: @book } %>
