<div class="col-md-offset-2 col-md-8">
  <div class="mumuki <%= current_user?? '' : 'logged'%>">
    <h1 class="logo"><span class="ahahamojimoji">ム</span></h1>

    <h1>mumuki</h1>

    <h2><%= @book.name %></h2>
  </div>

  <div class="text-box">
    <%= @book.description_html %>
  </div>

  <div class="actions">
    <a href="<%= lesson_path(@book.first_chapter.first_lesson) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>

  <h2><%= t(:content) %></h2>

  <% @book.chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_html %>
      </div>
    </div>
  <% end %>
</div>
