<div class="row">
  <div class="col-md-6">
    <h2>Latest Exercises</h2>
    <% @latest_exercises.each do |exercise| %>
        <div class="row">
          <div class="col-md-3">
            <%= time_ago_in_words(exercise.created_at) %>
          </div>
          <div class="col-md-1">
            <%= exercise.language %>
          </div>
          <div class="col-md-2">
            <a href="<%= exercise_path(exercise) %>"><%= exercise.title %></a>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Hottest Exercises</h2>
    <% @hottest_exercises.each do |exercise| %>
        <div class="row">
          <div class="col-md-2">
            <%= exercise.submissions_count %>
          </div>
          <div class="col-md-1">
            <%= exercise.language %>
          </div>
          <div class="col-md-3">
            <a href="<%= exercise_path(exercise) %>"><%= exercise.title %></a>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'More', exercises_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>My Exercises</h3>
    <a href="#">More</a>
  </div>

  <div class="col-md-6">
    <h3>My Submissions</h3>
    <a href="#">More</a>
  </div>
</div>
