<style type="text/css">
  @font-face {
    font-family: "AhahaMojimoji";
    src: url(<%= asset_path('AhahaMojimoji.woff') %>) format("woff"),
         url(<%= asset_path('AhahaMojimoji.ttf') %>) format("ttf"),
         url(<%= asset_path('AhahaMojimoji.svg') %>) format("svg");
  }

  .ahahamojimoji {
    font-family: "AhahaMojimoji", Verdana, Tahoma;
  }

  .logo {
    font-size: 200px !important;
  }

  .jumbotron {
    min-height: 600px;
  }

  body {
    padding-top: 0px;
  }

  .navbar-default {
    background-color: rgba(44,62,80,0.4);
  }

</style>


<%= content_for :no_container do %>
  <div class="jumbotron ha-bg-parallax">
    <div class="container white-font" style="width: 65%">
      <h1 class="ahahamojimoji text-center logo" style="margin-bottom: -40px">ム</h1>

      <h1 class="text-center"><%= t :mumuki_catchphrase %></h1>

      <p class="text-center"><%= t :mumuki_short_description %></p>

      <p class="text-center"><%= link_to t(:start_practicing), categories_path, class: 'btn btn-primary call-to-action', role: 'button ' %></p>
    </div>
  </div>
<% end %>



Porque la libertad es un derecho

En tu idioma

<div class="mumuki-description">
  <div class="row">
    <div class="col-md-7">
      <h2 class="text-left"><%= "De la práctica a la teoría" %></h2>

      <h4 class="text-left"><%= "Al igual que si quisieras aprender a tocar un instrumento, jugar al ajedrez o triunfar en un deporte, para aprender a programar es fundamental
    ejercitar. Pero además necesitás incorporar conceptos teóricos que hacen a los profesionales. En Mumuki iremos de la práctica a la teoría: cada ejercicio tiene una idea detrás que descubriremos juntos" %></h4>
    </div>


    <div class="col-md-5">
      <p class="text-center" style="font-size: 70px"><%= fa_icon 'plug' %></p>
    </div>
  </div>


  <div class="row">

    <div class="col-md-5">
      <p class="text-center" style="font-size: 70px"><%= fa_icon 'plug' %></p>
    </div>

    <div class="col-md-7">
      <h2 class="text-left"><%= "Todo cambia, pero no tanto" %></h2>

      <h4 class="text-left"><%= "Las tecnologías de la programación cambian todos los días, y mantenerse a flote puede ser muy estresante... ¡a menos que domines los conceptos fundamentales!
    En Mumuki no pretenderemos enseñarte las herramientas que surgen todos los días, sino los conceptos de programación trascendentales que desde hace 30 años no cambian y te permitirán
     dominar fácilmente cualquier nueva tecnología" %></h4>
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">
      <h2 class="text-left"><%= "Una platafotma extensible" %></h2>

      <h4 class="text-left"><%= "La plataforma mumuki es muy fácil de extender.
     Si te gustaría que tu lenguaje favorito esté aquí, vos mismo podés hacerlo. Contamos con todas las herramientas y documentación que necesitás" %></h4>
    </div>


    <div class="col-md-5">
      <p class="text-center" style="font-size: 70px"><%= fa_icon 'plug' %></p>
    </div>
  </div>


  <div class="row">

    <div class="col-md-5">
      <p class="text-center" style="font-size: 70px"><%= fa_icon 'plug' %></p>
    </div>

    <div class="col-md-7">
      <h2 class="text-left"><%= "Dentro y fuera del aula" %></h2>

      <h4 class="text-left"><%= "Ya sea que sea un autodidacta que está buscando aprender a programar en Internet, o un alumno de un curso de programación presencial, Mumuki te será útil" %></h4>
    </div>
  </div>


</div>
