<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Latest Exercises</div>
      <div class="panel-body">
        <table class="table">
          <%= render partial: 'exercise', collection: @latest_exercises %>
        </table>
        <%= link_to 'More', exercises_path %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Hottest Exercises</div>
      <div class="panel-body">
        <table class="table">
          <%= render partial: 'exercise', collection: @hottest_exercises %>
        </table>
        <%= link_to 'More', exercises_path %>
      </div>
    </div>
  </div>
</div>


<% if current_user? %>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">My Exercises</div>
          <div class="panel-body">
            <table class="table">
              <%= render partial: 'exercise', collection: @my_exercises %>
            </table>
            <%= link_to 'More', exercises_path(owned_only: true) %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">My Submissions</div>
          <div class="panel-body">
            <table class="table">
              <% @my_submissions.each do |submission| %>
                  <tr>
                    <td>
                      <%= language_image_tag submission.language %>
                    </td>
                    <td >
                      <%= status_span submission.status %> <%= link_to(submission.title, [submission.exercise, submission]) %>
                    </td>
                    <td>
                      <%= time_ago_in_words(submission.created_at) %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <%= link_to 'More', submissions_path %>
          </div>
        </div>
      </div>
    </div>
<% end %>
