<style type="text/css">
  .logo {
    font-size: 200px !important;
  }

  .jumbotron {
    min-height: 600px;
  }

  body {
    padding-top: 0px;
  }

  .navbar-default {
    background-color: rgba(44, 62, 80, 0.4);
  }

</style>


<%= content_for :no_container do %>
  <div class="jumbotron ha-bg-parallax">
    <div class="container white-font" style="width: 65%">
      <h1 class="ahahamojimoji text-center logo" style="margin-bottom: -40px">ム</h1>

      <h1 class="text-center"><%= t :mumuki_catchphrase %></h1>

      <p class="text-center"><%= t :mumuki_short_description %></p>

      <p class="text-center"><%= link_to t(:start_practicing), chapters_path, class: 'btn btn-primary call-to-action', role: 'button ' %></p>
    </div>
  </div>
<% end %>


<div class="mumuki-description">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.practice_to_theory') %></h2>
      <h4 class="text-left"><%= t('pillars.practice_to_theory_description') %></h4>
    </div>
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'trophy' %></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'clock-o' %></p>
    </div>
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.transcendent_content') %></h2>
      <h4 class="text-left"><%= t('pillars.transcendent_content_description') %></h4>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.localized') %></h2>
      <h4 class="text-left"><%= t('pillars.localized_description') %></h4>
    </div>
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'language' %></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'comments-o' %></p>
    </div>
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.freedom') %></h2>
      <h4 class="text-left"><%= t('pillars.freedom_description') %></h4>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.extensibility') %></h2>
      <h4 class="text-left"><%= t('pillars.extensibility_description') %></h4>
    </div>
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'plug' %></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <p class="text-center"><%= fa_icon 'university' %></p>
    </div>
    <div class="col-md-10">
      <h2 class="text-left"><%= t('pillars.classroom') %></h2>
      <h4 class="text-left"><%= t('pillars.classroom_description') %></h4>
    </div>
  </div>

</div>

<p class="text-center"><%= link_to t(:start_practicing), chapters_path, class: 'btn btn-primary call-to-action', role: 'button ' %></p>
