<% if current_user? %>

  <% if @exercise.queriable %>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#editor" aria-controls="editor" role="tab" data-toggle="tab" class="editor-tab"><%= fa_icon 'pencil-square' %> <%= t :editor %></a>
      </li>
      <li role="presentation">
        <a href="#console" aria-controls="console" role="tab" data-toggle="tab" class="editor-tab"><%= fa_icon 'terminal' %> <%= t :console %></a>
      </li>
    </ul>
  <% end %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="editor">
      <%= form_for([@exercise, @solution], remote: true, html: {role: 'form'}) do |f| %>
        <div class="field form-group">
          <%= f.editor :content, 'dynamic',
                       class: "form-control #{'editor' if editor_visible }",
                       value: @previous_solution_content,
                       style: 'display: none' %>
          <%= hidden_field_tag(:exercise_language, @exercise.highlight_mode) %>
        </div>
        <div class="actions">
          <%= button_tag (fa_icon :play, text: t(:create_submission)),
                         class: 'btn btn-primary',
                         data: {disable_with: "#{fa_icon 'refresh spin', text: t(:sending_solution)}", normal_text: t(:create_submission)} %>
        </div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="console">
      <%= t(:type_expressions_here) %>
      <div class="console">
      </div>
    </div>
  </div>
<% else %>
  <p><%= t :you_must_sign_in_before_submitting %></p>

  <div class="actions">
    <%= login_anchor class: 'btn btn-primary' %>
  </div>
<% end %>
