<% if (@exercise.queriable? || @exercise.extra_visible?) && ![:upload, :hidden].include?(editor_mode) %>
    <ul class="nav nav-tabs" role="tablist">
      <%= console_tab %>
      <% if @exercise.extra_visible? %>
        <%= extra_code_tab %>
      <% end %>
    </ul>
<% end %>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane editor-pane in active fade" id="console">
    <div class="console">
    </div>
    <div class="submission-overlapped">
      <a class="console-reset submission-reset"><%= reset_button %></a>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane editor-pane fade" id="visible-extra">
    <%= @exercise.extra_preview_html %>
  </div>
</div>
<div class="actions">
  <%= next_exercise_button @exercise %>
</div>
