<% if (@exercise.queriable? || @exercise.extra_visible?) && editor_mode!= :upload %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#editor" aria-controls="editor" role="tab" data-toggle="tab" class="editor-tab"><%= fa_icon 'pencil-square' %> <%= t :editor %></a>
    </li>
    <% if @exercise.extra_visible? %>
      <li role="presentation">
        <a href="#visible-extra" aria-controls="visible-extra" role="tab" data-toggle="tab" class="editor-tab"><%= fa_icon 'code' %> <%= t 'activerecord.attributes.exercise.extra' %></a>
      </li>
    <% end %>
    <% if @exercise.queriable? %>
      <li role="presentation">
        <a href="#console" aria-controls="console" role="tab" data-toggle="tab" class="editor-tab"><%= fa_icon 'terminal' %> <%= t :console %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane editor-pane fade in active" id="editor">
    <% if editor_mode == :upload %>
      <input type="file" id="upload" class="upload submission-control"/>
    <% end %>

    <%= form_for([@exercise, @solution], remote: true, html: {role: 'form'}) do |f| %>
      <% if editor_mode == :visible %>
        <div class="field form-group">
          <%= f.editor :content, 'dynamic',
                       class: 'form-control editor',
                       value: @default_content,
                       style: 'display: none' %>
          <%= hidden_field_tag(:exercise_language, @exercise.highlight_mode) %>
          <%= hidden_field_tag(:prompt, @exercise.prompt) %>
        </div>
      <% else %>
        <%= f.hidden_field :content, value: '' %>
      <% end %>
      <% if editor_mode == :upload %>
        <label
        for="upload"
        class="btn btn-success btn-block btn-submit"
        data-waiting="<%= t(:uploading_solution) %>">
          <%= fa_icon :upload %> <%= t :upload_solution %>
        </label>
      <% else %>
        <div class="actions">
          <button
          class="btn btn-success btn-block btn-submit submission-control"
          data-waiting="<%= t(:sending_solution) %>">
            <%= fa_icon :play, text: t(:create_submission) %>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane editor-pane fade" id="console">
    <div class="text-info"><%= t(:type_expressions_here) %></div>
    <div class="console">
    </div>
  </div>
  <div role="tabpanel" class="tab-pane editor-pane fade" id="visible-extra">
    <%= @exercise.extra_preview_html %>
  </div>
</div>

<% content_for :submission_results do %>
  <% if current_user? %>
    <div class="row">
      <div class="col-md-12 submission-results">
        <% if @exercise.assignment_for(current_user) %>
          <%= render partial: 'exercise_solutions/results', locals: {assignment: @exercise.assignment_for(current_user), guide_finished_by_solution: false} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>