<%= form_for current_user, method: 'post', url: {action: 'join'}, html: {class: 'mu-form'} do |f| %>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">
      <div class="row mu-tab-body">
        <div class="col-md-12">
          <%= render partial: 'users/profile_fields', locals: {form: f} %>
          <%= render partial: 'layouts/terms_acceptance_disclaimer', locals: {user: @user} %>
        </div>
      </div>
    </div>
  </div>
  <% if @organization.terms_of_service.present? %>
    <div>
      <h3><%= t :terms_and_conditions %></h3>
      <pre class="terms-of-service"><%= simple_format @organization.terms_of_service %></pre>
      <div class="form-check mb-3">
        <input id="accept_terms" type="checkbox" class="form-check-input">
        <label class="form-check-label"><%= t :accept_terms %></label>
      </div>
    </div>
  <% end %>
  <div>
    <%= f.submit t(:confirm), id: 'confirm_data', class: 'btn btn-complementary', disabled: @organization.terms_of_service.present? %>
  </div>
<% end %>
