<%= content_for :breadcrumbs do %>
    <%= breadcrumbs @invitation %>
<% end %>
<div>
  <h3><%= raw t(:joining, course: @invitation.course) %> </h3>
</div>
<div>
  <span><%= t :please_validate %></span>
</div>

<%= form_for current_user, method: 'post', url: {action: 'join'} do |f| %>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="info">
        <div class="row mu-tab-body">
          <div class="col-md-6">
            <div><%= f.label(t :name) %></div>
            <div><%= f.text_field :name, class: 'form-control' %></div>
            <div><%= f.label(t :email) %></div>
            <div><%= f.text_field :email, class: 'form-control' %></div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3><%= t :terms_and_conditions %></h3>

      <pre class="terms-of-service"><%= simple_format @organization.terms_of_service %></pre>

      <div class="col-md-10">
        <input id="accept_terms" type="checkbox"> <span><%= t :accept_terms %></span>
      </div>
      <div class="col-md-1">
        <%= f.submit t(:confirm), id: 'confirm_data', class: 'btn btn-success', disabled: true %>
      </div>
    </div>

<% end %>

<script>
    $(document).ready(function () {
        $('#accept_terms').click(function () {
            if ($(this).is(':checked')) {
                $("#confirm_data").removeAttr('disabled');
            } else {
                $("#confirm_data").attr('disabled', 'disabled');
            }
        });
    });
</script>
