<%= content_for :breadcrumbs do %>
    <%= breadcrumbs @invitation %>
<% end %>
<div>
  <h3><%= t(:joining_html, course: @invitation.course.name) %> </h3>
</div>
<div>
  <span><%= t :please_validate %></span>
</div>
<%= render partial: 'invitation_form' %>
<script>
  $('#accept_terms').click(function () {
    $("#confirm_data").prop('disabled', function (i, value) {
      return !value;
    });
  });
</script>
