<h1><%= t :my_submissions %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%=t('exercise')%></th>
    <th><%=t('submission_date')%></th>
    <th><%=t('status')%></th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.exercise.title, exercise_path(submission.exercise) %></td>
        <td><%= link_to submission.created_at, [submission.exercise, submission] %></td>
        <td><%= submission.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @submissions %>
<br>

