<div class="row">
  <div class="navbar navbar-form">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to t(:my_submissions), submissions_path %></li>
        <li role="presentation"><%= link_to t(:my_exercises), user_exercises_path(current_user) %></li>
        <li role="presentation"><%= link_to t(:my_guides), user_guides_path(current_user) %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="navbar">
        <%= link_to t('search'), exercises_path, class: 'btn btn-default' %>
        <%= link_to t('new_guide'), new_guide_path, class: 'btn btn-default' %>
        <%= link_to t('new_exercise'), new_exercise_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th><%= t('submission_date') %></th>
    <th><%= t('exercise') %></th>
    <th><%= t('output') %></th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= status_icon submission %> <%= link_to submission.created_at, [submission.exercise, submission] %></td>
        <td><%= link_to submission.exercise.title, exercise_path(submission.exercise) %></td>
        <td><%= submission.result_preview %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @submissions %>
<br>

