<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @submission.exercise.title %>
</p>

<p>
  <strong>Content:</strong>
<pre class="hljs <%= @submission.language %>"><code><%= @submission.content %></code></pre>
</p>


<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<p>
  <strong>Result:</strong>
<pre class="hljs <%= @submission.language %>"><code><%= @submission.result %></code></pre>
</p>


<%= link_to 'Back', exercise_submissions_path(@exercise) %>
