<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @submission.exercise.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= highlighted_code @submission.language, @submission.content %>
</p>


<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<p>
  <strong>Result:</strong>
  <%= highlighted_code @submission.language, @submission.result %>
</p>


<%= link_to 'Back', exercise_submissions_path(@exercise) %>
