<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @submission.content %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @submission.exercise.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<p>
  <strong>Result:</strong>
  <pre class="<%= @submission.language %>">
    <%= @submission.result %>
  </pre>
</p>


<%= link_to 'Back', exercise_submissions_path(@exercise) %>
