<%= form_for([@exercise, @submission], html: {role: 'form'}) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group" >
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'),  :back,  class: 'btn btn-default' %>
  </div>
<% end %>
