<%
   @guide = @exercise.guide
   @stats = @guide.stats(current_user) if @guide
%>


<div class="bs-callout bs-callout-<%= class_for_status submission.fine_status %>">
  <h4>
	<strong><%= t(submission.fine_status) %> <%= fa_icon icon_type_for_status(submission.fine_status) %></strong>
  </h4>

  <% if submission.results_visible? %>
    <div>
      <% if submission.expectation_results_visible? %>
        <div>
          <strong><%= t :unmeet_expectations %>:</strong>
          <ul>
            <% submission.visible_expectation_results.each do |it| %>
              <li><%= t_expectation_result it[:binding], it[:inspection] %>: <%= status_icon(it[:result]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if submission.feedback.present? %>
        <strong><%= t :feedback %>:</strong>
        <div>
          <%= submission.feedback_html %>
        </div>
        <a data-toggle="collapse" href="#results-section" class="text-danger">
          <%= fa_icon 'question-circle' %> <%= t :details %>
        </a>
      <% end %>
      <div id="results-section" class="<%='collapse' if submission.feedback.present? %> results-output">
        <%= submission.result_html %>
      </div>
    </div>
  <% else %>
    <div>
      <h4><%= t(:exercise_done) %></h4>
    </div>
  <% end %>

  <%= corollary_box @exercise unless submission.should_retry? %>

</div>

<div class="actions">
  <%= mail_to submission.exercise.author.email,
              fa_icon(:bug, text: t(:notify_problem_to_author)),
              subject: t(:problem_with_exercise, title: submission.exercise.title),
              class: 'text-warning warning pull-left' %>
  <%= next_exercise_button(@exercise) %>

  <%= next_guides_box(@guide, only_first: true) if @stats.try &:done? %>
</div>

<script>
  $('#exercise-status-icon').html("<%= escape_javascript exercise_status_icon(@exercise) %>");
  <% if @stats %>

  $('#failed-progress-bar').css("width", "<%= @stats.failed_ratio %>%");
  $('#passed-progress-bar').css("width", "<%= @stats.passed_ratio %>%");

  <% if @stats.done? %>
  $('#guide-done').modal()
  <% end %>

  <% end %>
</script>


