<h1>Submissions for exercise <%= link_to_exercise @exercise %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Submission Date</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.created_at, [@exercise, submission] %></td>
        <td><%= submission.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @submissions %>
<br>

<%= link_to t('new_submission'), new_exercise_submission_path([@exercise]), class: 'btn btn-primary' %>
