<h1>Submissions for exercise <%= link_to_exercise @exercise %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t :submission_date %></th>
    <th><%= t :output %></th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= status_icon submission %> <%= link_to submission.created_at, [@exercise, submission] %></td>
        <td><%= submission.result_preview %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @submissions %>
<br>

<%= link_to t('new_submission'), new_exercise_submission_path([@exercise]), class: 'btn btn-primary' %>
