<% @stats = @exercise.guide.stats(current_user) if @exercise.guide %>


<% if @submission.results_visible? %>
<div>
  <h2><%= t('results') %></h2>

  <p>
    <strong><%= t :status %>:</strong>
    <%= status_icon @submission %> <%= t @submission.status %>
  </p>

  <% unless @submission.expectation_results.blank? %>
    <p>
      <strong><%= t :expectations %>:</strong>
    <ul>
      <% @submission.expectation_results.each do |it| %>
        <li><%= t_expectation_result it[:binding], it[:inspection] %>: <%= status_icon(it[:result]) %>
        </li>
      <% end %>
    </ul>
    </p>
  <% end %>

  <p>
    <strong><%= t :output %>:</strong>
    <%= highlighted_code @submission.language, @submission.result %>
  </p>
</div>
<% else %>
<div>
  <h3 class="text-center"><%= t(:exercise_done) %></h3>
</div>
<% end %>


<% if @submission.feedback.present? %>
  <h2><%= t(:feedback) %></h2>
  <%= @submission.feedback.html_safe %>
<% end %>

<hr>

<div class="actions">
  <%= mail_to @submission.exercise.author.email, fa_icon('warning', text: t(:notify_problem_to_author)), subject: t(:problem_with_exercise, title: @submission.exercise.title), class: 'btn btn-warning pull-left' %>
  <%= previous_exercise_button(@exercise) %>
  <%= repeat_submission_button(@exercise) if @submission.should_retry? %>
  <%= next_exercise_button(@exercise) %>

  <%= link_to_more_guides(@exercise.guide) if @stats.try &:done? %>

</div>

<script>
  $('#exercise-status-icon').html("<%= escape_javascript exercise_status_icon(@exercise) %>");
  <% if @stats %>
  <% @stats = @exercise.guide.stats(current_user) %>

  $('#failed-progress-bar').css("width", "<%= @stats.failed_ratio %>%");
  $('#passed-progress-bar').css("width", "<%= @stats.passed_ratio %>%");

  <% if @stats.done? %>
  $('#guide-done').modal()
  <% end %>

  <% end %>
</script>


