<div>
  <h2><%= t('results')%></h2>

  <p>
    <strong><%= t :status %>:</strong>
    <%= status_icon @submission %> <%= t @submission.status %>
  </p>

  <p>
    <strong><%= t :output %>:</strong>
    <%= highlighted_code @submission.language, @submission.result %>
  </p>
</div>
