<div>
  <h2><%= t('results') %></h2>

  <p>
    <strong><%= t :status %>:</strong>
    <%= status_icon @submission %> <%= t @submission.status %>
  </p>

  <% unless @submission.expectation_results.blank? %>
    <p>
      <strong><%= t :expectations %>:</strong>
    <ul>
      <% @submission.expectation_results.each do |it| %>
        <li><%= t_expectation_result it[:binding], it[:inspection] %>: <%= status_icon(it[:result]) %>
        </li>
      <% end %>
    </ul>
    </p>
  <% end %>

  <p>
    <strong><%= t :output %>:</strong>
    <%= highlighted_code @submission.language, @submission.result %>
  </p>

</div>
<div class="actions">
  <%= previous_exercise_button(@exercise) %>
  <%= repeat_submission_button(@exercise) if @submission.should_retry? %>
  <%= next_exercise_button(@exercise) %>
</div>

<script>
  $('#exercise-status-icon').html("<%= escape_javascript exercise_status_icon(@exercise) %>");
  <% if @exercise.guide %>
    <% @stats = @exercise.guide.stats(current_user) %>
    $('#failed-progress-bar').css("width", "<%= @stats.failed_ratio %>%");
    $('#passed-progress-bar').css("width", "<%= @stats.passed_ratio %>%");
  <% end %>
</script>
