<div class="row">
  <h1><%=t('submission_for_exercise')%> <%= link_to_exercise @submission.exercise %>
    <small> - <%= @submission.language %></small>
  </h1>

  <section>
    <h2>Content</h2>
    <%= highlighted_code @submission.language, @submission.content %>
  </section>

  <section>
    <h2><%= t('results')%></h2>

    <p>
      <strong>Status:</strong>
      <%= status_span @submission.status %> <%= @submission.status %>
    </p>

    <p>
      <strong>Output:</strong>
      <%= highlighted_code @submission.language, @submission.result %>
    </p>

  </section>
</div>
<div class="row">
  <%= link_to t('my_submissions'), exercise_submissions_path(@submission.exercise), class: 'btn btn-default'  %>
  <%= link_to t('new_submission'), new_exercise_submission_path(@submission.exercise) %>
</div>