<%= render layout: 'layouts/exercise', locals: {current_tab: :status} do %>
  <div class="row">
    <div class="col-md-12">
      <%= @submission.content_html if @submission.content.present? %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="exercise-results">
      <div class="alert alert-warning" role="alert">
        <i class="fa fa-refresh fa-spin"></i>
        <%= t :processing_you_solution %><br>
        <small><%= t :refresh_or_wait %></small>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :no_container do %>
  <div class="modal fade" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="gridSystemModalLabel"><%= t :guide_finished, guide: @guide.name %> </h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <%= corollary_box @guide %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h4><%= t :see_next_guides %></h4>
                <%= next_guides_box(@guide) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end if @guide %>

<%= content_for :tail do %>
  <script>
    function loadResults() {
      if($('#exercise-results').length == 0) return;

      $.ajax({
        url: "<%= exercise_submission_status_path(@exercise, @submission) %>"
      }).done(function (data) {
        if (data.status === 'pending' || data.status === 'running') {
          setTimeout(loadResults, 500);
        }
      });
      $.ajax({
        url: "<%= exercise_submission_results_path(@exercise, @submission) %>"
      }).done(function (data) {
        $('#exercise-results').html(data);
      });
    }
    $(document).on('page:change',  loadResults);
    $(document).on('page:restore', loadResults);
  </script>
<% end %>

