<div class="row">
  <h1><%=t('submission_for_exercise')%> <%= link_to_exercise @submission.exercise %>
    <small> - <%= @submission.language %></small>
  </h1>

  <div>
    <h2>Content</h2>
    <%= highlighted_code @submission.language, @submission.content %>
  </div>

  <div id="exercise-results" >
    <div class="text-center">
      <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to t('new_submission'), exercise_path(@submission.exercise), class: 'btn btn-primary' %>
  <%= link_to t('my_submissions'), exercise_submissions_path(@submission.exercise), class: 'btn btn-default'  %>
</div>

<%= content_for :tail do %>
  <script>
    function loadResults() {
      $.ajax({
        url: "<%= exercise_submission_status_path(@exercise, @submission) %>"
      }).done(function (data) {
        if (data.status === 'pending' || data.status === 'running') {
          setTimeout(loadResults, 500);
        }
      });
      $.ajax({
        url: "<%= exercise_submission_results_path(@exercise, @submission) %>"
      }).done(function (data) {
        $('#exercise-results').html(data);
      });
    }
    $(loadResults);
  </script>
<% end %>
