<%= render layout: 'layouts/exercise', locals: {current_tab: :status} do %>
  <div class="row">
    <div>
      <%= highlighted_code @submission.language, @submission.content %>
    </div>

    <div id="exercise-results">
    </div>

  </div>
  <div class="row">
    <div class="actions">
      <%= link_to t(:next_exercise), exercise_path(@next_exercise), class: 'btn btn-primary' if @next_exercise %>
      <%= link_to t(:new_submission), exercise_path(@submission.exercise), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= content_for :tail do %>
  <script>
    function loadResults() {
      if($('#exercise-results').length == 0) return;

      $.ajax({
        url: "<%= exercise_submission_status_path(@exercise, @submission) %>"
      }).done(function (data) {
        if (data.status === 'pending' || data.status === 'running') {
          setTimeout(loadResults, 500);
        }
      });
      $.ajax({
        url: "<%= exercise_submission_results_path(@exercise, @submission) %>"
      }).done(function (data) {
        $('#exercise-results').html(data);
      });
    }
    $(document).on('page:change',  loadResults);
    $(document).on('page:restore', loadResults);
  </script>
<% end %>

