<%= render layout: 'layouts/exercise', locals: {current_tab: :status} do %>
  <div class="row">
    <div class="col-md-12">
      <%= @submission.content_html %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="exercise-results">
    </div>
  </div>
<% end %>

<%= content_for :no_container do %>
  <div class="modal fade" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h1><%= t :guide_finished, guide: @guide.name %> </h1>
          <%= corollary_box @guide %>
          <h3><%= t :see_next_guides %></h3>
          <%= next_guides_box(@guide) %>
        </div>
      </div>
    </div>
  </div>
<% end if @guide %>

<%= content_for :tail do %>
  <script>
    function loadResults() {
      if($('#exercise-results').length == 0) return;

      $.ajax({
        url: "<%= exercise_submission_status_path(@exercise, @submission) %>"
      }).done(function (data) {
        if (data.status === 'pending' || data.status === 'running') {
          setTimeout(loadResults, 500);
        }
      });
      $.ajax({
        url: "<%= exercise_submission_results_path(@exercise, @submission) %>"
      }).done(function (data) {
        $('#exercise-results').html(data);
      });
    }
    $(document).on('page:change',  loadResults);
    $(document).on('page:restore', loadResults);
  </script>
<% end %>

