<div class="col-md-offset-2 col-md-8">
  <div class="book-header <%= current_user? ? '' : 'logged' %>">
    <h1>ム mumuki</h1>

    <img src="<%= Organization.current.logo_url %>" alt="<%= Organization.current.name %> - Mumuki">
    <h2><%= @book.name %></h2>

    <% unless Organization.current.central? %>
      <h3>
        <small><%= raw t :powered_by_mumuki %></small>
      </h3>
    <% end %>
  </div>

  <div class="text-box">
    <%= @book.description_html %>
  </div>

  <% @book.next_lesson_for(current_user).try do |lesson| %>
    <div class="actions">
      <a href="<%= lesson_path(lesson) %>" class="btn btn-success">
        <%= t book_practice_key_for(current_user) %>
      </a>
    </div>
  <% end %>

  <h2><%= t(:content) %></h2>

  <% @book.chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_teaser_html %>
      </div>
    </div>
  <% end %>
  <% if current_user? && @exams.present? %>
    <h2><%= t(:exams) %></h2>
    <% @exams.each_with_index do |it, index| %>
      <div class="chapter">
        <h3> <%= t(:exam_number, number: index) %> <%= link_to_path_element it, mode: :plain %></h3>

        <div class="text-box">
          <%= it.guide.description_teaser_html %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
