<%= render layout: 'layouts/user', locals: {current_tab: :guides} do %>


  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:submissions_count) %></th>
      <th><%= t('created_at') %></th>
    </tr>
    </thead>

    <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= link_to_guide guide %></td>
        <td><%= guide.exercises_count %></td>
        <td><%= guide.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="actions row">
    <div class="col-md-8">
      <%= paginate @guides %>
    </div>
    <div class="col-md-4 pagination-inline">
      <% restricted_to_current_user @user do %>
        <%= link_to t(:new_guide), new_guide_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

<% end %>
