<div class="field form-group editor-code">
  <%= form.editor :content, 'dynamic',
                  placeholder: t(:editor_placeholder),
                  class: 'form-control editor',
                  value: @current_content,
                  data: {lines: 17},
                  autocomplete: 'off' %>
  <div class="mu-overlapped">
    <a class="editor-resize"> <%= expand_icon %></a>
    <a class="editor-format"><%= format_icon %></a>
    <a class="editor-reset submission-reset" data-confirm="<%= t(:confirm_reset) %>"><%= restart_icon %></a>
  </div>
</div>
