<div class="editor-code">
  <div class="editor-files">
    <span class="files-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <% @files.each_with_index do |file, index| %>
          <li class="nav-item file-tab" role="presentation">
            <a class="file-name nav-link <%= 'active' if index == 0 %>" href="#" role="tab" data-bs-target="#editor-file-<%= index %>"
               tabindex='0' data-bs-toggle='tab'><%= file.name %></a> <i class="delete-file-button fas fa-times"></i>
          </li>
        <% end %>
      </ul>
      <%= fa_icon :plus, class: 'add-file-button' %>
    </span>

    <%= multifile_hidden_inputs %>

    <div class="tab-content">
      <% @files.each_with_index do |file, index| %>
        <div role="tabpanel" class="file-editor tab-pane mu-input-panel <%= 'fade show active' if index == 0 %>" id="editor-file-<%= index %>">
          <%= form.editor "content[#{file.name}]", file.highlight_mode,
                          placeholder: t(:editor_placeholder),
                          class: 'form-control editor',
                          value: file.content,
                          data: {lines: 17} %>
        </div>
      <% end %>
    </div>

    <div class="mu-overlapped multiple-files">
      <%= expand_icon %>
      <%= format_icon %>
      <%= restart_icon 'editor', {'data-confirm': t(:confirm_reset), 'data-multiple-files': 'true'} %>
    </div>
  </div>
</div>
