<div class="field form-group editor-code">

  <div class="editor-files">
    <span class="files-tabs">
      <ul class="nav nav-tabs">
        <% @files.each_with_index do |file, index| %>
          <li role="presentation" class="file-tab <%= 'active' if index == 0 %>" data-target="#editor-file-<%= index %>" tabindex='0' data-toggle='tab'>
            <a class="file-name" href="#"><%= file.name %></a> <i class="delete-file-button fa fa-times"></i>
          </li>
        <% end %>
      </ul>
      <i class="add-file-button fa fa-plus"></i>
    </span>

    <%= multifile_hidden_inputs %>

    <div class="tab-content">
      <% @files.each_with_index do |file, index| %>
        <div role="tabpanel" class="file-editor tab-pane mu-input-panel <%= 'fade in active' if index == 0 %>" id="editor-file-<%= index %>">
          <%= form.editor "content[#{file.name}]", file.highlight_mode,
                          placeholder: t(:editor_placeholder),
                          class: 'form-control editor',
                          value: file.content,
                          data: {lines: 17} %>
        </div>
      <% end %>
    </div>

    <div class="mu-overlapped multiple-files">
      <a class="editor-resize" title="<%= t(:fullscreen) %> (F11)">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-expand fa-stack-1x"></i>
        </span>
      </a>
      <!--<a class="editor-reset submission-reset" data-confirm="<%= t(:confirm_reset) %>"><%= restart_icon %></a> -->
    </div>

  </div>
</div>
