<div class="col-md-offset-2 col-md-8">
  <div class="mumuki">
    <h1 class="logo"><span class="ahahamojimoji">ム</span></h1>

    <h1>mumuki</h1>

    <h2><%= t :mumuki_catchphrase %></h2>
  </div>

  <div class="text-box">
    <p>¿Alguna vez te sucedió estar haciendo una tarea tediosa y repetitiva? ¿Te descrubiste a vos mismo cometiendo
      errores tontos por cansancio o distracción? ¿Te diste cuenta de que estabas perdiendo tiempo valioso en cosas que... podría
      hacer una máquina?</p>

    <p>Tenemos una buena noticia para vos: ¡la programación puede ayudarte!. Programar es el arte de automatizar:
      nosotros usaremos nuestra creatividad e ingenio para pensar soluciones, y la computadora las ejecutará.
    </p>

    <p>¿La programación parece una idea poderosa y entretenida, verdad? ¿Querés aprender más?
      ¡Estás en el lugar correcto: acompañános!</p>
  </div>

  <div class="actions">
    <a href="<%= guide_path(@chapters.first.first_guide) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>

  <h2><%= t(:content) %></h2>

  <% @chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_html %>
      </div>
    </div>
  <% end %>
</div>