<div class="col-md-offset-1 col-md-9">
  <h1><%= t :mumuki_catchphrase %></h1>

  <p><%= t :mumuki_short_description %></p>

  <div class="actions">
    <a href="<%= guide_path(@chapters.first.first_guide) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>

  <h2><%= t(:content) %></h2>

  <% @chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_html %>
      </div>
    </div>
  <% end %>
</div>