<div class="col-md-offset-2 col-md-8">
  <h1 class="text-center"><%= t :mumuki_catchphrase %></h1>

  <p class="text-center"><%= t :mumuki_short_description %></p>

  <br>

  <% @chapters.each do |it| %>
    <div class="text-center chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= it.name %></h3>

      <hr>

      <p>
        <%= it.description_html %>
      </p>
      <a href="<%= guide_path(it.first_guide) %>" class="btn btn-success">
        <%= t(:start_practicing) %>
      </a>
    </div>
  <% end %>
</div>