<div class="col-md-offset-2 col-md-8">
  <div class="mumuki">
    <h1 class="logo"><span class="ahahamojimoji">ム</span></h1>

    <h1>Mumuki</h1>

    <h2><%= t :mumuki_catchphrase %></h2>
  </div>

  <div class="text-box">
    <p>¿Alguna vez te sucedió estar haciendo una tarea tediosa y repetitiva? ¿Te descrubiste a vos mismo cometiendo
      errores tontos por cansancio o distracción? ¿Te diste cuenta de que perdés tiempo valioso en cosas que... podría
      hacer una máquia?</p>

    <p>Tenemos una buena noticia para vos: ¡la programación puede ayudarte!. Porque programar es el arte de convertir
      lo repetitivo en creativo: hacer que computadora resuelva por nosotros estas tareas. Y una vez que le
      explicamos cómo hacerlo, ésta nunca se aburrirá.
    </p>

    <p>Para poder programar necesitamos usar varias herramientas. Por ejemplo, utilizamos un lenguaje - típicamente escrito -
      que nos permita comunicarnos con la computadora. Pero la programación va más allá de conocer tecnologías:
      su corazón están está en el proceso creativo de encontrar soluciones a problemas. Programar ocurre aún cuando no
      estás tipeando.
    </p>

    <p>¿La programación parece una idea poderosa y entretenida, verdad? ¿Querés aprender más, verdad?
      ¡Estás en el lugar correcto: acompañános!</p>
  </div>

  <div class="actions">
    <a href="<%= guide_path(@chapters.first.first_guide) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>

  <h2><%= t(:content) %></h2>

  <% @chapters.each do |it| %>
    <div class="chapter">
      <h3><%= t(:chapter_number, number: it.number) %> <%= link_to_path_element it, mode: :plain %></h3>

      <div class="text-box">
        <%= it.description_html %>
      </div>
    </div>
  <% end %>
</div>