<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @chapter %>
<% end %>

<div class="chapter-description">
  <h1 class="pull-left">
    <span class="hidden-xs pull-left"><%= t(:chapter_number, number: @chapter.number) %>:&nbsp;</span>
    <span class="pull-left"><%= @chapter.name %></span>
    <% if @chapter.monolesson? %>
      <div class="mu-monolesson pull-left">
        <%= render partial: 'layouts/guide_title_icons' %>
      </div>
    <% end %>
  </h1>

  <%= @chapter.description_html %>

</div>

<% if @chapter.lessons.present? %>
  <% if @chapter.monolesson? %>
    <div class="mu-monolesson">
      <%= render partial: 'layouts/guide', locals: { subject: @monolesson } %>
    </div>
  <% else %>
    <div>
      <h3><%= t(:lessons) %></h3>

      <% @chapter.lessons.includes(guide: :exercises).each do |lesson| %>
        <h4><%= lesson.number %>. <%= link_to_path_element lesson, mode: :plain %></h4>
        <%= render partial: 'layouts/progress_listing', locals: { exercises: lesson.exercises } %>
      <% end %>
    </div>
  <% end %>

<% end %>

<% if @chapter.appendix.present? %>
  <div>
    <h3><%= t(:appendix) %></h3>
    <p>
      <%= t(:appendix_teaser, link: chapter_appendix_path(@chapter)).html_safe %>
    </p>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @chapter.topic } %>
