<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @chapter %>
<% end %>

<div class="chapter-description">
  <h1>
    <span class="hidden-xs"><%= t(:chapter_number, number: @chapter.number) %>:&nbsp;</span>
    <span><%= @chapter.name %></span>
  </h1>

  <%= @chapter.description_html %>

</div>

<% if @chapter.lessons.present? %>
  <% if @chapter.mono_lesson? %>
    <% @lesson = @chapter.first_lesson %>
    <%= render partial: "layouts/guide_content", locals: {
      'subject': @lesson,
      '@guide': @lesson.guide,
      '@subtitle': true,
      '@next_exercise': @lesson.first_exercise
    }.merge_if(current_user, {
      '@stats': @lesson.stats_for(current_user),
      '@next_exercise': @lesson.next_exercise(current_user)
    }) %>
  <% else %>
    <div>
      <h3><%= t(:lessons) %></h3>

      <% @chapter.lessons.each do |lesson| %>
        <h4><%= lesson.number %>. <%= link_to_path_element lesson, mode: :plain %></h4>
        <%= render partial: 'layouts/progress_listing', locals: {exercises: lesson.exercises} %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @chapter.appendix.present? %>
  <div>
    <h3><%= t(:appendix) %></h3>
    <p>
      <%= t(:appendix_teaser, link: chapter_appendix_path(@chapter)).html_safe %>
    </p>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @chapter.topic } %>
