<h1><%= @chapter.contextualized_name %></h1>

<%= @chapter.long_description_html || @chapter.description_html %>

<a href="<%= guide_path(@chapter.first_guide) %>" class="btn btn-success pull-right">
  <%= t(:start_practicing) %>
</a>

<div>
  <h3><%= t(:progress) %></h3>

  <% @chapter.guides.each do |guide| %>
    <h4><%= link_to_guide guide, plain: true %></h4>
    <ul class="progress-listing">
      <% guide.exercises.each do |exercise| %>
        <li>
          <%= exercise_status_icon exercise %>
          <%= link_to_exercise(exercise, plain: true) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @chapter.links.present? %>
  <div>
    <h2><%= "Más información" %></h2>
    <%= @chapter.links_html %>
  </div>
<% end %>
