<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @chapter %>
<% end %>

<div class="row">
  <div class="mu-inline-block-left">
    <h1 class="d-none d-sm-block"><%= full_title_for @chapter %></h1>
    <h1 class="d-block d-sm-none"><%= short_title_for @chapter %></h1>

    <% if @chapter.monolesson? %>
      <%= render partial: 'guides/guide_title_icons' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-box mu-chapter-description">
      <%= @chapter.description_html %>
    </div>
  </div>
</div>

<% if @chapter.lessons.present? %>
  <% if @chapter.monolesson? %>
    <div> <%= render partial: 'guides/guide', locals: { subject: @monolesson } %> </div>
  <% else %>
    <div>
      <h3><%= t(:lessons) %></h3>

      <% @chapter.lessons.includes(guide: :exercises).each do |lesson| %>
        <% next unless show_content?(lesson.guide) %>
        <h4><%= lesson.number %>. <%= link_to_path_element lesson, mode: :plain %></h4>
        <%= render partial: 'layouts/progress_listing', locals: { guide: lesson.guide } %>
      <% end %>
    </div>
  <% end %>

<% end %>

<% if @chapter.appendix.present? %>
  <div>
    <h3><%= t(:appendix) %></h3>
    <p>
      <%= t(:appendix_teaser, link: chapter_appendix_path(@chapter)).html_safe %>
    </p>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @chapter.topic } %>
