<%= content_for :breadcrumbs do %>
  <%= path_breadcrumb @chapter %>
<% end %>

<div>
  <h1><%= t(:chapter_number, number: @chapter.number) %> <%= @chapter.name %></h1>

  <%= @chapter.long_description_html || @chapter.description_html %>

  <div class="actions">
    <a href="<%= guide_path(@chapter.first_guide) %>" class="btn btn-success">
      <%= t(:start_practicing) %>
    </a>
  </div>
</div>
<div>
  <h3><%= t(:content) %></h3>

  <% @chapter.guides.each do |guide| %>
    <h4><%= t(:guide_number, number: guide.number) %>: <%= link_to_path_element guide, mode: :plain %></h4>
    <ul class="progress-listing">
      <% guide.exercises.each do |exercise| %>
        <li>
          <%= exercise_status_icon exercise %>
          <%= link_to_path_element(exercise) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @chapter.links.present? %>
  <div>
    <h2><%= "Más información" %></h2>
    <%= @chapter.links_html %>
  </div>
<% end %>
