<%

  @lesson ||= @chapter.first_lesson
  @guide ||= @lesson.guide
  @stats ||= @lesson.stats_for(current_user) if current_user?
  @next_exercise ||= (current_user? ? @lesson.next_exercise(current_user) : @lesson.first_exercise)

%>

<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @chapter %>
<% end %>

<div class="chapter-description">
  <h1>
    <span class="hidden-xs"><%= t(:chapter_number, number: @chapter.number) %>:&nbsp;</span>
    <span><%= @chapter.name %></span>
    <%= render_if_mono_lesson partial: 'layouts/guide_title_icons' %>
  </h1>

  <%= @chapter.description_html %>

</div>

<% if @chapter.lessons.present? %>
  <%= render_if_mono_lesson partial: 'layouts/mono_lesson', locals: { subject: @lesson } do %>
    <div>
      <h3><%= t(:lessons) %></h3>

      <% @chapter.lessons.each do |lesson| %>
        <h4><%= lesson.number %>. <%= link_to_path_element lesson, mode: :plain %></h4>
        <%= render partial: 'layouts/progress_listing', locals: {exercises: lesson.exercises} %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @chapter.appendix.present? %>
  <div>
    <h3><%= t(:appendix) %></h3>
    <p>
      <%= t(:appendix_teaser, link: chapter_appendix_path(@chapter)).html_safe %>
    </p>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @chapter.topic } %>
