<div class="bs-callout bs-callout-<%= @authorization_request.icon[:type] %>">
  <h4 class="text-<%= @authorization_request.icon[:type] %>">
    <strong><%= fa_icon @authorization_request.icon[:class] %> <%= t :important_info %></strong>
  </h4>
  <p>
    <%= yield %>
  </p>
</div>
