<%= content_for :breadcrumbs do %>
  <%= home_breadcrumb %>
<% end %>

<h1><%= t :certificate %>: <%= @certificate.title %></h1>

<div class="container">
  <div class="row mu-certificate-data">
    <div class="col-md-6">
      <div class="row text-center jumbotron">
        <div class="col-md-12">
          <h3 class="mu-certificate-name">
            <%= t :completed_by %>
            <strong><%= @certificate.user.formal_full_name %></strong>
          </h3>
          <div><small><%= @certificate.created_at.to_date %></small></div>
          <span><%= t(:certificate_verified_legend, description: @certificate.description, full_name: @certificate.user.formal_full_name).html_safe %></span>
        </div>
      </div>
      <% if @certificate.for_user? current_user %>
        <div class="row mu-certificate-buttons">
          <a href="<%= linkedin_post_url @certificate %>" target="_blank">
            <img src="https://download.linkedin.com/desktop/add2profile/buttons/<%= t :linkedin_profile_button_locale %>.png" alt="LinkedIn Add to Profile button">
          </a>
          <a class="btn btn-complementary mu-certificate-download-btn pull-right" href="<%= download_certificate_path @certificate.code %>" target="_blank">
            <i class="fas fa-fw fa-lg fa-download mu-certificate-download-btn-icon"></i>
            <span class="mu-certificate-download-btn-text"><%= t :certificate %></span>
          </a>
        </div>
      <% end %>
    </div>
    <div class="certificate-preview col-md-6">
      <%= render partial: 'certificates/certificate', locals: { certificate: @certificate } %>
    </div>
  </div>
</div>

<%= content_for :profile do %>
  <%= home_breadcrumb %>
<% end %>
