<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @unit %>
<% end %>

<div>
  <h1>
    <span class="hidden-xs"><%= t(:unit_number, number: @unit.number) %>:&nbsp;</span>
    <span><%= @unit.name %></span>
  </h1>

  <%= @unit.description_html %>

</div>

<% if @unit.lessons.present? %>
<div>
  <h3><%= t(:content) %></h3>

  <% @unit.lessons.each do |lesson| %>
    <h4><%= t(:lesson_number, number: lesson.number) %>: <%= link_to_path_element lesson, mode: :plain %></h4>
    <%= render partial: 'layouts/progress_listing', locals: {exercises: lesson.exercises} %>
  <% end %>
</div>
<% end %>


<% if @unit.appendix.present? %>
  <div>
    <h3><%= t(:appendix) %></h3>
    <p>
      <%= t(:appendix_teaser, link: unit_appendix_path(@unit)).html_safe %>
    </p>
  </div>
<% end %>
