<tr>
  <td>
    <%= language_image_tag(exercise.language) %>
  </td>
  <td>
    <%= exercise.submissions_count %>
  </td>
  <td>
    <%= exercise_status_icon(exercise) %>
    <a href="<%= exercise_path(exercise) %>"><%= exercise.title %></a>
  </td>
  <td><%= flag(exercise.locale) %></td>
  <td>
    <%= time_ago_in_words(exercise.created_at) %>
  </td>
</tr>
