<tr>
  <td>
    <%= language_image_tag(exercise.language) %>
  </td>
  <td>
    <%= exercise.submissions_count %>
  </td>
  <td>
    <% if exercise.solved_by?(current_user) && current_user %>
      <span class="glyphicon glyphicon-certificate passed-exercise" aria-hidden="true"></span>
    <% elsif !exercise.solved_by?(current_user) && current_user %>
      <span class="glyphicon glyphicon-certificate pending-exercise" aria-hidden="true"></span>
    <% end %>
    <a href="<%= exercise_path(exercise) %>"><%= exercise.title %></a>
  </td>
  <td>
    <%= time_ago_in_words(exercise.created_at) %>
  </td>
</tr>