<%= bootstrap_form_for(@guide, html: {role: 'form'}) do |f| %>
  <%= f.text_field :name %>

  <%= f.text_field :github_repository, placeholder: t(:github_url_hint) %>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
  </div>
<% end %>
