<%= bootstrap_form_for(@guide, html: {role: 'form'}) do |f| %>
  <%= f.text_field :name %>

  <%= f.text_area :description, class: 'form-control' %>

  <%= f.text_field :github_repository %>
  <%= t 'github_url_hint' %></small>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
  </div>
<% end %>
