<%= render_runner_assets @guide.language, :layout %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% if subject.timed? && @stats.started? && !current_user.teacher? %>
  <%= render partial: 'layouts/timer', locals: {end_time: subject.real_end_time(current_user)} %>
<% end %>

<%= yield if block_given? %>

<h3>
  <%= t :exercises %>
  <%= restart_guide_link(@guide) if current_user && @stats.started? && @guide.resettable? %>
</h3>

<%= render partial: 'layouts/progress_listing', locals: { guide: @guide } %>

<% if @stats&.done? %>
  <div class="text-box">
    <%= corollary_box @guide, @guide.sources.present? %>
  </div>
<% end %>

<% if @guide.sources.present? %>
  <div class="text-box <%= last_box_class !@stats&.done? %>">
    <h3><%= t :sources %></h3>
    <%= @guide.sources_html %>
  </div>
<% end %>

<% if !@stats.try(:done?) && @next_exercise && show_content_element? %>
  <div class="text-box">
    <div class="actions">
      <%= link_to t(lesson_practice_key_for(@stats)), exercise_path(@next_exercise), class: 'btn btn-complementary' %>
    </div>
  </div>
<% end %>

<% if @stats&.done? && show_content_element? %>
  <div class="text-box">
    <div class="actions">
      <%= next_lesson_button @guide %>
    </div>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @guide } %>
