<h2 class="text-center"><%= t :guides_index_title %></h2>

<br>
<%# TODO duplicated code with exercise index %>
<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag url: guides_path, method: :get do |f| %>

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">
          <div class="input-group-btn">
            <button id="search"  class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @guides.each do |it| %>
      <div class="panel panel-default exercise-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <p class="text-left">
                <%# exercise_status_icon(it) %>
                <strong><%= link_to_path_element it %></strong>
                <%= with_classifications(it) %>
              </p>
            </div>
            <div class="col-md-2">
              <p class="text-right">
                <%= language_icon it.language %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <%= it.teaser_html(link_to '...', it) %>
            </div>
            <div class="col-md-3">
              <p class="text-right"><%= it.exercises_count %> <%= t :exercise_count %> <%# TODO use quantifiers %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= link_to_tag_list(it.search_tags) %>
            </div>
            <div class="col-md-4">
              <p class="text-right"><%= time_ago_in_words(it.created_at) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="text-center">
  <strong><%= raw t :no_guides if @guides.empty? %></strong>
</div>


<div class="row">
  <%= paginate @guides %>
  <br>
</div>

