<%= render layout: 'layouts/guides', locals: {current_tab: :guide} do %>

  <div class="row">
    <div class="col-md-12">
      <%= taglist_tag @guide.tag_list %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3><%= t :about_this_guide %></h3>

        <p>
          <%= @guide.description %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h3><%= t :stats %></h3>

      <p>
        <%= raw t :guide_has_exercises_stats, total: @stats.total %>
      </p>

      <p>
        Vos ya <strong>resolviste <%= stats(@stats, :passed) %></strong> de ellos.

        Además, <strong> intentaste resolver <%= stats(@stats, :failed) %>
        ejercicios </strong> más.

        Y todavía <strong>hay <%= stats(@stats, :unknown) %> que podrías intentar resolver</strong>.
      </p>

      <p>
        <% if @stats.done? %>
          ¡Eso significa que <strong>ya terminaste esta guía</strong>! ¡Bien hecho!
        <% elsif @stats.good_progress? %>
          Además la mayoría de las soluciones que enviste resolvieron los ejercicios adecuadamente.
          ¡Felicitaciones!
        <% elsif @stats.stuck? %>
          Parecería que te está costando un poco despegar con esta guía. ¡<strong>No te desanimes</strong>, es
          cuestión de práctica y
          seguir intentando!
        <% end %>
      </p>

    </div>
    <div class="col-md-7">
      <%= pie_chart @stats.to_h { |it| t(it) }, colors: ["green", "red", 'grey'] %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= link_to t(:start_practicing), exercise_path(@next_exercise), class: 'btn btn-primary' if @next_exercise %>
      </div>
    </div>
  </div>
<% end %>


