<h1><%= @guide.name %></h1>

<div>
  <%= link_to_github @guide %>
</div>

<div>
  <%= link_to guide_imports_url(@guide), guide_imports_url(@guide) %>
</div>

<ul>
  <%= render partial: 'exercise', collection: @guide.exercises %>
</ul>


<ul>
  <%= render partial: 'import', collection: @guide.imports %>
</ul>