<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @guide.name %>
      <small> - <%= @guide.language %></small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= taglist_tag @guide.tag_list %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @stats.each do |status, count| %>
        <span>
          <%= status_icon(status) %> <%= count %>
        </span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <p>
        <%= @guide.description %>
      </p>
    </div>
    <% restricted_to_author @guide do %>
      <%# link_to t('edit'), edit_guide_path(@exercise), class: 'btn btn-default' if @guide.can_edit? %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to t(:start_practicing), exercise_path(@next_exercise), class: 'btn btn-primary' if @next_exercise %>
  </div>
</div>
