<%= render layout: 'layouts/guide', locals: {current_tab: :overview} do %>

  <div class="row">
    <div class="col-md-12">
      <%= link_to_tag_list @guide.search_tags %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3><%= t :about_this_guide %></h3>

        <p>
          <%= @guide.description_html %>
        </p>
      </div>
    </div>
  </div>

  <% if current_user? %>
    <div class="row">
      <div class="col-md-5">
        <h3><%= t :stats %></h3>

        <p>
          <%= raw t :guide_has_exercises_stats, total: @stats.total %>
        </p>

        <p>
          <%= raw t :passed_exercises_stats, count: stats(@stats, :passed) %>
          <%= raw t :failed_exercises_stats, count: stats(@stats, :failed) %>
          <%= raw t :unknown_exercises_stats, count: stats(@stats, :unknown) %>
        </p>

        <p>
          <% if @stats.done? %>
            ¡Eso significa que <strong>ya terminaste esta guía</strong>! ¡Bien hecho!
            Tenemos más guías para vos:
            <%= next_guides_box @guide %>
          <% elsif @stats.good_progress? %>
            <%= raw t :good_progress_in_guide %>
          <% elsif !@stats.started? %>
            <%= raw t :not_started_guide %>
          <% elsif @stats.stuck? %>
            <%= raw t :stuck_in_guide %>
          <% end %>
        </p>

      </div>
      <div class="col-md-7">
        <%= pie_chart @stats.to_h { |it| t(it) }, colors: %w(green yellow red grey) %> <%# FIXME use standard colors %>
      </div>
    </div>

  <% else %>

    <div class="row">
      <div class="col-md-12">
        <h3><%= t :stats %></h3>

        <p>
          <%= raw t :guide_has_exercises_stats, total: @guide.exercises_count %>
        </p>

        <p>
          <strong><%= t :you_must_sign_in_to_see_stats %></strong>
        </p>
      </div>
    </div>

  <% end %>

  <% unless @stats.try :done? %>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <% if @next_exercise  %>
            <%= link_to t(practice_key_for(@stats)), exercise_path(@next_exercise), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>


