<%= render layout: 'layouts/user', locals: {current_tab: :recent_activity} do %>


  <div>
    <h2><%= t(:recent_activity) %></h2>
    <ul>
      <% @solutions.each do |it| %>
        <li><%= time_ago_in_words it.updated_at %>: <%= status_icon it %> <%= exercise_breadcrumb it.exercise %></li>
      <% end %>
    </ul>
  </div>

  <%= paginate @solutions %>


<% end %>
