<%= form_for(@exercise, html: {role: 'form'}) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :language %><br>
    <%= f.select :language, Plugins::LANGUAGES, {}, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :tag_list %><br>
    <small><%=t('comma_or_tab_separated')%></small>
    <%= f.text_field :tag_list, class: 'form-control', 'data-role '=> 'tagsinput' %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <small><%=t('you_can_use_markdown_here_html') %> 
     </small>
    <%= f.text_area :description, class: 'form-control', rows: 8 %>
  </div>
  <div class="field form-group">
    <%= f.label :test %><br>
    <%= f.text_area :test, class: 'form-control', rows: 15 %>
  </div>
  <div class="actions form-group" >
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'),  :back,  class: 'btn btn-default' %>
  </div>
<% end %>
