<%= bootstrap_form_for(@exercise) do |f| %>

  <div role="tabpanel">
    <br>

    <%= tab_list [:basic, :extras, :expectations, :guide ] %>

    <div class="tab-content">
      <br>

      <div role="tabpanel" class="tab-pane active" id="basic-panel">
        <div class="row">
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.text_field :title %>
            </div>
            <div class="field form-group">
              <%= f.text_field :tag_list, class: 'form-control', 'data-role ' => 'tagsinput' %>
              <small><%= t('comma_or_tab_separated') %></small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.collection_select(:language_id, Language.all, :id, :name, {}, class: 'form-control') %>
            </div>
            <div class="field form-group"><%# TODO extract %>
              <%= f.select(:locale, Locale.all, {}, class: 'form-control') %>
            </div>
            <div class="field form-group">
              <%= f.select(:layout, Exercise.layouts.keys.to_a, {}, class: 'form-control') %>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.editor :description, :markdown %>
              <small><%= t('you_can_use_markdown_here_html') %></small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.editor :test%>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="extras-panel">
        <div class="row">
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.editor :extra_code %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.editor :hint, :markdown %>
              <small><%= t :you_can_use_markdown_here_html %></small>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="expectations-panel">
        <div class="row">
          <div class="col-md-8">
            <table class="table  table-bordered">
              <thead>
              <tr>
                <th><%= t :inspection %></th>
                <th><%= t :binding %></th>
                <th></th>
              </tr>
              </thead>
              <tbody id="expectations">
              <%= f.fields_for :expectations do |f| %>
                <%= render 'expectation_fields', f: f %>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
            <div class="links text-right">
              <%= link_to_add_association "#{fa_icon('plus')} #{t(:add_expectation)}".html_safe, f, :expectations,
                                          'data-association-insertion-node' => '#expectations',
                                          'data-association-insertion-method' => 'append' %>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="guide-panel">
        <div class="row">
          <div class="col-md-12">
            <%= f.collection_select(:guide_id, Guide.all, :id, :name, {:include_blank => true}, class: 'form-control') %>
            <%= f.number_field :position  %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="actions form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
