<%= render_runner_assets exercise.language, :layout, loads_more_assets: exercise.custom? %>

<% if exercise.console? %>
  <%= hidden_field_tag(:stateful_console, exercise.stateful_console?) %>
  <%= hidden_field_tag(:prompt, exercise.prompt) %>
<% end %>
<%= hidden_field_tag(:exercise_language, exercise.highlight_mode) %>
<%= hidden_field_tag :console_endpoint, exercise_queries_path(exercise) %>

<details open>
  <summary class="discussion-summary">
    <h3 class="discussion-exercise-title">
      <span>
        <span class="hidden-xs"><%= t(:exercise_number, number: exercise.number) %>:&nbsp;</span>
        <span><%= exercise.name %></span>
      </span>
      <span class="mu-inline-block-right hidden-xs">
        <h1 class="no-margin"><%= language_icon exercise.language %></h1>
      </span>
    </h3>
    <div class="discussion-description">
      <%= label_for_contextualization(@discussion, class: 'hidden-xs') %> ·
      <span class="discussion-info">
          <span class="discussion-initiator-name">
            <%= @discussion.initiator.name %>
          </span>
        <span class="hidden-xs"><%= discussion_info(@discussion) unless @discussion.new_record? %></span>
      </span>
      <% if current_user && @discussion.persisted? %>
        <span class="mu-inline-block-right discussion-user-menu no-margin">
          <% if @discussion.subscribable? %>
            <a class="discussion-subscription" onclick="mumuki.Forum.discussionSubscription('<%= subscription_discussion_url(@discussion) %>')">
              <%= fa_icon(:eye, class: 'fa-xs') %>
              <%= span_toggle t(:subscribe), t(:unsubscribe), current_user.subscribed_to?(@discussion), class: 'hidden-sm hidden-xs' %>
            </a>
          <% end %>
          <% if @discussion.solved? %>
            <a class="discussion-upvote" onclick="mumuki.Forum.discussionUpvote('<%= upvote_discussion_url(@discussion) %>')">
              <%= fa_icon('thumbs-o-up', class: 'fa-xs') %>
              <%= span_toggle t(:upvote), t(:undo_upvote), current_user.upvoted?(@discussion), class: 'hidden-sm hidden-xs' %>
            </a>
          <% end %>
        </span>
      <% end %>
    </div>
  </summary>

  <% if should_render_read_only_exercise_tabs?(@discussion) %>

    <ul class="nav nav-tabs discussion-tabs" role="tablist">
      <% if @discussion.has_submission? %>
        <li role="presentation" class="active">
          <a data-target="#solution" aria-controls="solution" role="tab" data-toggle="tab" class="editor-tab">
            <%= t :solution %>
          </a>
        </li>
        <li role="presentation">
          <a data-target="#results" aria-controls="results" role="tab" data-toggle="tab" class="editor-tab">
            <%= t :results %>
          </a>
        </li>
      <% end %>

      <li role="presentation" <%= "class=active" unless @discussion.has_submission? %>>
        <a data-target="#content" aria-controls="content" role="tab" data-toggle="tab" class="editor-tab">
          <%= t :description %>
        </a>
      </li>

      <% if exercise.extra_visible? %>
        <%= extra_code_tab %>
      <% end %>

      <% if exercise.queriable? %>
        <%= console_tab %>
      <% end %>
    </ul>

    <div class="tab-content">

      <% if @discussion.has_submission? %>
        <div role="tabpanel" class="tab-pane active" id="solution">
          <div class="mu-tab-body">
            <div role="tabpanel" class="tab-pane mu-input-panel fade in active" id="editor">
              <div class="mu-read-only-editor">
                <%= render_exercise_read_only_editor exercise, @discussion.solution %>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="results">
          <div class="mu-tab-body">
            <%= render layout: 'exercise_solutions/contextualization_results_container', locals: {contextualization: @discussion} do %>
              <div class="row">
                <div class="col-md-12 submission-results">
                  <%= render partial: 'exercise_solutions/contextualization_results_body',
                             locals: {contextualization: @discussion, guide_finished_by_solution: false} %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div role="tabpanel" class="tab-pane <%= 'active' unless @discussion.has_submission? %>" id="content">
        <div class="mu-tab-body">
          <div class="exercise-assignment">
            <%= render partial: 'exercises/exercise_assignment', locals: {exercise: exercise} %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane mu-input-panel fade" id="console">
        <div class="mu-overlapped-container">
          <div class="console">
          </div>
          <div class="mu-overlapped">
            <a class="console-reset submission-reset"><%= restart_icon %></a>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane mu-input-panel fade mu-elipsis" id="visible-extra">
        <%= @discussion.extra_preview_html %>
      </div>
    </div>
  <% else %>
    <div class="exercise-assignment">
      <%= render partial: 'exercises/exercise_assignment', locals: {exercise: exercise} %>
    </div>
  <% end %>
</details>
