<h1>Listing exercises</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.language %></td>
        <td><%= exercise.title %></td>
        <td><%= exercise.description %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Submissions', exercise_submissions_path(exercise) %></td>
        <td><%= link_to 'New submission', new_exercise_submission_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
