<div class="row">
  <div class="navbar">
    <%= form_tag exercises_path, method: :get do |f| %>
        <div class="form-group">
          <div class="col-md-11">
            <input class="form-control" id="q" name="q" type="search"
                   placeholder="<%= t(:exercise_search) %>" value="<%= @q %>">
          </div>
          <div class="col-md-1">
            <input class="btn btn-default pull-right" name="commit" type="submit" value="<%= t :search %>">
          </div>
        </div>
  <% end %>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th><%= t :submissions_count %></th>
      <th><%= t :title %></th>
      <th></th>
      <th><%= t :tag %></th>
      <th><%= t :language %></th>
      <th><%= t :created_at %></th>
    </tr>
    </thead>

    <tbody>
    <% @exercises.each do |exercise| %>
        <tr>
          <td>
            <%= exercise.submissions_count %>
          </td>
          <td>
            <%= exercise_status_icon(exercise) %>
            <%= link_to exercise.title, exercise %>
          </td>
          <td><%= flag(exercise.locale) %></td>
          <td><%= link_to_tag_list(exercise.tag_list) %></td>
          <td><%= language_icon exercise.language %>
            <%= link_to exercise.language, exercises_path(q: exercise.language.name) %> </td>
          <td>
            <%= time_ago_in_words(exercise.created_at) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @exercises %>
  <br>
</div>
