<h1><%=t ('listing_exercises')%></h1>

<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th><%=t('language')%></th>
      <th><%=t('title')%></th>
      <th>Tags</th>
      <th colspan="5"><%=t('actions')%></th>
    </tr>
    </thead>

    <tbody>
    <% @exercises.each do |exercise| %>
        <tr>
          <td><%= language_image_tag exercise.language %> <%= exercise.language %> </td>
          <td>
            <% if current_user && exercise.solved_by?(current_user) %>
              <span class="glyphicon glyphicon-certificate passed-exercise" aria-hidden="true"></span>
            <% elsif current_user && !exercise.solved_by?(current_user) %>
              <span class="glyphicon glyphicon-certificate pending-exercise" aria-hidden="true"></span>
            <% end %>
            <%= exercise.title %>
          </td>
          <td><%= exercise.tag_list %></td>
          <td><%= link_to t('show'), exercise %></td>
          <td><%= link_to t('my_submissions'), exercise_submissions_path(exercise) %></td>
          <td><%= link_to t('new_submission'), new_exercise_submission_path(exercise) %></td>
          <% restricted_to_author exercise do %>
              <td><%= link_to t('edit'), edit_exercise_path(exercise) if exercise.can_edit? %></td>
              <td><%= link_to t('destroy'), exercise, method: :delete, data: {confirm: t('are_you_sure')} if exercise.can_destroy? %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @exercises %>
  <br>

  <%= link_to t('new_exercise'), new_exercise_path, class: 'btn btn-primary' %>
  <%= link_to t('new_guide'), new_guide_path, class: 'btn btn-primary' %>

</div>