<br>

<div class="row">
  <div class="col-md-3">
    <div class="exercise-search-box" >
      <%= bootstrap_form_tag url: exercises_path, method: :get do |f| %>
        <%= f.text_field :q, hide_label: true, placeholder: t(:exercise_search) %>
        <%= f.submit t(:search), class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <% @exercises.each do |exercise| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <p class="text-left">
                <%= exercise_status_icon(exercise) %>
                <strong><%= link_to exercise.title, exercise %></strong>
              </p>
            </div>
            <div class="col-md-2">
              <p class="text-right">
                <%= language_icon exercise.language %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <%= exercise.teaser_html(link_to '...', exercise) %>
            </div>
            <div class="col-md-3">
              <p class="text-right"><%= exercise.submissions_count %> <%= t :submissions_count %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= link_to_tag_list(exercise.search_tags) %>
            </div>
            <div class="col-md-4">
              <p class="text-right"><%= time_ago_in_words(exercise.created_at) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="text-center">
  <strong><%= raw t :no_exercises, create_path: new_exercise_path if @exercises.empty? %></strong>
</div>


<div class="row">
  <%= paginate @exercises %>
  <br>
</div>
