<h2 class="text-center">¿Buscando algún ejercicio particular?</h2>

<br>
<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag url: exercises_path, method: :get do |f| %>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">

          <div class="input-group-btn">
            <button id="search" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @exercises.each do |exercise| %>
      <div class="panel panel-default exercise-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <p class="text-left">
                <%= exercise_status_icon(exercise) %>
                <strong><%= link_to exercise.title, exercise %></strong>
              </p>
            </div>
            <div class="col-md-2">
              <p class="text-right">
                <%= language_icon exercise.language %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <%= exercise.teaser_html(link_to '...', exercise) %>
            </div>
            <div class="col-md-3">
              <p class="text-right"><%= exercise.submissions_count %> <%= t :submissions_count %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= link_to_tag_list(exercise.search_tags) %>
            </div>
            <div class="col-md-4">
              <p class="text-right"><%= time_ago_in_words(exercise.created_at) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="text-center">
  <strong><%= raw t :no_exercises, create_path: new_exercise_path(q: @q) if @exercises.empty? %></strong>
</div>


<div class="row">
  <%= paginate @exercises %>
  <br>
</div>
