<%= content_for :breadcrumbs do %>
  <%= exercise_breadcrumb @exercise %>
<% end %>

<% @stats = @exercise.guide.stats_for(current_user) if current_user && @exercise.guide %>

<div class="row">
  <div class="col-md-11">
    <h1>
      <%= t(:exercise_number, number: @exercise.position) %>: <%= @exercise.name %>
    </h1>
  </div>
  <div class="col-md-1">
    <h1><%= language_icon @exercise.language %></h1>
  </div>
</div>

<div>
  <% if @stats %>
    <%= render partial: 'layouts/progress_bar', locals: {guide: @exercise.guide, stats: @stats} %>
  <% end %>
</div>


<% content_for :assignment do %>
  <div class="text-box">
    <%= @exercise.description_html %>
  </div>
  <div>
    <% if @exercise.hint.present? %>
      <a data-toggle="collapse" href="#hint-section" class="text-info">
        <%= fa_icon 'question-circle' %> <%= t :need_a_hint %>
      </a>

      <div id="hint-section" class="collapse">
        <p>
          <%= @exercise.hint_html %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<%= render layout: "layouts/submissions/#{@exercise.layout}" do %>
<% end %>

<%= hidden_field_tag :exercise_id, @exercise.id %>

<div style="display: none" id="processing-template">
  <div class="bs-callout bs-callout-info">
    <h4><i class="fa fa-refresh fa-spin"></i> <strong><%= t :processing_you_solution %></strong></h4>
    <%= t :refresh_or_wait %>
  </div>
</div>

<%= content_for :no_container do %>
  <div class="modal fade" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="gridSystemModalLabel"><%= t :guide_finished, guide: @guide.name %> </h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <%= corollary_box @guide %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <%= next_button(@guide) || chapter_finished(@guide) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end if current_user? %>
