<div class="row">

  <h1>
    <%= @exercise.title %> <small> - <%= @exercise.language %></small>
  </h1>

  <section>
    <h2>Description &amp; Instructions</h2>
    <p>
      <%= @exercise.description %>
    </p>
  </section>

  <% restricted_to_current_user @exercise do %>
      <section>
        <h2>Tests</h2>
        <p>
        <%= highlighted_code @exercise.language, @exercise.test %>
        </p>
      </section>
  <% end %>

  <%= link_to 'My Submissions', exercise_submissions_path(@exercise) %> |
  <%= link_to 'New submission', new_exercise_submission_path(@exercise) %> |
  <% restricted_to_current_user @exercise do %>
      <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
  <% end %>
  <%= link_to 'All exercises', exercises_path %>


</div>