<%= render_runner_assets @exercise.language, :layout, loads_more_assets: @exercise.custom? %>

<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @exercise %>
<% end %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% @stats = @exercise.stats_for(current_user) %>

<% if @exercise.navigable_parent.timed? && !current_user.teacher? %>
  <%= render partial: 'layouts/timer', locals: {end_time: @exercise.navigable_parent.real_end_time(current_user)} %>
<% end %>

<% unless @exercise.input_kids? %>
  <div class="d-flex">
    <div class="mu-inline-block-left">
      <h1 class="d-none d-sm-block"><%= full_title_for @exercise %></h1>
      <h1 class="d-block d-sm-none"><%= short_title_for @exercise %></h1>
      <%= render partial: 'exercises/exercise_title_icons' %>
    </div>
    <div class="d-none d-sm-block">
      <h1><%= language_icon @exercise.language %></h1>
    </div>
  </div>
<% end %>

<div>
  <% if @stats && standalone_mode? %>
      <%= render partial: 'layouts/progress_bar', locals: {actual: @exercise, guide: @exercise.guide, stats: @stats} %>
  <% end %>
</div>

<% content_for :assignment do %>
  <%= render partial: 'exercise_assignment', locals: {exercise: @exercise} %>
<% end %>

<%= content_for :exercise_content do %>
  <%= render partial: 'layouts/exercise_inputs/forms/form', locals: {exercise: @exercise} %>
<% end %>

<%= render_exercise_input_layout(@exercise) %>

<%= hidden_field_tag default_content_tag_id(@exercise), @default_content %>
<%= hidden_field_tag "mu-exercise-id", @exercise.id %>
<%= hidden_field_tag "mu-exercise-layout", @exercise.layout %>
<%= hidden_field_tag "mu-exercise-settings", @exercise.settings.to_json %>
<%= hidden_field_tag "mu-exercise-read-only", current_access_mode.read_only? %>

<div class="d-none" id="processing-template">
  <div class="bs-callout bs-callout-info">
    <h4><i class="fas fa-sync-alt fa-spin"></i> <strong><%= t :processing_your_solution %></strong></h4>
    <%= t :refresh_or_wait %>
  </div>
</div>

<%= content_for :no_container do %>
  <% if @assignment.skipped? %>
    <%= render partial: 'exercises/exercise_skipped' %>
  <% end %>

  <% if in_gamified_context? %>
    <%= render partial: 'layouts/modals/level_up' %>
  <% end %>

  <%= render partial: 'layouts/modals/guide_corollary', locals: {guide: @guide} if @stats.almost_done? %>
  <%= render partial: 'layouts/modals/new_message', locals: {exercise: @exercise} if should_render_message_input?(@exercise) %>
<% end if current_user? %>
