<%= render_runner_assets @exercise.language, :layout, loads_more_assets: @exercise.custom? %>

<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @exercise %>
<% end %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% @stats = @exercise.guide.stats_for(current_user) if current_user && @exercise.guide %>

<% if @exercise.navigable_parent.timed? && !current_user.teacher? %>
  <%= render partial: 'layouts/timer', locals: {end_time: @exercise.navigable_parent.real_end_time(current_user)} %>
<% end %>

<% unless @exercise.input_kids? %>
  <div class="row">
    <div class="mu-inline-block-right hidden-xs">
      <h1><%= language_icon @exercise.language %></h1>
    </div>
    <div class="mu-inline-block-left">
      <h1>
        <span class="hidden-xs"><%= t(:exercise_number, number: @exercise.number) %>:&nbsp;</span>
        <span><%= @exercise.name %></span>
        <%= teacher_info_button @exercise %>
        <%= link_to_bibliotheca_exercise @exercise %>
      </h1>
    </div>
  </div>
<% end %>

<div>
  <% if @stats && standalone_mode? %>
      <%= render partial: 'layouts/progress_bar', locals: {actual: @exercise, guide: @exercise.guide, stats: @stats} %>
  <% end %>
</div>

<% content_for :assignment do %>
  <%= render partial: 'exercise_assignment', locals: {exercise: @exercise} %>
<% end %>

<%= content_for :exercise_content do %>
  <%= render partial: 'layouts/exercise_inputs/forms/form', locals: {exercise: @exercise} %>
<% end %>

<%= render_exercise_input_layout(@exercise) %>

<%= hidden_field_tag default_content_tag_id(@exercise), @default_content %>
<%= hidden_field_tag "mu-exercise-id", @exercise.id %>
<%= hidden_field_tag "mu-exercise-layout", @exercise.layout %>
<%= hidden_field_tag "mu-exercise-settings", @exercise.settings.to_json %>

<div style="display: none" id="processing-template">
  <div class="bs-callout bs-callout-info">
    <h4><i class="fa fa-refresh fa-spin"></i> <strong><%= t :processing_your_solution %></strong></h4>
    <%= t :refresh_or_wait %>
  </div>
</div>

<%= content_for :no_container do %>
  <% if @assignment.skipped? %>
    <%= render partial: 'layouts/exercise_skipped' %>
  <% end %>

  <% if in_gamified_context? @current_user %>
    <%= render partial: 'layouts/modals/level_up' %>
  <% end %>

  <%= render partial: 'layouts/modals/guide_corollary', locals: {guide: @guide} %>
  <%= render partial: 'layouts/modals/new_message', locals: {exercise: @exercise} if should_render_message_input?(@exercise) %>
<% end if current_user? %>
