<%= render layout: 'layouts/exercise' do %>
  <div class="row">
    <div class="col-md-6 exercise-assignment">
      <div>
        <%= @exercise.description_html %>
      </div>
      <div>
        <% if @exercise.hint.present? %>
          <a data-toggle="collapse" href="#hint-section" class="text-info">
            <%= fa_icon 'question-circle' %> <%= t :need_a_hint %>
          </a>
          <div id="hint-section" class="collapse">
            <p>
              <%= @exercise.hint_html %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 ace-editor-col">
      <% if current_user? %>
        <%= form_for([@exercise, @submission], remote: true, html: {role: 'form'}) do |f| %>
          <div class="field form-group">
            <%= f.text_area :content, class: 'form-control editor', value: @previous_submission_content, style: 'display: none' %>
            <%= hidden_field_tag(:exercise_language, @exercise.highlight_mode) %>
          </div>
          <div class="actions">
			<%= button_tag (fa_icon :play, text: t(:create_submission)),
			  class: 'btn btn-primary',
			  data: {disable_with: "#{fa_icon 'refresh spin', text: t(:sending_solution)}"} %>
          </div>
        <% end %>
      <% else %>
        <p><%= t :you_must_sign_in_before_submitting %></p>
        <div class="actions">
          <%= login_anchor class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <% if current_user? %>
    <div class="row">
      <div class="col-md-12 submission-results">
        <% if @exercise.last_submission(current_user) %>
          <%= render partial: 'exercise_submissions/results', locals: {submission: @exercise.last_submission(current_user)} %>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>

<% content_for :tail do %>
  <script>
    $(document).on('ready page:load', function(){
      var resultsBox = $('.submission-results');

      var scrollTo = function(domElement) {
        var SPEED = 1000;
        $('html, body').animate({scrollTop: domElement.offset().top}, SPEED);
      };

      $('form.new_submission').on('ajax:beforeSend',function (event, xhr, settings) {
        console.log('sending submission')
        resultsBox.html('<%= escape_javascript raw %Q{<div class="bs-callout bs-callout-info"><h4><strong>#{t :processing_you_solution}</strong> <i class="fa fa-refresh fa-spin"></i></h4>#{t :refresh_or_wait}</div>} %>');
      }).on('ajax:complete',function (xhr, status) {
        $('form button.btn.btn-primary').attr('value', '<%= t :create_submission %>');
        scrollTo(resultsBox);
      }).on('ajax:success',function (xhr, data, status) {
        resultsBox.html(data);
      }).on('ajax:error', function (xhr, status, error) {
        resultsBox.html('<pre>' + error + '</pre>');
      });

      console.log('submission form setup')
    });
  </script>
<% end %>

<%= content_for :no_container do %>
  <div class="modal fade" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="gridSystemModalLabel"><%= t :guide_finished, guide: @guide.name %> </h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <%= corollary_box @guide %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h4><%= t :see_next_guides %></h4>
                <%= next_guides_box(@guide) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end if @guide %>
