<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exercise.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>


<p>
  <strong>Test:</strong>
  <pre class="<%= @exercise.language %>">
    <%= @exercise.test %>
  </pre>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
