<%= content_for :breadcrumbs do %>
    <%= breadcrumbs @exercise %>
<% end %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% @stats = @exercise.guide.stats_for(current_user) if current_user && @exercise.guide %>

<% if @exercise.navigable_parent.timed? && !current_user.teacher? %>
    <%= render partial: 'layouts/timer', locals: {end_time: @exercise.navigable_parent.real_end_time(current_user)} %>
<% end %>

<div class="row">
  <div class="mu-inline-block-right">
    <h1><%= language_icon @exercise.language %></h1>
  </div>
  <div class="mu-inline-block-left">
    <h1>
      <%= t(:exercise_number, number: @exercise.number) %>: <%= @exercise.name %>
    </h1>
  </div>
</div>

<div>
  <% if @stats %>
      <%= render partial: 'layouts/progress_bar', locals: {actual: @exercise, guide: @exercise.guide, stats: @stats} %>
  <% end %>
</div>


<% content_for :assignment do %>
    <div class="text-box">
      <%= @exercise.description_html %>
    </div>
    <div class="hint-box">
      <% if @exercise.hint.present? %>
          <a data-toggle="collapse" href="#hint-section" class="text-info">
            <%= fa_icon 'lightbulb-o' %> <%= t :need_a_hint %>
          </a>

          <div id="hint-section" class="collapse">
            <p>
              <%= @exercise.hint_html %>
            </p>
          </div>
      <% end %>
    </div>
<% end %>

<%= render_exercise_input_layout(@exercise) %>

<%= hidden_field_tag :exercise_id, @exercise.id %>
<%= hidden_field_tag :default_content, @default_content %>

<div style="display: none" id="processing-template">
  <div class="bs-callout bs-callout-info">
    <h4><i class="fa fa-refresh fa-spin"></i> <strong><%= t :processing_you_solution %></strong></h4>
    <%= t :refresh_or_wait %>
  </div>
</div>

<%= content_for :no_container do %>
    <div class="modal fade guide-corollary" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <div class="guide-corollary-title">
              <h3 class="text-left" id="gridSystemModalLabel"><%= t :guide_finished, guide: @guide.name %> </h3>
              <div class="fb-share-box pull-left">
                <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="large"></div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <%= corollary_box @guide %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <%= next_lesson_button @guide %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="new-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog mu-new-message-modal">
        <%= form_for(Message.new, html: {role: 'form'}) do |f| %>
            <div class="modal-content">
              <div class="mu-modal-header">
                <div>
                  <%= fa_icon :'envelope-open-o', class: 'mu-modal-close-button' %>
                </div>
                <div>
                  <button type="button" onclick="closeNewMessageModal()" class="mu-modal-close-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="modal-body mu-view-messages">
                <div class="container-fluid">
                  <div class="row">
                    <%= f.text_area :content, class: 'form-control', placeholder: t(:new_message_placeholder), class: 'mu-message-textarea' %>
                    <%= f.text_field :exercise_id, value: @exercise.id, class: 'hidden' %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-block"> <%= t :send %> </button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end if current_user? %>
