<% content_for :no_container do %>

    <div class="mu-kids-exercise container-fluid">

      <div class="mu-kids-exercise-description">
        <div class="mu-kids-character">
          <%= render partial: 'layouts/kids' %>
        </div>
        <div class="mu-kids-blocks">
          <%= render partial: 'layouts/exercise_inputs/forms/kids_form' %>
        </div>
      </div>

      <div class="mu-kids-board">
        <div class="mu-kids-gbs-board-expected">
          <strong>Tablero Final</strong>
          <%= @exercise.final_state&.html_safe %>
        </div>
        <hr>
        <div class="mu-kids-gbs-board-actual">
          <strong>Tablero Inicial</strong>
          <%= @exercise.initial_state&.html_safe %>
        </div>
      </div>

    </div>

    <%= render partial: 'layouts/modals/kids_results', locals: {exercise: @exercise, assignment: @assignment} %>
<% end %>
