<% content_for :no_container do %>

    <div <%= turbolinks_enable_for exercise %>>

      <div class="mu-kids-landscape-support container-fluid">
        <img class="mu-kids-character-animation"/>
        <h3><%= t :only_landscape_support %></h3>
      </div>

      <div class="mu-kids-exercise container-fluid">

        <div class="mu-kids-exercise-description">
          <div class="mu-kids-character">
            <%= render partial: 'layouts/kids', locals: {exercise: exercise} %>
          </div>
          <div class="mu-exercise-content mu-kids-blocks">
            <%= yield :exercise_content %>
          </div>
        </div>

        <div class="mu-kids-states mu-multiple-scenarios">
          <div class="mu-scenarios">
            <a class="mu-scenario-control previous d-none">
              <%= fa_icon('caret-left', class: 'fa-lg fa-2x') %>
            </a>
            <a class="mu-scenario-control next d-none">
              <%= fa_icon('caret-right', class: 'fa-lg fa-2x') %>
            </a>
            <div class="mu-kids-state mu-state-initial mu-kids-gbs-board-initial mu-initial-state">
              <div class="mu-initial-state-header">
                <strong id="mu-initial-state-text"><%= t :initial_state %></strong>
                <strong id="mu-actual-state-text"><%= t :actual_state %></strong>
              </div>
              <div class="mu-kids-state-image"><%= exercise.initial_state&.html_safe %></div>
            </div>
            <div class="mu-kids-state mu-state-final mu-final-state">
              <strong><%= t :expected_state %></strong>
              <div class="mu-kids-state-image"><%= exercise.final_state&.html_safe %></div>
            </div>
          </div>
          <ol class="indicators"></ol>
        </div>

      </div>

      <%= render partial: 'layouts/modals/kids_results', locals: {exercise: exercise, assignment: @assignment} %>
      <%= render partial: 'layouts/modals/kids_results_aborted' %>
      <%= render partial: 'layouts/modals/kids_context', locals: {exercise: exercise, assignment: @assignment} %>

    </div>
<% end %>
