<%= content_for :breadcrumbs do %>
  <%= header_breadcrumbs %> <%= breadcrumb_list_item(t(:discussions), 'last') %>
<% end %>

<%= content_for :extra_filters do %>
  <%= discussion_dropdown_filter :language, discussions_languages(@discussions), true do |language_filter| %>
    <%= language_filter.capitalize %>
  <% end %>
<% end %>

<div class="row">
  <div class="mu-inline-block-left">
    <h1><%= t :forum %></h1>
  </div>
</div>

<div>
  <% if @discussions.empty? %>
    <h4><%= t :no_questions %></h4>
  <% else %>
    <%= render partial: 'layouts/discussions' %>
  <% end %>
</div>

<%= forum_terms_link %>
