<div class="discussions">
  <% @filtered_discussions.each do |discussion| %>
    <%= link_to exercise_discussion_path(discussion.exercise.id, discussion) do %>
      <div class="discussion">
        <div class="discussion-row">
          <%= discussion_messages_icon(discussion) %>
          <% unless @debatable.respond_to? :language %>
            <div class="discussion-language-icon">
              <%= language_icon(discussion.exercise.language) %>
            </div>
          <% end %>
          <div>
            <div class="discussion-title">
              <span class="discussion-status-icon">
                <%= discussion_status_fa_icon(discussion) %>
              </span>
              <span class="d-none d-lg-inline"><%= discussion.exercise.guide.name %> -</span>
              <span><%= discussion.exercise.name %></span>
              <% if discussion.current_responsible_visible_for?(current_user) %>
                <span class="badge bg-light text-dark">
                  <%= responsible_moderator_text_for(discussion, current_user)%>
                </span>
              <% end %>

            </div>
            <span class="discussion-description">
              <%= discussion.description %>
            </span>
            <span class="discussion-initiator">
              <%= profile_picture_for(discussion.initiator, height: 20) %>
              <strong><%= discussion_user_name discussion.initiator %></strong>
              <%= t(:asked_time_since, time: time_ago_in_words(discussion.created_at)) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
