<div class="discussions-list">
  <%= discussions_reset_query_link %>
  <div class="discussions-toolbar">
    <div class="discussions-toolbar-status">
      <div class="d-none d-lg-block">
        <% discussions_statuses.each do |status| %>
          <%= discussion_status_filter_link(status, @discussions) %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="d-lg-none">
        <%= discussion_dropdown_filter :status, discussions_statuses do |status_filter| %>
          <%= t status_filter %>
        <% end %>
      </div>

      <%= yield :extra_filters %>

      <%= discussion_dropdown_filter :sort, Discussion.sorting_filters do |sorting_filter| %>
        <%= t sorting_filter %>
      <% end %>

      <% if current_user&.moderator_here? %>
        <div class="discussion-requires-attention float-end">
          <%= label_tag :requires_attention, t(:requires_attention) %>
          <%= check_box_tag :requires_attention, true, discussion_filter_params[:requires_attention], class: 'form-check-input', onclick: 'mumuki.Forum.discussionsToggleCheckbox($(this))' %>
        </div>
      <% end %>

    </div>
  </div>
  <% if @filtered_discussions.empty? %>
    <div class="discussions-no-filtered-results">
      <div>
        <%= fa_icon('exclamation-circle', class: 'fa-lg') %>
      </div>
      <span>
        <%= t :no_discussions %>
      </span>
    </div>
  <% else %>
    <%= render partial: 'layouts/discussions_list' %>

    <div class="discussion-pagination">
      <%= paginate @filtered_discussions, nav_class: 'pagination' %>
    </div>

  <% end %>
</div>
