<div class="discussions">
  <div class="discussions-toolbar">

    <div class="discussions-toolbar-status">
      <div class="hidden-xs hidden-sm">
        <% Mumuki::Laboratory::Status::Discussion::STATUSES.each do |status| %>
          <%= link_to @filter_params.merge({status: status}) do %>
            <%= discussion_status_filter(status) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="hidden-md hidden-lg ">
        <%= discussion_dropdown_filter(:status) do %>
          <% Mumuki::Laboratory::Status::Discussion::STATUSES.each do |status|%>
            <li>
              <%= link_to t status, @filter_params.merge({status: status}) %>
            </li>
          <% end %>
        <% end %>
      </div>
      <%= discussion_dropdown_filter(:language) do %>
        <% discussions_languages.each do |language| %>
          <li>
            <%= link_to language.capitalize, @filter_params.merge({language: language}) %>
          </li>
        <% end %>
      <% end %>
      <%= discussion_dropdown_filter(:sort) do %>
        <% discussions_languages.each do |language| %>
          <li>
            <%= link_to language.capitalize, @filter_params.merge({language: language}) %>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
  <% @discussions.each do |discussion| %>
    <%= link_to polymorphic_path([discussion.item, discussion]) do %>
      <div class="discussion">
        <div class="discussion-row">
          <%= discussion_messages_icon(discussion) %>
          <div>
            <div class="discussion-title">
              <span class="discussion-status-icon">
                <%= discussion_status_fa_icon(discussion) %>
              </span>
              <%= discussion.title %>
            </div>
            <span class="discussion-description">
              <%= discussion.description %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
