<div class="discussions-list">
  <%= discussions_reset_query_link %>
  <div class="discussions-toolbar">
    <div class="discussions-toolbar-status">
      <div class="d-none d-lg-block">
        <% discussions_statuses.each do |status| %>
          <%= discussion_status_filter_link(status, @discussions) %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="d-lg-none">
        <%= discussion_dropdown_filter :status, discussions_statuses do |status_filter| %>
          <%= t status_filter %>
        <% end %>
      </div>

      <%= yield :extra_filters %>

      <%= discussion_dropdown_filter :sort, Discussion.sorting_filters do |sorting_filter| %>
        <%= t sorting_filter %>
      <% end %>

      <% if current_user&.moderator_here? %>
        <div class="discussion-requires-attention float-end">
          <%= label_tag :requires_moderator_response, t(:requires_attention) %>
          <%= check_box_tag :requires_moderator_response, true, discussion_filter_params[:requires_moderator_response], class: 'form-input', onclick: 'mumuki.Forum.discussionsToggleCheckbox($(this))' %>
        </div>
      <% end %>

    </div>
  </div>
  <% if @filtered_discussions.empty? %>
    <div class="discussions-no-filtered-results">
      <div>
        <%= fa_icon('exclamation-circle', class: 'fa-lg') %>
      </div>
      <span>
        <%= t :no_discussions %>
      </span>
    </div>
  <% else %>
    <div class="discussions">
      <% @filtered_discussions.each do |discussion| %>
        <%= link_to exercise_discussion_path(discussion.exercise.id, discussion) do %>
          <div class="discussion">
            <div class="discussion-row">
              <%= discussion_messages_icon(discussion) %>
              <% unless @debatable.respond_to? :language %>
                <div class="discussion-language-icon">
                  <%= language_icon(discussion.exercise.language) %>
                </div>
              <% end %>
              <div>
                <div class="discussion-title">
                  <span class="discussion-status-icon">
                    <%= discussion_status_fa_icon(discussion) %>
                  </span>
                  <span class="d-none d-lg-inline"><%= discussion.exercise.guide.name %> -</span>
                  <span><%= discussion.exercise.name %></span>
                  <% if discussion.last_moderator_access_visible_for?(current_user) %>
                    <div class="float-end discussion-moderator-access" >
                      <%= profile_picture_for(discussion.last_moderator_access_by, height: 32) %>
                      <span class="moderator-initials">
                        <%= discussion.last_moderator_access_by.name_initials %>
                      </span>
                    </div>
                  <% end %>

                </div>
                <span class="discussion-description">
                  <%= discussion.description %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="discussion-pagination">
      <%= paginate @filtered_discussions %>
    </div>

  <% end %>
</div>
