<div class="discussions">
  <div class="discussions-toolbar">

    <div class="discussions-toolbar-status">
      <div class="hidden-xs hidden-sm">
        <% discussions_statuses(@discussions).each do |status| %>
          <%= link_to @filter_params.merge({status: status}) do %>
            <%= discussion_status_filter(status, @discussions) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="hidden-md hidden-lg ">
        <%= discussion_dropdown_filter :status, discussions_statuses(@discussions) do |status_filter| %>
          <%= t status_filter %>
        <% end %>
      </div>

      <%= discussion_dropdown_filter :language, discussions_languages(@discussions) do |language_filter| %>
        <%= language_filter.capitalize %>
      <% end %>

      <%= discussion_dropdown_filter :sort, Discussion.sorting_filters do |sorting_filter| %>
        <%= sorting_filter %>
      <% end %>
    </div>
  </div>
  <% @discussions.each do |discussion| %>
    <%= link_to polymorphic_path([discussion.item, discussion]) do %>
      <div class="discussion">
        <div class="discussion-row">
          <%= discussion_messages_icon(discussion) %>
          <div>
            <div class="discussion-title">
              <span class="discussion-status-icon">
                <%= discussion_status_fa_icon(discussion) %>
              </span>
              <%= discussion.title %>
            </div>
            <span class="discussion-description">
              <%= discussion.description %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
