<% @stats = @exercise.guide.stats_for(current_user) if current_user && @exercise.guide %>

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= exercise_breadcrumb @exercise %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <h1>
      <%= @exercise.contextualized_name %>
    </h1>
  </div>
  <div class="col-md-1">
    <h1><%= language_icon @exercise.language %></h1>
  </div>
</div>

<div>
  <% if @stats %>
    <%= render partial: 'layouts/progress_bar', locals: {guide: @exercise.guide, stats: @stats} %>
  <% else %>
    <hr>
  <% end %>
</div>

<div>
  <%= yield %>
</div>

