<% @current_tab = current_tab %>
<% @stats = @exercise.guide.stats(current_user) if current_user && @exercise.guide %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <span id="exercise-status-icon"><%= exercise_status_icon(@exercise) %></span>
      <%= @exercise.title %>
      <small> - <%= @exercise.language %></small>
    </h1>

    <div class="row">
      <div class="col-md-5">
        <% if @exercise.guide %>
          <p>
            <%= raw t :belongs_to_guide, guide: link_to_guide(@exercise.guide) %>
          </p>
        <% else %>
          <p>
            <%= raw t :authored_by, author: link_to(@exercise.author.name, user_path(@exercise.author)) %>
          </p>
        <% end %>
      </div>
      <div class="col-md-7 text-right">
        <%= link_to_tag_list(@exercise.tag_list) %>
      </div>
    </div>

    <% if @stats %>
      <div class="progress">
        <a id="passed-progress-bar" href="<%= guide_path(@exercise.guide)%>"
          class="progress-bar progress-bar-success"
          style="width: <%= @stats.passed_ratio %>%;">
        </a>
        <a id="failed-progress-bar" href="<%= guide_path(@exercise.guide)%>"
          class="progress-bar progress-bar-danger"
          style="width: <%= @stats.failed_ratio %>%;">
        </a>
      </div>
    <% else %>
      <hr>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <%= yield %>
  </div>

  <div class="col-md-2">
    <ul class="nav nav-tabs tabs-right vertical-text">
      <li <%= active_if :exercise %>>
        <%= link_to t(:exercise), exercise_path(@exercise) %>
      </li>
      <li <%= active_if :status %>>
        <% @last_submission = @exercise.last_submission(current_user) if current_user? %>
        <%= link_to t(:status), exercise_submission_path(@exercise, @last_submission) if @last_submission %>
      </li>
      <li <%= active_if :my_submissions %>>
        <%= link_to t(:my_submissions), exercise_submissions_path(@exercise) %>
      </li>
      <% restricted_to_author @exercise do %>
        <li <%= active_if :edit %>>
          <%= link_to t(:edit), edit_exercise_path(@exercise) if @exercise.can_edit? %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

