<% @stats = @exercise.guide.stats_for(current_user) if current_user && @exercise.guide %>


<div class="row">
  <div class="col-md-11">
    <h1>
      <%= @exercise.contextualized_name %>
    </h1>
  </div>
  <div class="col-md-1">
    <h1><%= language_icon @exercise.language %></h1>
  </div>
</div>

<div>
  <p>
    <%= previous_nav_button(@exercise) %>
    <span data-toggle="popover"
          title="<%= @exercise.guide.name %>"
          data-content="<%= @exercise.guide.description_html.to_str %>">
            <%= link_to_guide(@exercise.guide) %>
          </span>
    <%= next_nav_button(@exercise) %>
  </p>
</div>


<div>
  <% if @stats %>
    <%= render partial: 'layouts/progress_bar', locals: {guide: @exercise.guide, stats: @stats} %>
  <% else %>
    <hr>
  <% end %>
</div>

<div>
  <%= yield %>
</div>

