<%= render_runner_assets @guide.language, :layout %>

<%= content_for :breadcrumbs do %>
  <%= breadcrumbs subject %>
<% end %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% if subject.timed? && subject.started?(current_user) && !current_user.teacher? %>
  <%= render partial: 'layouts/timer', locals: {end_time: subject.real_end_time(current_user)} %>
<% end %>

<div class="row">
  <div class="mu-inline-block-right">
    <h1><%= language_icon @guide.language %></h1>
  </div>
  <div class="mu-inline-block-left">
    <h1>
      <%= subject.name %>
      <%= link_to_bibliotheca_guide(@guide) %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-box">
      <% if current_user&.teacher_here? && @guide.teacher_info.present? %>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#student-description" role='tab' data-toggle='tab' aria-controls="student-description"><%= t :description %></a>
          </li>
          <li role="presentation">
            <a href="#teacher-info" role='tab' data-toggle='tab' aria-controls="teacher-info"><%= t :teacher_info %></a>
          </li>
        </ul>
      <% end %>

      <div class="tab-content">
        <div id="student-description" class="tab-pane fade in active">
          <%= @guide.description_html %>
        </div>
        <div id="teacher-info" class="tab-pane fade">
          <%= @guide.teacher_info_html %>
        </div>
      </div>

      <div class="actions">
        <% if !@stats.try(:done?) && @next_exercise %>
          <%= link_to t(lesson_practice_key_for(@stats)), exercise_path(@next_exercise), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 style="display:inline;"><%= t :content %></h3>
<%= restart_guide_link(@guide) if current_user && @guide.started?(current_user) && @guide.resettable? %>
<%= render partial: 'layouts/progress_listing', locals: {exercises: @guide.exercises} %>

<div class="row">
  <div class="col-md-12">
    <% if @guide.sources.present? %>
      <div class="text-box">
        <h3><%= t :sources %></h3>
        <%= @guide.sources_html %>
      </div>
    <% end %>
  </div>
</div>

<% if @stats.try :done? %>
  <div class="text-box">
    <%= corollary_box(@guide) %>
    <div class="actions">
      <%= next_lesson_button @guide %>
    </div>
  </div>
<% end %>
