<% @current_tab = current_tab %>

<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @guide.name %>
      <small> - <%= @guide.language %></small>
    </h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <%= yield %>
  </div>
  <div class="col-md-2">
    <ul class="nav nav-tabs tabs-right vertical-text">
      <li <%= active_if :overview %>>
        <%= link_to fa_icon('code',  text: t(:overview)), @guide %>
      </li>
      <li <%= active_if :progress %>>
        <%= link_to fa_icon('trophy', text: t(:progress)), guide_exercises_path(@guide) %>
      </li>
      <li <%= active_if :contributors %>>
        <%= link_to fa_icon('user',text: t(:contributors)), guide_contributors_path(@guide) %>
      </li>
      <% restricted_to_author @guide do %>
        <li <%= active_if :history %>>
          <%= link_to fa_icon('history',text: t(:history)), guide_imports_path(@guide) %>
        </li>
        <li <%= active_if :edit %>>
          <%= link_to fa_icon('pencil', text: t(:edit)), edit_guide_path(@guide) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

