<%= content_for :breadcrumbs do %>
  <%= breadcrumbs subject %>
<% end %>

<%= render layout: 'layouts/guide', locals: { subject: subject } do %>

  <div class="row">
    <div class="mu-inline-block-right">
      <h1><%= language_icon @guide.language %></h1>
    </div>
    <div class="mu-inline-block-left">
      <h1> <%= subject.name %> </h1>
      <%= render partial: 'layouts/guide_title_icons' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-box">
        <%= @guide.description_html %>
      </div>
    </div>
  </div>

<% end %>
