<%= render_runner_assets @guide.language, :layout %>

<%= content_for :breadcrumbs do %>
  <%= breadcrumbs subject %>
<% end %>

<%= render partial: 'layouts/authoring', locals: {guide: @guide} %>

<% if subject.timed? && subject.started?(current_user) && !current_user.teacher? %>
  <%= render partial: 'layouts/timer', locals: {end_time: subject.real_end_time(current_user)} %>
<% end %>

<div class="row">
  <div class="mu-inline-block-right">
    <h1><%= language_icon @guide.language %></h1>
  </div>
  <div class="mu-inline-block-left">
    <h1>
      <%= subject.name %>
      <%= teacher_info_button @guide%>
      <%= link_to_bibliotheca_guide @guide %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-box">
      <% if should_display_medal? @guide, Organization.current %>
        <%= content_medal_for(@guide, current_user) %>
      <% end %>
      <%= @guide.description_html %>

      <div class="actions">
        <% if !@stats.try(:done?) && @next_exercise %>
          <%= link_to t(lesson_practice_key_for(@stats)), exercise_path(@next_exercise), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3>
  <%= t :exercises %>
  <%= restart_guide_link(@guide) if current_user && @guide.started?(current_user) && @guide.resettable? %>
</h3>

<%= render partial: 'layouts/progress_listing', locals: {exercises: @guide.exercises} %>

<% if @stats&.done? %>
  <div class="text-box">
    <%= corollary_box @guide, @guide.sources.present? %>
  </div>
<% end %>

<% if @guide.sources.present? %>
  <div class="text-box <%= last_box_class !@stats&.done? %>">
    <h3><%= t :sources %></h3>
    <%= @guide.sources_html %>
  </div>
<% end %>

<% if @stats&.done? %>
  <div class="text-box">
    <div class="actions">
      <%= next_lesson_button @guide %>
    </div>
  </div>
<% end %>

<%= render partial: 'layouts/progress', locals: { content: @guide } %>
