<img class="mu-kids-character-animation" alt="">
<div class="mu-kids-character-speech-bubble <%= 'no-tabs' unless exercise.hint? %>">
  <% if exercise.hint? %>
      <ul class="mu-kids-character-speech-bubble-tabs">
        <li class="mu-kids-description active" data-target="description" title="<%= t :task %>">
          <i class="far fa-fw fa-file-alt"></i>
        </li>
        <li class="separator"></li>
        <li class="mu-kids-hint blink" data-target="hint" title="<%= t :need_a_hint %>">
          <i class="far fa-fw fa-lightbulb"></i>
        </li>
      </ul>
  <% end %>
  <div class="mu-kids-character-speech-bubble-normal">
    <i class="mu-kids-prev-speech fas fa-fw fa-caret-up"></i>
    <i class="mu-kids-next-speech fas fa-fw fa-caret-down"></i>
    <div class="description"><%= exercise.description_task %></div>
    <div class="hint" style="display: none"><%= exercise.hint_html %></div>
  </div>
  <div class="mu-kids-character-speech-bubble-failed <%= current_user? && @assignment.status %>" style="display: none"></div>
</div>
<div id="mu-kids-discussion-link-html" class="hidden">
  <%= kids_read_discussions_link(exercise) %>
</div>
