<!DOCTYPE html>
<html lang="<%= Organization.current.locale %>">
<head>
  <title><%= page_title subject %></title>
  <% unless input_kids? %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% end %>

  <meta name="description" content="<%= Organization.current.description %>"/>



  <%= open_graph_tags subject %>
  <%= assets_include_tags %>
  <%= csrf_meta_tags %>
  <%= globals_tags %>

  <%= login_form.header_html %>
</head>
<body>

<%= hidden_field_tag "mu-user-id", current_user&.id %>
<%= hidden_field_tag "mu-organization-id", Organization.current.id %>

<% if should_choose_organization? %>
    <%= render partial: 'layouts/organization_chooser' %>
<% end %>

<%= yield :navbar %>

<div class="<%= exercise_container_type %><%= @kids ? '-fluid' : '' %>" id="wrap">
  <div class="toast-container bottom-0 start-0 p-3">
    <% if notice %>
      <div class="toast mu-toast-success" role="alert">
        <div class="toast-body">
          <div class="d-flex align-items-center">
            <%= fa_icon 'check-circle', class: 'fa-lg me-3' %>
            <span class="flex-grow-1 text-break"><%= notice.html_safe %></span>
            <button type="button" class="btn-close btn-close-white mx-2 flex-shrink-0" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% elsif alert %>
      <div class="toast mu-toast-error" role="alert">
        <div class="toast-body">
          <div class="d-flex align-items-center">
            <%= fa_icon 'times-circle', class: 'fa-lg me-3' %>
            <span class="flex-grow-1 text-break"><%= alert.html_safe %></span>
            <button type="button" class="btn-close btn-close-white mx-2 flex-shrink-0" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= yield %>
</div>

<%= yield :no_container %>

<%= yield :footer %>

</body>
</html>
