<!DOCTYPE html>
<html lang="<%= Organization.current.locale %>">
<head>
  <title><%= page_title subject %></title>
  <% unless input_kids? %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% end %>

  <meta name="description" content="<%= Organization.current.description %>"/>



  <%= open_graph_tags subject %>
  <%= assets_include_tags %>
  <%= csrf_meta_tags %>
  <%= globals_tags %>

  <%= login_form.header_html %>
</head>
<body class="<%= uppercase_enabled?(current_user, Organization.current) ? 'mu-uppercase' : '' %>">
<% if should_choose_organization? %>
    <%= render partial: 'layouts/organization_chooser' %>
<% end %>

<%= yield :navbar %>

<div class="<%= exercise_container_type %><%= @kids ? '-fluid' : '' %>" id="wrap">
  <div id="toast-container" class="toast-bottom-left">
    <% if notice %>
      <div class="alert toast toast-success" role="alert">
        <%= notice.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif alert %>
      <div class="alert toast toast-error" role="alert">
        <%= alert.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </div>

  <%= yield %>
</div>

<%= yield :no_container %>

<%= yield :footer %>

</body>
</html>
