<div class="mu-view-messages">
  <div class="mu-messages">
    <ol class="mu-chat">
      <% messages.each do |message| %>
          <li class="<%= sender_class(message) %> <%= staleness_class(message) %>">
            <div class="message">
              <p> <%= message.content_html %></p>
              <div class="sender"><%= message.sender unless message.sender == current_user_uid %></div>
              <time><%= time_ago_in_words message.created_at %></time>
            </div>
          </li>
      <% end %>
    </ol>
  </div>
</div>
