<% if current_user.student_granted_organizations.empty? %>
  <%= t :not_in_any_organizations %>
<% else %>
  <% organizations_for(current_user).each do |org| %>
      <a href="/<%= org.name %>" class="mu-organization-card <%= org.public? ? 'public' : 'private' %>">
        <div class="mu-organization-card-header">
          <%= image_tag(org.banner_url, alt: org.display_name, height: 50) %>
        </div>
        <div class="mu-organization-card-body">
          <div><%= org.display_name %> - <%= org.description %></div>
        </div>
      </a>
  <% end %>
<% end %>
