<div class="progress">
  <a id="passed-progress-bar" href="<%= guide_path(guide)%>"
     class="progress-bar progress-bar-success"
     style="width: <%= stats.passed_ratio %>%;">
  </a>
  <a id="passed-with-warnings-progress-bar" href="<%= guide_path(guide)%>"
     class="progress-bar progress-bar-warning"
     style="width: <%= stats.passed_with_warnings_ratio %>%;">
  </a>
  <a id="failed-progress-bar" href="<%= guide_path(guide)%>"
     class="progress-bar progress-bar-danger"
     style="width: <%= stats.failed_ratio %>%;">
  </a>
</div>
