<div class="progress-list-flex">
  <% assignments = guide.assignments_for(current_user) %>
  <% assignments.each do |assignment| %>
    <% next unless show_content?(assignment.exercise) %>
    <% exercise = assignment.exercise %>
    <a
      <%= turbolinks_enable_for exercise %>
      href="<%= exercise_path(exercise)%>"
      aria-label="<%= exercise.navigable_name %>"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="<%= exercise.navigable_name %>"
      data-mu-exercise-id="<%= exercise.id %>"
      class="<%= class_for_progress_list_item(assignment, exercise == actual)%>">
    </a>
  <% end %>
</div>
