<div class="progress-list-flex">
  <% guide.exercises.each do |e| %>
    <a
      <%= turbolinks_enable_for e %>
      href="<%= exercise_path(e)%>"
      aria-label="<%= e.navigable_name %>"
      title="<%= e.navigable_name %>"
      data-mu-exercise-id="<%= e.id %>"
      class="<%= class_for_progress_list_item(e, e == actual)%>">
    </a>
  <% end %>
</div>
