<% if contextualization.single_visible_test_result? %>
  <div class="mu-single-test-result">
    <h5 class="text-danger mu-test-result-header"><%= render_test_result_header contextualization.affable_test_results.first %></h5>
    <%= contextualization.first_test_result_html %>
  </div>
<% else %>
  <strong><%= t :test_results %>:</strong>
  <ul class="results-list mu-multiple-test-results">
    <% contextualization.affable_test_results.each_with_index do |test_result, index| %>
      <li>
        <% if test_result[:status].failed? %>
          <span class="text-danger mu-test-result-header">
            <%= status_icon(test_result[:status]) %>
            <%= render_test_result_header test_result %>
            <% unless contextualization.visible_success_output? %>
              <a data-bs-toggle="collapse" href="#example-result-<%= index %>" class="badge bg-light text-dark mu-view-details"><%= t :view_details %></a>
            <% end %>
          </span>
        <% else %>
          <span class="text-success mu-test-result-header">
            <%= status_icon(test_result[:status]) %>
            <%= render_test_result_header test_result %>
          </span>
        <% end %>

        <div class="example-result collapse <%= 'show' if contextualization.visible_success_output? %>" id="example-result-<%= index %>">
          <%= contextualization.test_result_html test_result %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
