<% if contextualization.single_visual_result? %>
  <%= contextualization.single_visual_result_html %>
<% else %>
  <strong><%= t :test_results %>:</strong>
  <ul class="results-list">
    <% contextualization.test_results.each_with_index do |test_result, index| %>
      <li>
        <% if test_result[:status].failed? %>
          <span class="text-danger">
            <%= status_icon(test_result[:status]) %>
            <strong class="example-title"><%= test_result[:title] %></strong><%= test_result.dig(:summary, :message)&.prepend(': ')  %>
            <% unless contextualization.visible_success_output? %>
              <a data-toggle="collapse" href="#example-result-<%= index %>"  class="example-see-more"><%= t :view_details %></a>
            <% end %>
          </span>
        <% else %>
          <span class="text-success example-title">
            <%= status_icon(test_result[:status]) %>
            <%= test_result[:title] %>
          </span>
        <% end %>

        <div class="example-result collapse <%= 'in' if contextualization.visible_success_output? %>" id="example-result-<%= index %>">
          <%= contextualization.output_content_type.to_html test_result[:result] %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
