<ul class="results-list">
  <% test_results.each_with_index do |test_result, index| %>
    <li>
      <% if test_result[:status] == :failed %>

        <a data-toggle="collapse" href="#example-result-<%= index %>" class="text-danger">
          <%= status_icon(test_result[:status]) %>
          <strong class="example-title"><%= test_result[:title] %></strong>
        </a>
      <% else %>
        <a data-toggle="collapse" href="#example-result-<%= index %>" class="text-success example-title">
          <%= status_icon(test_result[:status]) %>
          <%= test_result[:title] %>
        </a>
      <% end %>

      <div class="example-result collapse <%= 'in' if visible_success_output %>" id="example-result-<%= index %>">
        <%= output_content_type.to_html test_result[:result] %>
      </div>
    </li>
  <% end %>
</ul>
