<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <div id="timer" class="text-center"></div>
    <script>
        countdown.setLabels(
          ' || <%= t :minute %>| <%= t :hour %>| <%= t :day %>||||||',
          ' || <%= t :minutes %>| <%= t :hours %>| <%= t :days %>||||||',
          ' <%= t :and %> ');
        countdown( new Date('<%= end_time %>'),
        function(ts) {
          console.log(ts);$("#timer").text(ts);
        },
        countdown.HOURS|countdown.MINUTES);
    </script>
  </div>
</div>
