<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <i class="timer text-center fa fa-clock-o"></i>
    <i class="timer timer-text text-center"><%= t :time_left %></i>
    <i id="timer" class="timer timer-text text-center"></i>
    <script>
        countdown.setLabels(
          ' || <%= t :minute %>| <%= t :hour %>| <%= t :day %>||||||',
          ' || <%= t :minutes %>| <%= t :hours %>| <%= t :days %>||||||',
          ' <%= t :and %> ');
        countdown( new Date('<%= end_time %>'),
        function(ts) {
          $("#timer.timer-text").text(ts);
        },
        countdown.HOURS|countdown.MINUTES);
    </script>
  </div>
</div>
