<% @users = users %>
<br>

<div class="row">
  <div class="col-md-3">
    <div class="exercise-search-box"> <%# TODO rename and extract %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t :username %></th>
        <th><%= t :submissions_success_rate %></th>
        <th><%= t :exercise_success_rate %></th>
        <th><%= t :last_submission_date %></th>
        <th><%= t :sign_up_date %></th>
        <% if current_user? %>
          <th><%= t :following %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to_user user %></td>
          <td><%= user.submissions_success_rate %></td>
          <td><%= user.exercises_success_rate %></td>
          <td><%= time_ago_in_words_or_never user.last_submission_date %></td>
          <td><%= time_ago_in_words user.created_at %></td>
          <% restricted_to_other_user user %>
            <% if current_user.following?(user) %>
              <td><%= render 'users/unfollow', user: user, button_class: "btn-warning" %></td>
            <% else %>
              <td><%= render 'users/follow', user: user, button_class: "btn-primary" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @users %>
  </div>
</div>
