<div class="col-md-3 mu-tab-body mu-user-menu">
  <div>
    <div class="mu-user-menu-section">
      <div class="mu-user-menu-header">
        <%= t(:my_account) %>
      </div>
      <div class="mu-user-menu-item">
        <%= profile_user_menu_link %>
      </div>
    </div>
    <div class="mu-user-menu-section">
      <div class="mu-user-menu-header">
        <%= t(:messages) %>
      </div>
      <div class="mu-user-menu-item">
        <%= messages_user_menu_link %>
      </div>
      <% if @watched_discussions.present? %>
        <div class="mu-user-menu-item">
          <%= discussions_user_menu_link %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mu-user-menu-divider vertical hidden-sm hidden-xs"></div>
</div>
<div class="mu-user-menu-divider horizontal visible-sm visible-xs"></div>
