<% @current_tab = current_tab %>

<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @user.name %>
    </h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <%= yield %>
  </div>
  <div class="col-md-2">
    <ul class="nav nav-tabs tabs-right vertical-text">
      <li <%= active_if :overview %>>
        <%= link_to t(:overview), @user %>
      </li>
      <li <%= active_if :recent_activity %>>
        <%= link_to t(:recent_activity), user_submissions_path(@user) %>
      </li>
      <li <%= active_if :exercises %>>
        <%= link_to t(:created_exercises), user_exercises_path(@user) %>
      </li>
      <li <%= active_if :guides %>>
        <%= link_to t(:created_guides), user_guides_path(@user) %>
      </li>
    </ul>
  </div>
</div>

