<%= content_for :navbar do %>
  <%= hidden_field_tag("mu-current-exp", UserStats.exp_for(@current_user)) if in_gamified_context? %>
  <div class="<%= exercise_container_type %>">
    <nav class="mu-navbar">
      <div class="mu-navbar-breadcrumb d-none d-sm-block">
        <ul class="mu-breadcrumb-list">
          <%= yield :breadcrumbs %>
        </ul>
      </div>
      <div class="dropdown hamburguer-breadcrumb d-block d-sm-none">
        <% if content_for? :breadcrumbs %>
        <span class="hamburguer" id="profileDropdown" data-bs-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </span>
          <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="profileDropdown">
            <%= yield :breadcrumbs %>
          </ul>
        <% end %>
      </div>
      <div class="mu-navbar-avatar">
        <% if current_logged_user? %>
          <% if in_gamified_context? %>
            <div class="mu-navbar-element">
              <i class="fas fa-star fa-fw fa-2x mu-navbar-icon mu-level-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" level="<%= t(:level) %>"></i>
              <span class="mu-level-number"></span>
            </div>
          <% end %>
          <%= render partial: 'notifications/dropdown' %>
          <div class="dropdown mu-navbar-element">
            <div id="profileDropdown" class="profile-dropdown" data-bs-toggle="dropdown" aria-label="<%= t(:user) %>" role="menu" tabindex="0">
              <%= profile_picture_for current_user %>
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <%= menu_bar_list_items %>
              <% if any_menu_bar_links? %>
                <li class="dropdown-divider"></li>
              <% end %>
              <% if faqs_enabled_here? %>
                <%= menu_link_to_faqs %>
                <li class="dropdown-divider"></li>
              <% end %>
              <%= logout_menu_link %>
            </ul>
          </div>
        <% else %>
          <%= login_button %>
        <% end %>
      </div>
    </nav>
  </div>
<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <div class="mu-footer <%= exercise_container_type %>">
      <div class="mu-footer-row">
        <div class="mu-footer-authoring">
          <%= yield :authoring %>
        </div>
      </div>

      <div class="mu-footer-row">
        <div class="mu-footer-copyright">
          <%= render partial: 'layouts/copyright' %>
        </div>

        <div class="mu-footer-terms">
          <div><%= link_to_faqs %></div>
          <div><%= link_to_profile_terms %></div>
          <% if current_user&.can_discuss_here? %>
            <div><%= link_to_forum_terms %></div>
          <% end %>
        </div>

        <%= login_form.footer_html %>

        <div id="footer-social" class="mu-footer-social" lang="en">
          <%= render partial: 'layouts/social_media' %>
        </div>
      </div>

    </div>
  </footer>
<% end %>

<%= render partial: 'layouts/main' %>

