<%= content_for :navbar do %>
  <%= hidden_field_tag("mu-current-exp", UserStats.exp_for(@current_user)) if in_gamified_context? @current_user %>
  <div class="<%= exercise_container_type %>">
    <nav class="mu-navbar">
      <div class="mu-navbar-breadcrumb hidden-xs">
        <ul class="mu-breadcrumb-list">
          <%= yield :breadcrumbs %>
        </ul>
      </div>
      <div class="dropdown hamburguer-breadcrumb hidden-sm hidden-md hidden-lg">
        <% if content_for? :breadcrumbs %>
        <span class="hamburguer" id="profileDropdown" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
        </span>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="profileDropdown">
            <%= yield :breadcrumbs %>
          </ul>
        <% end %>
      </div>
      <div class="mu-navbar-avatar">
        <% if current_logged_user? %>
          <% if in_gamified_context? @current_user %>
            <div class="mu-navbar-element">
              <i class="fa fa-star fa-fw fa-2x mu-navbar-icon mu-level-tooltip" data-toggle="tooltip" data-placement="bottom" level="<%= t(:level) %>"></i>
              <span class="mu-level-number"></span>
            </div>
          <% end %>
          <div class="dropdown mu-navbar-element notifications-box <%= 'notifications-box-empty' unless has_notifications? %>">
            <a href=<%= "#{user_notifications_path}" %>>
              <i class="fa fa-bell fa-fw fa-2x mu-navbar-icon"></i>
                <span class="badge badge-notifications"><%= notifications_count %></span>
            </a>
          </div>
          <div class="dropdown mu-navbar-element">
            <div id="profileDropdown" class="profile-dropdown" data-toggle="dropdown" aria-label="<%= t(:user) %>" role="menu" tabindex="0">
              <%= profile_picture_for current_user %>
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
              <%= menu_bar_list_items %>
              <li class="divider"></li>
              <li><%= link_to(t(:sign_out), logout_path(origin: url_for), role: 'menuitem') %></li>
            </ul>
          </div>
        <% else %>
          <%= login_button %>
        <% end %>
      </div>
    </nav>
  </div>
<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <div class="mu-footer <%= exercise_container_type %>">
      <div class="mu-footer-row">
        <div class="mu-footer-authoring">
          <%= yield :authoring %>
        </div>
      </div>

      <div class="mu-footer-row">
        <div class="mu-footer-copyright">
          <%= render partial: 'layouts/copyright' %>
        </div>

        <div class="mu-footer-terms">
          <div><%= link_to_profile_terms %></div>
          <% if current_user&.can_discuss_here? %>
            <div><%= link_to_forum_terms %></div>
          <% end %>
        </div>

        <%= login_form.footer_html %>

        <div id="footer-social" class="mu-footer-social" lang="en">
          <%= render partial: 'layouts/social_media' %>
        </div>
      </div>

    </div>
  </footer>
<% end %>

<%= render partial: 'layouts/main' %>

