<!DOCTYPE html>
<html>
<head>
  <title>Mumuki</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>$(function () {
      hljs.initHighlightingOnLoad();
  })</script>
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Mumuki</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <% if current_user? %>
          <li><%= link_to('Sign out', logout_path) %></li>
      <% else %>
          <li><%= link_to('Sign in with Github', '/auth/github') %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
    <% end %>
  </div>

  <%= yield %>
  <div class="row">
    <div class="col-md-12">
      <footer>
        <hr>
        <p>&copy; Copyright 2014 Mumuki</p>
      </footer>
    </div>
  </div>
</div>

</body>
</html>
