<!DOCTYPE html>
<html lang="<%= Organization.current.locale %>">
<head>
  <title><%= page_title subject %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="<%= Organization.current.favicon_url %>" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="<%= theme_stylesheet_url %>" data-turbolinks-track="reload">

  <meta property="og:site_name" content="mumuki"/>
  <meta property="og:title" content="<%= page_title subject %>"/>
  <meta property="og:description" content="<%= t :mumuki_short_description %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= Organization.current.open_graph_image_url %>"/>
  <meta property="og:url" content="<%= request.original_url %>"/>

  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.mumukiLocale = <%= raw Organization.current.locale_json %>;
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="<%= extension_javascript_url %>" defer data-turbolinks-track="reload"></script>
  <script type="text/javascript">
    moment.locale('<%= Organization.current.locale %>');
  </script>
  <%= login_form.header_html %>
  <%= yield :assets %>
</head>
<body>
<% if should_choose_organization? %>
    <%= render partial: 'layouts/organization_chooser' %>
<% end %>

<div class="<%= exercise_container_type %>">
  <nav class="mu-navbar">
    <div class="mu-navbar-breadcrumb hidden-xs">
      <ul class="mu-breadcrumb-list">
        <%= yield :breadcrumbs %>
      </ul>
    </div>
    <div class="dropdown hamburguer-breadcrumb hidden-sm hidden-md hidden-lg">
      <% if content_for? :breadcrumbs %>
          <span class="hamburguer" id="profileDropdown" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
          </span>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="profileDropdown">
            <%= yield :breadcrumbs %>
          </ul>
      <% end %>
    </div>
    <div class="mu-navbar-avatar">
      <% if current_user? %>
          <div class="dropdown">
          <span>
            <a class="notifications-box <%= has_messages? ? '' : 'notifications-box-empty' %>" href=<%= "#{user_path}#messages" %>>
              <i class="fa fa-bell fa-fw fa-lg"></i>
                <span class="badge badge-notifications"><%= messages_count %></span>
            </a>
          </span>
          </div>
          <div class="dropdown">
          <span id="profileDropdown" data-toggle="dropdown" aria-label="<%= t(:user) %>" role="menu" tabindex="0">
            <%= image_tag(current_user.image_url, height: 40, class: 'img-circle') %>
          </span>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
              <li>
                <%= link_to fixed_fa_icon('user-o', text: t(:profile)), user_path, role: 'menuitem' %>
              </li>
              <li><%= link_to_classroom %></li>
              <li><%= link_to_bibliotheca %></li>
              <li class="divider"></li>
              <li><%= link_to(t(:sign_out), logout_path(origin: url_for), role: 'menuitem') %></li>
            </ul>
          </div>
      <% else %>
          <%= login_button %>
      <% end %>
    </div>
  </nav>
</div>

<div class="<%= exercise_container_type %><%= @kids ? '-fluid' : '' %>" id="wrap">
  <div id="toast-container" class="toast-bottom-left">
    <% if notice %>
        <div class="alert toast toast-success" role="alert">
          <%= notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif alert %>
        <div class="alert toast toast-error" role="alert">
          <%= alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>

  <%= yield %>

</div>

<%= yield :no_container %>

<footer class="footer">
  <div class="<%= exercise_container_type %>">
    <hr>

    <div class="row">
      <div class="col-md-12">
        <%= yield :authoring %>
      </div>
    </div>

    <div id="footer-copyright" class="row">
      <div class="col-md-4 text-left">
        <p>&copy; Copyright 2015-<%= DateTime.now.year %>
          <a href="http://mumuki.org/" class="mu-org-link"><span class="da da-mumuki-circle"></span> Mumuki Project</a>
        </p>
      </div>

      <div class="col-md-4 text-center">
        <%= login_form.footer_html %>
      </div>

      <div id="footer-social" class="col-md-4 text-right" lang="en">
        <a class="fa fa-facebook social-icon" aria-label="Facebook" href="https://www.facebook.com/MumukiProject" target="_blank"></a>
        <a class="fa fa-twitter social-icon" aria-label="Twitter" href="https://twitter.com/MumukiProject" target="_blank"></a>
        <a class="fa fa-github social-icon" aria-label="Github" href="https://github.com/mumuki" target="_blank"></a>
        <a class="fa fa-linkedin social-icon" aria-label="LinkedIn" href="https://www.linkedin.com/company/mumuki-project" target="_blank"></a>
      </div>

    </div>
  </div>
</footer>
</body>
</html>
