<!DOCTYPE html>
<html>
<head>
  <title>Mumuki - <%= t :mumuki_catchphrase %></title>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>"> <span class="ahahamojimoji">ム</span>Mumuki</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><a href="<%= categories_path %>"><%= t(:category).pluralize %></a></li>
      <li><a href="<%= guides_path %>"><%= t(:guide).pluralize %></a></li>
      <li><a href="<%= exercises_path %>"><%= t(:exercise).pluralize %></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user? %>
        <div class="navbar-text profile-image-nav">
          <%= link_to image_tag(current_user.image_url, height: 40, class: 'img-circle'), user_path(current_user) %>
        </div>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to(t(:sign_out), logout_path) %></li>
      <% else %>
        <li><%= login_anchor %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= yield :no_container %>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= t(:sign_in) %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 text-center">
              <h1><%= fa_icon 'facebook' %></h1>
              <h3><%= link_to(t(:sign_in_with_facebook), login_facebook_path) %></h3>
              <p>
                <em><%= t(:facebook_signin_reason) %></em>
              </p>
            </div>
            <div class="col-md-6 text-center">
              <h1><%= fa_icon 'github' %></h1>
              <h3><%= link_to(t(:sign_in_with_github), login_github_path) %></h3>
              <p>
                <em><%= t(:github_signin_reason) %></em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" id="wrap">
  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>

  <%= yield %>

</div>

<footer class="footer">
  <div class="container">
      <hr>

    <div class="row">
      <div class="col-md-12">
      <p>&copy; Copyright 2015 <a href="http://mumuki.org/">Mumuki Project</a>. With help from <a href="http://www.uqbar-project.org/">Uqbar-Project</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
