<%= content_for :navbar do %>
  <%= hidden_field_tag("mu-current-exp", UserStats.exp_for(@current_user)) if in_gamified_context? %>
  <div class="<%= exercise_container_type %> px-0">
    <nav class="navbar navbar-light navbar-expand-lg mu-navbar">
      <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#muNavbar" aria-controls="muNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mu-navbar-avatar order-lg-2">
          <% if current_logged_user? %>
            <% if in_gamified_context? %>
              <div class="mu-navbar-element">
                <i class="fas fa-star fa-fw fa-2x mu-navbar-icon mu-level-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" level="<%= t(:level) %>"></i>
                <span class="mu-level-number"></span>
              </div>
            <% end %>
            <%= render partial: 'notifications/dropdown' %>
            <div class="dropdown mu-navbar-element">
              <div id="profileDropdown" class="profile-dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-label="<%= t(:user) %>" role="menu" tabindex="0">
                <%= profile_picture_for current_user %>
              </div>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <% if profile_enabled_here? %>
                  <%= menu_link_to_profile %>
                  <li class="dropdown-divider"></li>
                <% end %>
                <%= menu_bar_list_items %>
                <% if any_menu_bar_links? %>
                  <li class="dropdown-divider"></li>
                <% end %>
                <% if faqs_enabled_here? %>
                  <%= menu_link_to_faqs %>
                  <li class="dropdown-divider"></li>
                <% end %>
                <%= logout_menu_link %>
              </ul>
            </div>
          <% else %>
            <%= login_button %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse mu-navbar-breadcrumb-container" id="muNavbar">
          <div class="mu-navbar-breadcrumb order-lg-1">
            <ul class="navbar-nav mu-breadcrumb-list">
              <%= yield :breadcrumbs %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <div class="mu-footer <%= exercise_container_type %>">
      <div class="mu-footer-row">
        <div class="mu-footer-authoring">
          <%= yield :authoring %>
        </div>
      </div>

      <div class="mu-footer-row">
        <div class="mu-footer-copyright">
          <%= render partial: 'layouts/copyright' %>
        </div>

        <div class="mu-footer-terms">
          <div><%= link_to_faqs %></div>
          <div><%= link_to_profile_terms %></div>
          <% if current_user&.can_discuss_here? %>
            <div><%= link_to_forum_terms %></div>
          <% end %>
        </div>

        <%= login_form.footer_html %>

        <div id="footer-social" class="mu-footer-social" lang="en">
          <%= render partial: 'layouts/social_media' %>
        </div>
      </div>

    </div>
  </footer>
<% end %>

<%= render partial: 'layouts/main' %>

