<!DOCTYPE html>
<html>
<head>
  <title><%= page_title subject %></title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="<%= theme_stylesheet_url %>">

  <meta property="og:site_name" content="mumuki"/>
  <meta property="og:title" content="<%= page_title subject %>"/>
  <meta property="og:description" content="<%= t :mumuki_short_description %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= Mumukit::Platform.application.url %>/logo-alt.png"/>
  <meta property="og:url" content="<%= request.original_url %>"/>

  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      window.mumukiLocale = <%= raw Organization.locale_json %>;
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="<%= extension_javascript_url %>" defer data-turbolinks-track="reload"></script>
  <%= login_form.header_html %>
</head>
<body>
<% if should_choose_organization? %>
    <%= render partial: 'layouts/organization_chooser' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="mu-inline-block-right">
      <div class="user-menu">
        <% if current_user? %>
            <div class="dropdown">
            <span id="profileDropdown" data-toggle="dropdown">
              <%= image_tag(current_user.image_url, height: 40, class: 'img-circle') %>
            </span>
              <a class="comments-box <%= has_comments? ? '' : 'comments-box-empty' %>" href=<%= "#{user_path}#comments" %>>
                <span class="badge badge-comments"><%= comments_count %></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li>
                  <%= link_to fixed_fa_icon('user-o', text: t(:profile)), user_path %>
                </li>
                <li><%= link_to_classroom %></li>
                <li><%= link_to_bibliotheca %></li>
                <li><%= link_to_office %></li>
                <li class="divider"></li>
                <li><%= link_to(t(:sign_out), logout_path(origin: url_for)) %></li>
              </ul>
            </div>
        <% else %>
            <%= login_button %>
        <% end %>
      </div>
    </div>
    <div class="mu-inline-block-left">
      <ol class="breadcrumb">
        <%= yield :breadcrumbs %>
      </ol>
    </div>
  </div>
</div>

<%= yield :no_container %>


<div class="container" id="wrap">
  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>

  <%= yield %>

</div>

<footer class="footer">
  <div class="container">
    <hr>

    <div class="row">
      <div class="col-md-12">
        <%= yield :authoring %>
      </div>
    </div>

    <div id="footer-copyright" class="row">
      <div class="col-md-4 text-left">
        <p>&copy; Copyright 2015-<%= DateTime.now.year %>
          <a href="http://mumuki.org/" class="mu-org-link"><span class="da da-mumuki-circle"></span> Mumuki Project</a>
        </p>
      </div>

      <div class="col-md-4 text-center">
        <%= login_form.footer_html %>
      </div>

      <div id="footer-social" class="col-md-4 text-right">
        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/MumukiProject" target="_blank"></a>
        <a class="fa fa-twitter social-icon" href="https://twitter.com/MumukiProject" target="_blank"></a>
        <a class="fa fa-github social-icon" href="https://github.com/mumuki" target="_blank"></a>
        <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/company/mumuki-project" target="_blank"></a>
      </div>

    </div>
  </div>
</footer>
</body>
</html>
