<!DOCTYPE html>
<html>
<head>
  <title><%= page_title subject %></title>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <script src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>

  <meta property="og:site_name" content="mumuki.io" />
  <meta property="og:title" content="Mumuki" />
  <meta property="og:description" content="<%= t :mumuki_short_description %>"/>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= image_url 'logo.png' %>" />
  <meta property="og:url" content="http://es.mumuki.io/" />

  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
</head>
<body>

<script type="text/javascript">
  var lock = new Auth0Lock('<%= Rails.configuration.auth0_client_id %>', '<%= Rails.configuration.auth0_domain %>');
  function signin() {
    lock.show({
      callbackURL: '<%= auth_auth0_callback_url %>', responseType: 'code', authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>

<!--
      <% if current_user? %>
        <div class="navbar-text profile-image-nav">
          <%= link_to image_tag(current_user.image_url, height: 40, class: 'img-circle'), user_path(current_user) %>
        </div>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to(t(:sign_out), logout_path) %></li>
      <% else %>
        <li><%= login_anchor %></li>
      <% end %>
-->

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <%= yield :breadcrumbs %>
      </ol>
    </div>
    <div class="col-md-2">
      <div class="user-menu">
        <% if current_user? %>
          <div class="dropdown">
            <span id="profileDropdown" data-toggle="dropdown">
              <%=image_tag(current_user.image_url, height: 40, class: 'img-circle')%>
            </span>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><%= link_to t(:profile), user_path(current_user) %></li>
              <li><%= link_to(t(:sign_out), logout_path) %></li>
            </ul>
          </div>
        <% else %>
          <%= login_anchor %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= yield :no_container %>


<div class="container" id="wrap">
  <div class="row">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </div>

  <%= yield %>

</div>

<footer class="footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12 text-left">
          <p>&copy; Copyright 2015 <a href="http://mumuki.org/">Mumuki Project</a></p>

          <p>Sponsored by <a href="http://www.uqbar-project.org/">Uqbar Foundation</a></p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <a width="150" height="50" href="https://auth0.com/" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
      </div>
      <div class="col-md-4">
        <div class="text-right">
          <a class="fa fa-facebook social-icon" href="https://www.facebook.com/MumukiProject" target="_blank"></a>
          <a class="fa fa-twitter social-icon" href="https://twitter.com/MumukiProject" target="_blank"></a>
          <a class="fa fa-github social-icon" href="https://github.com/mumuki" target="_blank"></a>
          <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/company/mumuki-project" target="_blank"></a>
        </div>
      </div>

    </div>
  </div>
</footer>
</body>
</html>
