<!DOCTYPE html>
<html>
<head>
  <title>Mumuki - <%= t :mumuki_catchphrase %></title>
  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Mumuki</a>
    </div>

    <div class="nav navbar-nav navbar-left">
      <%= link_to_unless I18n.locale == :en, flag(:en, class: 'lang-selector'), locale: :en %>
      <%= link_to_unless I18n.locale == :es, flag(:es, class: 'lang-selector'), locale: :es %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user? %>
          <li><%= link_to current_user.name, dashboard_path %></li>
          <li><%= link_to(t(:sign_out), logout_path) %></li>
      <% else %>
          <li><%= link_to(t(:sign_in_with_github), login_path) %></li>
      <% end %>
    </ul>

  </div>
</div>

<%= yield :no_container %>

<div class="container">
  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>

  <%= yield %>
</div>


<footer class="footer">
  <div class="container">
      <hr>
    <div class="row">
      <div class="col-md-9">
      <p>&copy; Copyright 2015 Mumuki. With help from <a href="http://www.uqbar-project.org/">Uqbar-Project</a></p>
      </div>
      <div class="col-md-3 text-right">
        <a href="https://twitter.com/MumukiPlatform" class="twitter-follow-button" data-show-count="false">Follow @MumukiPlatform</a>
      </div>
    </div>
  </div>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :tail %>
</body>
</html>
