<!DOCTYPE html>
<html>
<head>
  <title>Mumuki</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>$(function () {
      hljs.initHighlightingOnLoad();
  })</script>
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Mumuki</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <% if current_user? %>
          <li><%= link_to t('currently_logged_as', username: current_user.name ), current_user_path %></li>
          <li><%= link_to(t('sign_out'), logout_path) %></li>
      <% else %>
          <li><%= link_to(t('sign_in_with_github'), login_path) %></li>
      <% end %>
    </ul>

    <form class="navbar-form navbar-left" role="search" action="<%= exercises_path %>">
      <div class="form-group">
        <input name="tag" type="text" class="form-control" placeholder= "<%=t("search_exercises_by_tag")%>">
      </div>
      <button type="submit" class="btn btn-default"><%= t('search')%></button>
    </form>
    <section>
      <%= link_to_unless I18n.locale == :en, image_tag("us.png"), locale: :en %>
      <%= link_to_unless I18n.locale == :es, image_tag("es.png"), locale: :es %>
    </section>
  </div>
</div>

<div class="container">
  <a href="https://github.com/uqbar-project/mumuki">
    <img class="gh-ribbon" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
  </a>

  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>

  <%= yield %>
</div>


<footer class="footer">
  <div class="container">
    <footer>
      <hr>
      <p>&copy; Copyright 2015 Mumuki</p>
    </footer>
  </div>
</footer>

</body>
</html>
