<!DOCTYPE html>
<html>
<head>
  <title><%= page_title subject %></title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <% UserMode.if_multiuser do %>
    <script src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
  <% end %>

  <meta property="og:site_name" content="mumuki"/>
  <meta property="og:title" content="<%= t :mumuki_catchphrase %>"/>
  <meta property="og:description" content="<%= t :mumuki_short_description %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://mumuki.io/logo-alt.png"/>
  <meta property="og:url" content="http://mumuki.io/"/>

  <meta name="description" content="<%= t :mumuki_short_description %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<% if ask_redirect? %>
  <%= render partial: 'layouts/redirect' %>
  <script>
    $("#redirect").modal({
      backdrop: 'static',
      keyboard: false
    });
  </script>
<% end %>

<% UserMode.if_multiuser do %>
  <script type="text/javascript">
    var lock = new Auth0Lock('<%= Rails.configuration.auth0_client_id %>', '<%= Rails.configuration.auth0_domain %>');
    function signin() {
      lock.show(<%= Organization.login_settings.to_lock_json(auth_auth0_callback_url) %>);
    }
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <%= yield :breadcrumbs %>
      </ol>
    </div>
    <div class="col-md-2">
      <div class="user-menu">
        <% if current_user? %>
          <div class="dropdown">
            <span id="profileDropdown" data-toggle="dropdown">
              <%= image_tag(current_user.image_url, height: 40, class: 'img-circle') %>
            </span>
            <a class="comments-box <%= has_comments? ? '' : 'comments-box-empty' %>" href=<%= "#{user_path(current_user)}#comments" %>>
              <span class="badge badge-comments"><%= comments_count %></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><%= link_to t(:profile), user_path(current_user) %></li>
              <li><%= link_to(t(:sign_out), logout_path) %></li>
            </ul>
          </div>
        <% else %>
          <%= login_anchor %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= yield :no_container %>


<div class="container" id="wrap">
  <div class="row">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert.html_safe %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </div>

  <%= yield %>

</div>

<footer class="footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12 text-left">
          <p>&copy; Copyright 2015-<%= DateTime.now.year %>
            <a href="http://mumuki.org/"><span class="ahahamojimoji">ム</span> Mumuki Project</a></p>
        </div>
      </div>

      <% UserMode.if_multiuser do %>
        <div class="col-md-4 text-center">
          <a width="150" height="50" href="https://auth0.com/" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
        </div>
      <% end %>

      <div class="col-md-4">
        <div class="text-right">
          <a class="fa fa-facebook social-icon" href="https://www.facebook.com/MumukiProject" target="_blank"></a>
          <a class="fa fa-twitter social-icon" href="https://twitter.com/MumukiProject" target="_blank"></a>
          <a class="fa fa-github social-icon" href="https://github.com/mumuki" target="_blank"></a>
          <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/company/mumuki-project" target="_blank"></a>
        </div>
      </div>

    </div>
  </div>
</footer>

</body>
</html>
