<% content_for :footer do %>
  <footer class="footer">
    <div class="mu-footer <%= exercise_container_type %>">
      <div class="mu-footer-row">
        <div class="mu-footer-authoring">
          <%= yield :authoring %>
        </div>
      </div>

      <div class="mu-footer-row">
        <div class="mu-footer-copyright">
          <%= render partial: 'layouts/copyright' %>
        </div>

        <div class="mu-footer-terms">
          <div><%= link_to_profile_terms %></div>
          <% if current_user&.can_discuss_here? %>
            <div><%= link_to_forum_terms %></div>
          <% end %>
        </div>

        <div id="footer-social" class="mu-footer-social" lang="en">
          <%= render partial: 'layouts/social_media' %>
        </div>
      </div>
    </div>
  </footer>
<% end %>


<%= render partial: 'layouts/main' %>
